//
// Tabs component styles.
//

@use '../../design-tokens' as mkui;

$border-color: mkui.$gray-300 !default;
$border-width: mkui.$border-width !default;
$border-radius: mkui.$border-radius !default;
$link-hover-border-color: mkui.$gray-200 mkui.$gray-200 $border-color !default;
$link-active-color: mkui.$gray-700 !default;
$link-active-bg: mkui.$body-bg !default;
$link-active-border-color: mkui.$gray-300 mkui.$gray-300 $link-active-bg !default;

.tabs {
  border-bottom: $border-width solid $border-color;

  .tabs__label {
    display: block;
    padding: mkui.$nav-link-padding-y mkui.$nav-link-padding-x;
    @include mkui.font-size(mkui.$nav-link-font-size);
    font-weight: mkui.$nav-link-font-weight;
    color: mkui.$nav-link-color;
    text-decoration: if(mkui.$link-decoration == none, null, none);
    @include mkui.transition(mkui.$nav-link-transition);
    margin-bottom: -$border-width;
    background: none;
    border: $border-width solid transparent;
    @include mkui.border-top-radius($border-radius);

    // Disabled state lightens text
    &.disabled {
      color: mkui.$nav-link-disabled-color;
      pointer-events: none;
      cursor: default;
    }

    &:hover,
    &:focus {
      border-color: $link-hover-border-color;
      text-decoration: if(mkui.$link-hover-decoration == underline, none, null);
      // Prevents active .tabs__label tab overlapping focus outline of previous/next .tabs__label
      isolation: isolate;
    }
  }

  .tabs__label.active,
  .nav-item.show .tabs__label {
    color: $link-active-color;
    background-color: $link-active-bg;
    border-color: $link-active-border-color;
  }

  .dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: -$border-width;
    // Remove the top rounded corners here since there is a hard edge above the menu
    @include mkui.border-top-radius(0);
  }
}

// 
// Tab panels 
// 

.tab-panels {
  > .tab-panels__pane {
    display: none;
  }
  > .active {
    display: block;
  }
}