{% if context %}
  {% set all = context.all %}
  {% set previous = context.previous %}
  {% set next = context.next %}
  {% set first = context.first %}
  {% set last = context.last %}
  {% set currentPage = context.currentPage %}
  {% if context.offset %}
    {% set offset = context.offset %}
  {% else %}
    {% set offset = 2 %}
  {% endif %}
{% endif %}

<nav aria-label="Page navigation">
  <ul class="pagination">
    {% if first != currentPage %}
      <li class="page-item">
        <a class="page-link" href="{{ first | url | safe }}" aria-label="First">
          <i class="fas fa-angle-double-left"></i>
        </a>
      </li>
    {% endif %}
    {% if previous %}
      <li class="page-item">
        <a class="page-link" href="{{ previous | url | safe }}" aria-label="Previous">
          <i class="fas fa-angle-left"></i>
        </a>
      </li>
    {% endif %}
    {% for item in all | getHrefsInRange(currentPage, offset) %}
      <li
        class="page-item{% if item.href == currentPage %} active{% endif %}"
        {% if item.href == currentPage %}aria-current="page"{% endif %}
      >
        <a class="page-link" href="{{ item.href | url | safe }}">
          {{ item.paginationNumber }}
        </a>
      </li>
    {% endfor %}
    {% if next %}
      <li class="page-item">
        <a class="page-link" href="{{ next | url | safe}}" aria-label="Next">
          <i class="fas fa-angle-right"></i>
        </a>
      </li>
    {% endif %}
    {% if last != currentPage %}
      <li class="page-item">
        <a class="page-link" href="{{ last | url | safe }}" aria-label="Last">
          <i class="fas fa-angle-double-right"></i>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
