{%- if context -%}
  {% set all = context.all %}
  {% set previous = context.previous %}
  {% set next = context.next %}
  {% set first = context.first %}
  {% set last = context.last %}
  {% set currentPage = context.currentPage %}
{%- endif -%}

<nav class="d-flex justify-content-center mt-4 mt-lg-0" aria-label="Blog navigation">
  <ul class="pagination">
    {# To first page #}
    {% if first != currentPage %}
      <li class="page-item">
        <a class="page-link" href="{{ first | url | safe }}" aria-label="First">
          <i class="fas fa-angle-double-left"></i>
        </a>
      </li>
    {% endif %}
    {# To previous page #}
    {% if previous %}
      <li class="page-item">
        <a class="page-link" href="{{ previous | url | safe }}" aria-label="Previous">
          <i class="fas fa-angle-left"></i>
        </a>
      </li>
    {% endif %}
    {% for href in all %}
      {% if href == currentPage %}
        {% if previous %}
          <li class="page-item">
            <a class="page-link" href="{{ previous | url | safe }}" aria-label="Previous">
              {{ loop.index - 1 }}
            </a>
          </li>
        {% endif %}
        <li
          class="page-item {% if href == page.url %}active{% endif %}"
          {% if href == page.url %}aria-current="page"{% endif %} 
        >
          <a class="page-link" href="{{ href | url | safe }}">
            {{ loop.index }}
          </a>
        </li>
        {% if next %}
          <li class="page-item">
            <a class="page-link" href="{{ next | url | safe }}" aria-label="Next">
              {{ loop.index + 1 }}
            </a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
    {# To next page #}
    {% if next %}
      <li class="page-item">
        <a class="page-link" href="{{ next | url | safe}}" aria-label="Next">
          <i class="fas fa-angle-right"></i>
        </a>
      </li>
    {% endif %}
    {# To last page #}
    {% if last != currentPage %}
      <li class="page-item">
        <a class="page-link" href="{{ last | url | safe }}" aria-label="Last">
          <i class="fas fa-angle-double-right"></i>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
