{% if context %}
  {% set slides = context.slides %}
  {% set autoplay = context.autoplay %}
{% endif %}

<div
  class="masthead-slider swiper-container"
  {% if autoplay %}data-autoplay="{{ autoplay | e | safe }}"{% endif %}
>
  <div class="masthead-slider__wrapper swiper-wrapper">
    {% for slide in slides %}
      <div class="masthead-slider__slide swiper-slide">
        {{ slide | safe }}
      </div>
    {% endfor%}
  </div>
  <div class="masthead-slider__button-prev swiper-button-prev"></div>
  <div class="masthead-slider__button-next swiper-button-next"></div>
  <div class="masthead-slider__pagination swiper-pagination"></div>
</div>
