//
// Masthead Slider
//

@use '../../design-tokens' as mkui;
@use '../../design-tokens/sliders' as sliders;

$transition: all 0.15s linear !default;
$nav-btn-disabled-opacity: 0.25 !default;
$active-pagination-bullet-width: 1.5rem !default;
$pagination-bullets-bottom: 0.5rem !default;

.masthead-slider {
  --swiper-theme-color: #{mkui.$light};
  &__button-prev,
  &__button-next {
    display: none;
    opacity: 0;
    transition: $transition;

    &.swiper-button-disabled {
      opacity: 0;
    }

    @include mkui.media-breakpoint-up(lg) {
      display: block;
    }
  }

  &:hover &__button-prev,
  &:hover &__button-next {
    opacity: 1;

    &.swiper-button-disabled {
      opacity: $nav-btn-disabled-opacity;
    }
  }

  &__pagination {
    .swiper-pagination-bullet {
      border-radius: 5px;
      transition: $transition;

      &-active {
        width: $active-pagination-bullet-width;
      }
    }
  }

  & .masthead__children {
    padding-bottom: calc(2rem + 10px);
  }
}
