//
// Masthead slider
//

$description-font-size: 1.15rem !default;
$text-color: #f8f9fa;
$transition: all .15s linear !default;

.masthead-slider {
  --swiper-pagination-color: #{$text-color};
  --swiper-theme-color: #{$text-color};
  @media (min-width: 992px) {
    min-height: 450px;
  }
  &__slide {
    background-color: var(--masthead-background-color);
  }
  .masthead-slider__button-prev,
  .masthead-slider__button-next {
    display: none;
    @media (min-width: 992px) {
      display: block;
    }
    opacity: 0;
    &.swiper-button-disabled {
      opacity: 0;
    }
    padding: 2rem;
    transform: translateY(-50%);
    transition: $transition;
    &:hover {
      background-color: rgb(37 37 37 / 20%);
    }
    &:after {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &:hover .masthead-slider__button-prev,
  &:hover .masthead-slider__button-next {
    opacity: 1;
    &.swiper-button-disabled {
      opacity: 0.35;
    }
  }
  &__button-prev {
    @media (min-width: 1200px) {
      left: 2rem;
    }
  }
  &__button-next {
    @media (min-width: 1200px) {
      right: 2rem;
    }
  }
  &__pagination {
    &.swiper-pagination-bullets {
      bottom: 2rem;
      @media (min-width: 992px) {
        bottom: 3rem;
      }
    }
    .swiper-pagination-bullet {
      background: var(--swiper-pagination-color);
      opacity: 1;
      border-radius: 5px;
      transition: $transition;
      &-active {
        width: 25px;
      }
    }
  }
}

.masthead-slider__container {
  color: $text-color;
  padding-top: 1rem;
  padding-bottom: 4rem;
  @media (min-width: 992px) {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.masthead-slider__container-inner {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  display: flex;
  flex-flow: column;
  gap: 0.75rem;
  @media (min-width: 992px) {
    gap: 1.5rem;
  }
}

.masthead-slider__image {
  aspect-ratio: 21 / 9;
  width: 100%;
  height: auto;
  @media (min-width: 992px) {
    aspect-ratio: auto;
    height: 450px;
  }
}

.masthead-slider__title {
  margin: 0;
  max-width: 25ch;
  color: inherit;
}

.masthead-slider__divider {
  max-width: 100px;
  opacity: 1;
  color: inherit;
  margin: 0;
  height: 2px;
}

.masthead-slider__description {
  font-size: $description-font-size;
  max-width: 60ch;
  color: inherit;
}
