//
// Photo Gallery Teaser
//

$thumb-border-radius: .25rem;
$transition: all .2s ease-in-out;

.photo-gallery {
  text-decoration: none;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  &__thumb{
    border-radius: $thumb-border-radius;
    filter: brightness(0.8);
    transition: $transition;
    margin-bottom: .5rem;
    img{
      max-width: 100%;
      height: auto;
      border-radius: $thumb-border-radius;
    }
    &:hover {
      filter: brightness(1);
    }
  }
  &__body{
    text-align: center;
  }
}

.photo-gallery-dynamic{
  display: inline-block;
}