//
// Photo Gallery
//

@use '../../design-tokens/lightgallery' as lg;

$thumb-border-radius: 0.25rem;
$transition: all 0.2s ease-in-out;

.photo-gallery {
  text-decoration: none;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  &__thumb {
    border-radius: $thumb-border-radius;
    filter: brightness(0.8);
    transition: $transition;
    margin-bottom: 0.5rem;
    img {
      max-width: 100%;
      height: auto;
      border-radius: $thumb-border-radius;
    }
    &:hover {
      filter: brightness(1);
    }
  }
  &__body {
    text-align: center;
  }
}

.photo-gallery-dynamic {
  display: inline-block;
}
