<aside class="h-100">
  <a href="{{ global.site_absolute_url | url }}" class="d-block mb-5">
    <img
      src="{% CloudinaryImgUrl site.logo, { fetch_format: 'auto', quality: 'auto:best', width: 120, height: 28, dpr: 2 } %}"
      width="120"
      height="28"
      alt="{{ site.name | e | safe }}"
    >
  </a>
  <nav class="mk-docs-sidebar">
    <h5 class="mb-2">Wireframes <span class="badge bg-primary">Novo</span></h5>
    <ul class="list-unstyled ps-2">
      <li>
        <a
          href="/wireframes"
          class="{% if "/wireframes" == page.url %}link-primary{% else %}link-dark{% endif %}"
          {% if "/wireframes" == page.url %}aria-current="true"{% endif %}
        >
          O que é?
        </a>
      </li>
    </ul>
    <h5 class="mb-2">Componentes</h5>
    <ul class="list-unstyled ps-2">
      {% for component in collections.page | eleventyNavigation('home') %}
        <li>
          <a
            href="{{ component.url | url }}"
            class="{% if component.url == page.url %}link-primary{% else %}link-dark{% endif %}"
            {% if component.url == page.url %}aria-current="true"{% endif %}
          >
            {{ component.title | e | safe }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</aside>
