/**
 * Card component styles.
 */

@use 'sass:math';
@use '../../design-tokens' as mkui;

$height: mkui.$card-height !default;
$word-wrap: break-word !default;
$bg: mkui.$card-bg !default;
$background-clip: border-box !default;
$border: mkui.$card-border-width solid mkui.$card-border-color !default;
$box-shadow: mkui.$box-shadow !default;
$border-radius: mkui.$card-border-radius !default;
$inner-border-radius: $border-radius !default;

$spacer-y: mkui.$card-spacer-y !default;
$spacer-x: mkui.$card-spacer-x !default;

$color: mkui.$card-color !default;
$transition: mkui.$transition-base !default;
$hover-box-shadow: mkui.$box-shadow-hover !default;

$img-overlay-padding: mkui.$card-img-overlay-padding !default;
$img-overlay-filter: brightness(0.75) !default;
$cap-padding-y: mkui.$card-cap-padding-y !default;
$cap-padding-x: mkui.$card-cap-padding-x !default;
$cap-color: mkui.$card-cap-color !default;
$cap-bg: mkui.$card-cap-bg !default;

$group-margin: mkui.$card-group-margin !default;

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: $height;
  word-wrap: $word-wrap;
  background-color: $bg;
  background-clip: $background-clip;
  border: $border;
  box-shadow: $box-shadow;
  @include mkui.border-radius($border-radius);

  > hr {
    margin-right: 0;
    margin-left: 0;
  }

  > .list-group {
    border-top: inherit;
    border-bottom: inherit;

    &:first-child {
      border-top-width: 0;
      @include mkui.border-top-radius($inner-border-radius);
    }

    &:last-child {
      border-bottom-width: 0;
      @include mkui.border-bottom-radius($inner-border-radius);
    }
  }
  > .card__header + .list-group,
  > .list-group + .card__footer {
    border-top: 0;
  }
}

.card__link {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.card__body {
  flex: 1 1 auto;
  position: static;
  padding: $spacer-y * 0.75 $spacer-x * 0.75;
  @include mkui.media-breakpoint-up(lg) {
    padding: $spacer-y $spacer-x;
  }
  color: $color;
}

.card__body--icon-left {
  @include mkui.media-breakpoint-up(lg) {
    display: grid;
    grid-auto-columns: 50px 1fr;
    grid-auto-rows: min-content;
    .card__icon {
      grid-column: 1;
      grid-row: span 2;
    }
    > * {
      grid-column: 2;
    }
  }
}

.card--interactive {
  transition: $transition;
}

.card--interactive:hover {
  box-shadow: $hover-box-shadow;
}

.card--interactive .card__body {
  transition: $transition;
  a:not(.stretched-link) {
    position: relative;
    z-index: 2;
  }
}

.card--interactive:hover .card__body {
  transform: translateY(-(math.div($spacer-y, 4)));
}

.card__header {
  padding: $cap-padding-y $cap-padding-x;
  margin-bottom: 0;
  color: $cap-color;
  background-color: $cap-bg;
  border-bottom: $border;

  &:first-child {
    @include mkui.border-radius($inner-border-radius $inner-border-radius 0 0);
  }
}

.card__footer {
  padding: $cap-padding-y $cap-padding-x;
  color: $cap-color;
  background-color: $cap-bg;
  border-top: $border;

  &:last-child {
    @include mkui.border-radius(0 0 $inner-border-radius $inner-border-radius);
  }
}

.card__header-tabs {
  margin-right: -$cap-padding-x * 0.5;
  margin-bottom: -$cap-padding-y;
  margin-left: -$cap-padding-x * 0.5;
  border-bottom: 0;

  @if mkui.$nav-tabs-link-active-bg != mkui.$card-bg {
    .nav-link.active {
      background-color: $bg;
      border-bottom-color: $bg;
    }
  }
}

.card__header-pills {
  margin-right: -$cap-padding-x * 0.5;
  margin-left: -$cap-padding-x * 0.5;
}

.card__img {
  display: block;
  position: relative;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.card__img--top {
  @include mkui.border-top-radius($inner-border-radius);
}

.card__img--bottom {
  @include mkui.border-bottom-radius($inner-border-radius);
}

.card__group {
  > .card {
    margin-bottom: $group-margin;
  }

  @include mkui.media-breakpoint-up(sm) {
    display: flex;
    flex-flow: row wrap;
    > .card {
      flex: 1 0 0%;
      margin-bottom: 0;

      + .card {
        margin-left: 0;
        border-left: 0;
      }

      @if mkui.$enable-rounded {
        &:not(:last-child) {
          @include mkui.border-end-radius(0);

          .card__img-top,
          .card__header {
            border-top-right-radius: 0;
          }
          .card__img-bottom,
          .card__footer {
            border-bottom-right-radius: 0;
          }
        }

        &:not(:first-child) {
          @include mkui.border-start-radius(0);

          .card__img-top,
          .card__header {
            border-top-left-radius: 0;
          }
          .card__img-bottom,
          .card__footer {
            border-bottom-left-radius: 0;
          }
        }
      }
    }
  }
}

.card--overlay {
  .card__body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: $img-overlay-padding;
    @include mkui.border-radius($inner-border-radius);
  }
  .card__img {
    @include mkui.border-top-radius($inner-border-radius);
    @include mkui.border-bottom-radius($inner-border-radius);
    filter: $img-overlay-filter;
  }
}
