{% if context %}
  {% set header = context.header %}
  {% set image = context.image %}
  {% set body = context.body %}
  {% set overlay = context.overlay %}
  {% set link = context.link %}
  {% set override_classes = context.override_classes %}
{% endif %}

<div class="
    card
    {% if link %}
    card--interactive
    {% endif %}
    {% if overlay %}
    card--overlay
    {% endif %}
    {% if override_classes %}
    {{ override_classes | join(" ") | safe }}
    {% endif %}
  ">
  {% if link %}
  <a class="card__link" href="{{ link | url | safe }}"></a>
  {% endif %}
  {% if header %}
  <div class="card__header">{{ header | safe }}</div>
  {% endif %}
  {% if image %}
  <img
    src="{% imageUrl image.url, { crop: 'thumb', width: image.width, height: image.height, quality: 'auto', fetch: 'auto' } %}"
    srcset="{% imageUrl image.url, { crop: 'thumb', width: image.width', height: image.height, dpr: 2, quality: 'auto', fetch: 'auto' } %} 2x"
    width="{{ image.width | e | safe }}"
    height="{{ image.height | e | safe }}"
    loading="lazy"
    class="card__img card__img--top"
    alt="{{ image.alt | e | safe }}"
    title="{{ image.title | e | safe }}"
  >
  {% endif %}
  {% if body %}
  <div class="card__body">{{ body | safe }}</div>
  {% endif %}
</div>
