//
// Post preview component styles.
//

@use 'sass:math';
@use '../../design-tokens' as mkui;
@use '../../components/button' as btn;

$title-font-size: mkui.$h3-font-size !default;
$title-font-family: mkui.$headings-font-family !default;
$title-font-weight: mkui.$headings-font-weight !default;
$title-transition: mkui.$transition-base !default;

$excerpt-font-size: 0.9rem !default;

// Dark
$dark-title-color: mkui.$black !default;
$dark-title-link-color: mkui.$black !default;
$dark-title-link-color-hover: mkui.$black !default;
$dark-date-color: mkui.$black !default;
$dark-excerpt-color: mkui.$text-muted !default;

// Light
$light-title-color: mkui.$white !default;
$light-title-link-color: mkui.$white !default;
$light-title-link-color-hover: mkui.$white !default;
$light-date-color: mkui.$white !default;
$light-excerpt-color: mkui.$text-muted !default;

.post-preview {
  position: relative;
  display: flex;
  gap: 1rem;
  flex-direction: column;

  &__title-link {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  &__title {
    margin-bottom: 0;
    font-family: $title-font-family;
    @include mkui.font-size($title-font-size);
    font-weight: $title-font-weight;
    transition: $title-transition;
  }

  &__excerpt {
    @include mkui.font-size($excerpt-font-size);
    margin-bottom: 0;
  }

  &__date {
    display: flex;
    align-items: center;
    gap: math.div(mkui.$spacer, 2);
    > time {
      display: block;
    }
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  &--dark {
    .post-preview__title-link {
      color: $dark-title-link-color;
      &:hover {
        color: $dark-title-link-color-hover;
      }
    }
    .post-preview__title {
      color: $dark-title-color;
    }
    .post-preview__date {
      color: $dark-date-color;
    }
    .post-preview__excerpt {
      color: $dark-excerpt-color;
    }
  }

  &--light {
    .post-preview__title-link {
      color: $light-title-link-color;
      &:hover {
        color: $light-title-link-color-hover;
      }
    }
    .post-preview__title {
      color: $light-title-color;
    }
    .post-preview__date {
      color: $light-date-color;
    }
    .post-preview__excerpt {
      color: $light-excerpt-color;
    }
  }
}
