//
// Post preview component
//
.post-preview {
    background: $white;
    box-shadow: $box-shadow;
    transition: $transition-base;
    border-radius: $border-radius;
    overflow: hidden;
    position: relative;
    .swiper-slide & {
        height: 100%;
    }
    &__thumbnail {
        position: relative;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        background-color: $light;
    }
    &__description {
        padding: 0.75rem;
        @include media-breakpoint-up(lg) {
            padding: 1.25rem 1.5rem;
        }
    }
    &__link {
        text-decoration: none;
        color: $body-color;
        &:hover {
            text-decoration: none;
            color: $body-color;
        }
    }
    &__title {
        font-family: $font-family-base;
        @include font-size($h3-font-size);
        font-weight: $headings-font-weight;
        transition: $transition-base;
        margin-bottom: 0.75rem;
        @include media-breakpoint-up(lg) {
            margin-bottom: 1rem;
        }
    }
    &__excerpt {
        color: tint-color($body-color, 20%);
        margin-bottom: 0.75rem;
        font-size: 85%;
        @include media-breakpoint-up(lg) {
            margin-bottom: 1rem;
            font-size: 90%;
        }
    }
    &__meta {
        display: block;
        margin-bottom: 0.75rem;
        font-size: 85%;
        line-height: $line-height-sm;
        @include media-breakpoint-up(lg) {
            margin-bottom: 1rem;
            line-height: $line-height-base;
        }
    }
    &__author-name {
        display: block;
    }
    &__date {
        display: block;
    }
    &__categories {
        display: flex;
        flex-wrap: wrap;
        margin-right: -0.25rem;
        margin-left: -0.25rem;
    }
    &__category {
        color: $body-color;
        @extend .btn-outline-primary;
        transition: $transition-base;
        border-style: solid;
        border-width: $border-width;
        border-color: tint-color($border-color, 20%);
        border-radius: 50rem;
        padding: $btn-padding-y-sm / 2 $btn-padding-x-sm / 2;
        margin-right: 0.25rem;
        margin-bottom: 0.25rem;
        margin-left: 0.25rem;
        font-size: 75%;
        @include media-breakpoint-up(lg) {
            @include font-size($btn-font-size-sm);
        }
        &:hover {
            text-decoration: none;
        }
    }
}