---
eleventyNavigation:
  key: header
  title: Header
metadata:
  title: Header
  description:
---
<h1>{{ metadata.title }}</h1>

{% set navbarLinks = [
      {
        url: "",
        title: "Home"
      },
      {
        url: "",
        title: "Quem Somos"
      }
    ] %}

{%- set socialLinks = [
        {
          href:  'https://instagram.com',
          icon: 'instagram'
        },
        {
          href:  'https://facebook.com',
          icon: 'facebook'
        },
        {
          href:  'https://youtube.com',
          icon: 'youtube'
        },
        {
          href:  'https://linkedin.com',
          icon: 'linkedin'
        },
        {
          href:  'https://whatsapp.com',
          icon: 'whatsapp'
        }
      ] %}

<p>Header Simples</p>
<div class="bg-primary mb-2">
  {% set context = {
    links: navbarLinks,
    theme: "light",
    align: "end"
  } %}
  {% include "header/header-1.njk" %}
</div>


<p>Header com Botão</p>
<div class="bg-light">
  {% set context = {
    links: navbarLinks,
    theme: "light",
    align: "start",
    button:{
      url: "/",
      text: "Botão"
    }
  } %}
  {% include "header/header-2.njk" %}
</div>


<p>Header com Social Bar</p>
<div class="bg-primary mb-2">
  {% set context = {
    links: navbarLinks,
    socials: socialLinks,
    theme: "light",
    align: "center"
  } %}
  {% include "header/header-3.njk" %}
</div>
