---
eleventyNavigation:
  key: hero
  title: Hero
metadata:
  title: Hero
  description:
sample:
  title: Ut enim ad minim veniam
  description: Luctus venenatis lectus magna fringilla urna porttitor rhoncus dolor. Sit amet mauris commodo quis imperdiet massa tincidunt nunc.
  highlight: Occaecat
  image:
    src: https://res.cloudinary.com/webmaster-marke/image/upload/v1626966856/Afinal-o-que-%C3%A9-SEO-e-qual-a-import%C3%A2ncia-de-otimizar-um-site.jpg
    alt: lorem ipsum
    classes:
      - rounded-3
      - shadow
---

<h1>{{ metadata.title }}</h1>

{% set context = {
  title: {
    text: sample.title
  },
  highlight: sample.highlight,
  description: sample.description,
  image: sample.image
} %}
{% include "hero/hero-1.njk" %}
