//
// Base styles
//

@use '../../design-tokens' as mkui;

$font-family: mkui.$btn-font-family !default;
$font-weight: mkui.$btn-font-weight !default;
$font-size: mkui.$btn-font-size !default;
$line-height: mkui.$btn-line-height !default;
$text-decoration: mkui.$link-decoration !default;
$text-transform: none !default;
$white-space: mkui.$btn-white-space !default;

$color: mkui.$body-color !default;
$cursor: pointer !default;
$border: mkui.$btn-border-width solid transparent !default;
$border-radius: mkui.$btn-border-radius !default;
$transition: mkui.$btn-transition !default;

$padding-y: mkui.$btn-padding-y !default;
$padding-x: mkui.$btn-padding-x !default;

// hover properties
$hover-color: mkui.$body-color !default;
$hover-text-decoration: none !default;

// focus properties
$focus-box-shadow: mkui.$btn-focus-box-shadow !default;

// active properties
$active-box-shadow: mkui.$btn-active-box-shadow !default;

// disabled properties
$disabled-opacity: mkui.$btn-disabled-opacity !default;

// lg size properties
$padding-y-lg: mkui.$btn-padding-y-lg !default;
$padding-x-lg: mkui.$btn-padding-x-lg !default;
$font-size-lg: mkui.$btn-font-size-lg !default;
$border-radius-lg: mkui.$btn-border-radius-lg !default;

// sm size properties
$padding-y-sm: mkui.$btn-padding-y-sm !default;
$padding-x-sm: mkui.$btn-padding-x-sm !default;
$font-size-sm: mkui.$btn-font-size-sm !default;
$border-radius-sm: mkui.$btn-border-radius-sm !default;

.btn {
  display: inline-block;
  font-family: $font-family;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
  text-align: center;
  text-decoration: if($text-decoration == none, null, none);
  text-transform: $text-transform;
  white-space: $white-space;
  vertical-align: middle;
  cursor: $cursor;
  user-select: none;
  background-color: transparent;
  border: $border;
  @include mkui.button-size($padding-y, $padding-x, $font-size, $border-radius);
  @include mkui.transition($transition);

  &:hover {
    color: $hover-color;
    text-decoration: $hover-text-decoration;
  }

  .btn-check:focus + &,
  &:focus {
    outline: 0;
    box-shadow: $focus-box-shadow;
  }

  .btn-check:checked + &,
  .btn-check:active + &,
  &:active,
  &.active {
    @include mkui.box-shadow($active-box-shadow);

    &:focus {
      @include mkui.box-shadow($focus-box-shadow, $active-box-shadow);
    }
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    pointer-events: none;
    opacity: $disabled-opacity;
    @include mkui.box-shadow(none);
  }
}

//
// Alternate buttons
//

// scss-docs-start btn-variant-loops
@each $color, $value in mkui.$theme-colors {
  .btn--#{$color} {
    @include mkui.button-variant($value, $value);
  }
}

@each $color, $value in mkui.$theme-colors {
  .btn--outline-#{$color} {
    @include mkui.button-outline-variant($value);
  }
}
// scss-docs-end btn-variant-loops

//
// Button Sizes
//

.btn--lg {
  @include mkui.button-size($padding-y-lg, $padding-x-lg, $font-size-lg, $border-radius-lg);
}

.btn--sm {
  @include mkui.button-size($padding-y-sm, $padding-x-sm, $font-size-sm, $border-radius-sm);
}
