---
permalink: /sitemap-pages.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.page %}
  {%- set absoluteUrl %}{{ page.url | url | absoluteUrl(global.site_absolute_url) }}{% endset %}
  {%- if page.url %}
  <url>
    <loc>{{ absoluteUrl }}</loc>
    <lastmod>{{ page.date | ISODate }}</lastmod>
  </url>
  {%- endif %}
{%- endfor %}
</urlset>