{%- if context -%}
  {% set startItems = context.startItems %}
  {% set endItems = context.endItems %}
  {% set extraClasses = context.extraClasses %}
  {%- if context.variant and context.variant == 'dark' or context.variant == 'light' -%}
    {% set variant = "actionbar--" + context.variant %}
  {%- else -%}
    {% set variant = "actionbar--dark" %}
  {%- endif -%}
{%- endif -%}

{% set icons = [] %}
{% set allItems = startItems.concat(endItems) %}

{# Loop through all items and get just the icons #}
{%- for item in allItems -%}
  {%- if item.icon -%}
    {% set icons = (icons.push(item.icon), icons) %}
  {% endif -%}
{% endfor -%}

{% macro addItem(item) %}
<div class="actionbar__item">
  {% if item.href %}
    <a class="actionbar__link" href="{{ item.href | url | safe }}">
  {% endif %}
  {% if item.icon == "facebook" %}
    <i class="actionbar__icon fab fa-facebook-square"></i>
  {% endif %}
  {% if item.icon == "linkedin" %}
    <i class="actionbar__icon fab fa-linkedin"></i>
  {% endif %}
  {% if item.icon == "youtube" %}
    <i class="actionbar__icon fab fa-youtube-square"></i>
  {% endif %}
  {% if item.icon == "instagram" %}
    <i class="actionbar__icon fab fa-instagram-square"></i>
  {% endif %}
  {% if item.text %}
    <span>{{ item.text | e | safe }}</span>
  {% endif %}
  {% if item.href %}
    </a>
  {% endif %}
</div>
{% endmacro %}

<aside class="actionbar {{ variant | safe }} {%- if extraClasses %}{{ extraClasses | join(" ") | safe }}{% endif %}"
{%- if icons.length > 0 %}data-icons="{{ icons | join(",") }}"{% endif %}>
  <div class="actionbar__container">
    <div class="actionbar__start-items">
      {%- for item in startItems -%}
        {{ addItem(item) }}
      {%- endfor -%}
    </div>
    <div class="actionbar__end-items">
      {%- for item in endItems -%}
        {{ addItem(item) }}
      {%- endfor -%}
    </div>
  </div>
</aside>