// 
// Action bar
//

$padding-y: .15rem !default;
$padding-x: 0 !default;
$item-padding-y: .35rem !default;
$item-padding-x: .5rem !default;
$link-hover-decoration: underline !default;

// dark styles
$dark-color: rgba(#f8f9fa, 0.9) !default;
$dark-hover-color: #f8f9fa !default;

// light styles
$light-color: rgba(#212529, 0.9)  !default;
$light-hover-color: #212529 !default;


.actionbar {
  padding-top: $padding-y;
  padding-right: $padding-x;
  padding-bottom: $padding-y;
  padding-left: $padding-x;
}

.actionbar__container {
  display: flex;
  justify-content: space-between;
}

.actionbar--dark {
  color: $dark-color;
  a {
    color: $dark-color;
    &:hover {
      color: $dark-hover-color;
      text-decoration: $link-hover-decoration;
    }
  }
}

.actionbar--light {
  color: $light-color;
  a {
    color: $light-color;
    &:hover {
      color: $light-hover-color;
      text-decoration: $link-hover-decoration;
    }
  }
}

.actionbar__start-items,
.actionbar__end-items {
  display: flex;
}

.actionbar__item,
.actionbar__link {
  display: grid;
  grid-gap: 0.33rem;
  grid-auto-flow: column;
  align-items: center;
}

.actionbar__item {
  padding-top: $item-padding-y;
  padding-right: $item-padding-x;
  padding-bottom: $item-padding-y;
  padding-left: $item-padding-x;
}

.actionbar__icon.svg-inline--fa {
  height: 1.25em;
  vertical-align: -0.275em;
  width: 1em;
}