---
eleventyNavigation:
  key: actionbar
  title: Action Bar
---
<h1>Action Bar</h1>
<p>Lorem ipsum dolor sit amet, stet intellegat cu mei, pertinax oportere at sea. Eos an mutat blandit. Nec at nisl volumus appellantur, an his brute quodsi. Sit ceteros contentiones at, te summo discere pro.</p>

<h2>Exemplo</h2>
<div class="docs-example p-3">
  <div class="bg-primary px-3">
    {%- set context = {
      "variant": "dark",
      "startItems": [
        {
          "text": '(88) 9999-999',
          "href": '889999999',
          "icon": "whatsapp"
        }
      ],
      "centerItems": [
        {
          "text": 'Lorem ipsum dolor sit amet, stet intellegat'
        }
      ],
      "endItems": [
        {
          "icon": "phone",
          "text": "(51) 9999-9999",
          "href": 'tel:555199999999'
        }
      ]
    } %}
    {% include "actionbar/actionbar.njk" %}
  </div>
</div>

<h2>Com ícones</h2>
<div class="docs-example p-3">
  <div class="bg-primary px-3">
    {%- set context = {
      "variant": "dark",
      "startItems": [
        {
          "href": 'mailto:email@email.com',
          "icon": "mail"
        },
        {
          "href": '889999999',
          "icon": "phone"
        },
        {
          "href": '889999999',
          "icon": "whatsapp"
        }
      ],
      "endItems": [
        {
          "icon": "facebook",
          "href": 'https://facebook.com'
        },
        {
          "icon": "instagram",
          "href": 'https://instagram.com'
        },
        {
          "icon": "linkedin",
          "href": 'https://linkedin.com'
        },
        {
          "icon": "youtube",
          "href": 'https://youtube.com'
        }
      ]
    } %}
    {% include "actionbar/actionbar.njk" %}
  </div>
</div>

<h2>Com ícones quadrados</h2>
<div class="docs-example p-3">
  <div class="bg-primary px-3">
    {%- set context = {
      "variant": "dark",
      "squareIcons": "true",
      "startItems": [
        {
          "href": 'mailto:email@email.com',
          "icon": "mail"
        },
        {
          "href": '889999999',
          "icon": "phone"
        },
        {
          "href": '889999999',
          "icon": "whatsapp"
        }
      ],
      "endItems": [
        {
          "icon": "facebook",
          "href": 'https://facebook.com'
        },
        {
          "icon": "instagram",
          "href": 'https://instagram.com'
        },
        {
          "icon": "linkedin",
          "href": 'https://linkedin.com'
        },
        {
          "icon": "youtube",
          "href": 'https://youtube.com'
        }
      ]
    } %}
    {% include "actionbar/actionbar.njk" %}
  </div>
</div>

<h2>Variação clara</h2>
<div class="docs-example p-3">
  <div class="bg-light px-3">
    {%- set context = {
      "variant": "light",
      "startItems": [
        {
          "icon": "phone",
          "text": "(51) 9999-9999",
          "href": 'tel:555199999999'
        }
      ],
      "endItems": [
        {
          "icon": "youtube",
          "href": 'https://youtube.com'
        },
        {
          "icon": "instagram",
          "href": 'https://instagram.com'
        }
      ]
    } %}
    {% include "actionbar/actionbar.njk" %}
  </div>
</div>

<h2>Items com HTML personalizado</h2>
<div class="docs-example p-3">
  <div class="bg-light px-3">
    {% set selectField %}
      <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    {% endset %}
    {% set badgeField %}
      <button type="button" class="btn btn-primary position-relative">
        Inbox
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          99+
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
    {% endset %}
    {%- set context = {
      variant: 'light',
      startItems: [
        {
          icon: 'phone',
          text: '(51) 9999-9999',
          href: 'tel:555199999999'
        }
      ],
      endItems: [
        {
          html: selectField
        },
        {
          html: badgeField
        }
      ]
    } %}
    {% include 'actionbar/actionbar.njk' %}
  </div>
</div>
