---
eleventyNavigation:
  key: breadcrumb
  title: Breadcrumb
metadata:
  title: Breadcrumb
  description: O Breadcrumb permite a exibição de forma ordenada da hierarquia das páginas e subpáginas de sessões do site.
breadcrumbItems:
  - url: '#'
    title: Home
  - url: '#'
    title: Subpágina
  - url: '#'
    title: Subpágina
  - url: '#'
    title: Subpágina
  - url: '#'
    title: Subpágina
---

<h1>{{ metadata.title }}</h1>
<p>{{ metadata.description }}</p>

<section>
<h2 class="pt-4">Exemplo</h2>
<div class="docs-example">
{% set context = {
  items: [
    { url: '#', title: 'Home' },
    { url: '#', title: 'Subpágina' },
    { url: '#', title: 'Subpágina' },
    { url: '#', title: 'Subpágina' }
  ]
} %}
{% include "breadcrumb/breadcrumb.njk" %}
</div>
{% highlight 'liquid' %}
{% raw %}
{% set context = {
  items: [
    { url: '#', title: 'Home' },
    { url: '#', title: 'Subpágina' },
    { url: '#', title: 'Subpágina' },
    { url: '#', title: 'Subpágina' }
  ]
} %}
{% include "breadcrumb/breadcrumb.njk" %}
{% endraw %}
{% endhighlight %}
</section>

<section>
<h2 class="pt-4">Divisor personalizado</h2>
<div class="docs-example">
{% set context = {
  items: [
    { url: '#', title: 'Home' },
    { url: '#', title: 'Subpágina' },
    { url: '#', title: 'Subpágina' },
    { url: '#', title: 'Subpágina' }
  ],
  divider: '>'
} %}
{% include "breadcrumb/breadcrumb.njk" %}
</div>
{% highlight 'liquid' %}
{% raw %}
{% set context = {
  items: [
    { url: '#', title: 'Home' },
    { url: '#', title: 'Subpágina' },
    { url: '#', title: 'Subpágina' },
    { url: '#', title: 'Subpágina' }
  ],
  divider: '>'
} %}
{% include "breadcrumb/breadcrumb.njk" %}
{% endraw %}
{% endhighlight %}
</section>
