---
eleventyNavigation:
  key: pagination
  title: Pagination
metadata:
  title: Pagination
  description: Componente para organização dos posts em páginas.
hrefs:
  - /lorem-ipsum-1
  - /lorem-ipsum-2
  - /lorem-ipsum-3
  - /lorem-ipsum-4
  - /lorem-ipsum-5
  - /lorem-ipsum-6
  - /lorem-ipsum-7
  - /lorem-ipsum-8
  - /lorem-ipsum-9
  - /lorem-ipsum-10
  - /lorem-ipsum-11
---
<h1>{{ metadata.title | e | safe }}</h1>
<p>{{ metadata.description | e | safe }}</p>

<section>
<h2 class="pt-4">Exemplo de Pagination</h2>
<div class="docs-example">
{% set context = {
  all: hrefs,
  previous: hrefs[3],
  next: hrefs[5],
  first: hrefs[0],
  last: hrefs[(hrefs | length) - 1],
  currentPage: hrefs[4]
} %}
{% include "pagination/pagination.njk" %}
</div>
{% highlight 'liquid' %}
{% raw %}
{% set context = {
  all: hrefs,
  previous: hrefs[3],
  next: hrefs[5],
  first: hrefs[0],
  last: hrefs[(hrefs | length) - 1],
  currentPage: hrefs[4]
} %}
{% include "pagination/pagination.njk" %}
{% endraw %}
{% endhighlight %}
</section>

<section>
<h2 class="pt-4">Pagination com offset definido</h2>
<p>A variável offset, se definida, define um número máximo de items que serão exbidos antes e depois do item ativo. Este exemplo demonstra com 3, por padrão a propriedade está definida com 2.</p>
<div class="docs-example">
{% set context = {
  all: hrefs,
  previous: hrefs[3],
  next: hrefs[5],
  first: hrefs[0],
  last: hrefs[(hrefs | length) - 1],
  currentPage: hrefs[4],
  offset: 3
} %}
{% include "pagination/pagination.njk" %}
</div>
{% highlight 'liquid' %}
{% raw %}
{% set context = {
  all: hrefs,
  previous: hrefs[6],
  next: hrefs[8],
  first: hrefs[0],
  last: hrefs[(hrefs | length) - 1],
  currentPage: hrefs[7],
  offset: 3
} %}
{% include "pagination/pagination.njk" %}
{% endraw %}
{% endhighlight %}
</section>
