---
eleventyNavigation:
  key: tabs
  title: Tabs
metadata:
  title: Tabs
  description: Componente para inserir um grupo de guias em um único painel.
---

<h1>{{metadata.title}}</h1>
<p>{{metadata.description}}</p>

<section id="tabs">
  <h2>Exemplo de Tabs</h2>
  <div class="docs-example">
    {%- set examplePanel1 %}
    <div class="p-3">
      <h5>Título da Primeira Guia</h5>
      <p>Dentro da guia pode ser usado qualquer texto.</p>
    </div>
    {%- endset %}
    {%- set examplePanel2 %}
    <div class="p-3">
      <h5>Título Segunda Guia</h5>
      <p>O texto pode incluir <b>marcações</b> necessárias para seu conteúdo.</p>
    </div>
    {%- endset %}
    {%- set examplePanel3 %}
    <div class="p-3">
      <h5>Título Terceira Guia</h5>
      <p>Dentro de uma guia pode haver múltiplos títulos.</p>
      <h6>Subtítulo Terceira Guia</h6>
      <p>E seu texto separado.</p>
    </div>
    {%- endset %}
    {%
      set context = {
        id: 'example',
        items: [
        {
          label: "Primeira Guia",
          panel: examplePanel1
        },
        {
          label: "Segunda Guia",
          panel: examplePanel2
        },
        {
          label: "Terceira Guia",
          panel: examplePanel3
        }
      ]
      }
    %}
    {% include "tabs/tabs.njk" %}
  </div>

{% highlight 'liquid' %}
  {% raw %}
<div class="docs-example">
  {%- set examplePanel1 %}
  <div class="p-3">
    <h5>Título da Primeira Guia</h5>
    <p>Dentro da guia pode ser usado qualquer texto.</p>
  </div>
  {%- endset %}
  {%- set examplePanel2 %}
  <div class="p-3">
    <h5>Título Segunda Guia</h5>
    <p>O texto pode incluir <b>marcações</b> necessárias para seu conteúdo.</p>
  </div>
  {%- endset %}
  {%- set examplePanel3 %}
  <div class="p-3">
    <h5>Título Terceira Guia</h5>
    <p>Dentro de uma guia pode haver múltiplos títulos.</p>
    <h6>Subtítulo Terceira Guia</h6>
    <p>E seu texto separado.</p>
  </div>
  {%- endset %}
  {%
    set context = {
      id: 'example',
      items: [
      {
        label: "Primeira Guia",
        panel: examplePanel1
      },
      {
        label: "Segunda Guia",
        panel: examplePanel2
      },
      {
        label: "Terceira Guia",
        panel: examplePanel3
      }
    ]
    }
  %}
  {% include "tabs/tabs.njk" %}
</div>
  {% endraw %}
{% endhighlight %}
</section>

<section id="scss">
  <h2 class="pt-4">Scss</h2>
  <h4>Variáveis</h4>
  {% highlight 'scss' %}
$border-color: mkui.$gray-300 !default;
$border-width: mkui.$border-width !default;
$border-radius: mkui.$border-radius !default;
$link-hover-border-color: mkui.$gray-200 mkui.$gray-200 $border-color !default;
$link-active-color: mkui.$gray-700 !default;
$link-active-bg: mkui.$body-bg !default;
$link-active-border-color: mkui.$gray-300 mkui.$gray-300 $link-active-bg !default;
  {% endhighlight %}
</section>
