
{%- if context %}
  {%- set show = context.show %}
  {%- set items = context.items %}
{%- endif %}
{%- if items %}
    {%- if show %} 
        <div class="toast-stack d-block"></div> 
    {%- else %}
        <div class="toast-stack d-none"></div> 
    {%- endif %}
    
    {%- for item in items %}
    <div id="{{ item.id }}" 
        data-type="{{ item.type }}" 
        data-message="{{ item.message }}" 
        data-vertical="{{ item.vertical }}" 
        data-horizontal="{{ item.horizontal }}" 
        data-autohide="{{ item.autohide }}" 
        class="toast {{ item.extraclass }}">
    </div>
    {%- endfor %}
{%- endif %}