{%- if context -%}
  {% set items = context.items %}
  {% set showPagination = context.showPagination %}
  {% set showNavs = context.showNavs %}
  {% set total = context.total %}
  {% set minSlidesPerView = context.minSlidesPerView %}
  {% set visibleOverflow = context.visibleOverflow %}
  {%- if context.minSlidesPerView %}
    {% set minSlidesPerView = context.minSlidesPerView %}
  {%- else %}
    {% set minSlidesPerView = 1 %}
  {%- endif %}
  {%- if context.maxSlidesPerView %}
    {% set maxSlidesPerView = context.maxSlidesPerView %}
  {%- else %}
    {% set maxSlidesPerView = 3 %}
  {%- endif %}
{%- endif -%}

<div
  class="carousel{% if visibleOverflow %} carousel--visible-overflow{% endif %}"
  data-min-slides-per-view="{{ minSlidesPerView | safe }}"
  data-max-slides-per-view="{{ maxSlidesPerView | safe }}"
  style="
    --carousel-min-slides: {{ minSlidesPerView | e | safe }};
    --carousel-max-slides: {{ maxSlidesPerView | e | safe }};
  "
>
  <div class="carousel__container swiper-container">
    <div class="carousel__wrapper swiper-wrapper">
      {% for item in items %}
        <div class="carousel__slide swiper-slide">
          {{ item | safe }}
        </div>
      {% endfor %}
    </div>

    <div class="carousel__pagination swiper-pagination"></div>
  </div>
  {% if showNavs %}
    <div class="carousel__button-prev swiper-button-prev"></div>
    <div class="carousel__button-next swiper-button-next"></div>
  {% endif %}
</div>