{%- if context -%}
  {% set navbarLinks = context.navbarLinks %}
  {% set currentPage = context.currentPage %}
  {% set brandLogo = context.brandLogo %}
  {% set brandLogoMobile = context.brandLogoMobile %}
  {% set brandUrl = context.brandUrl %}
  {%- if context.brandLogoWidth -%}
    {% set brandLogoWidth = context.brandLogoWidth %}
  {%- else -%}
    {% set brandLogoWidth = 120 %}
  {%- endif -%}
  {%- if context.brandLogoMobileWidth -%}
    {% set brandLogoMobileWidth = context.brandLogoMobileWidth %}
  {%- else -%}
    {% set brandLogoMobileWidth = 50 %}
  {%- endif -%}
  {%- if context.variant -%}
    {% set variant = context.variant %}
  {%- else -%}
    {% set variant = 'dark' %}
  {%- endif -%}
  {%- if context.expand -%}
    {% set expand = context.expand %}
  {%- else -%}
    {% set expand = 'lg' %}
  {%- endif -%}
{%- endif -%}

<nav class="navbar navbar-{{ variant | e | safe }} navbar-expand-{{ expand | e | safe }}">
  <a class="navbar-brand" href="{{ brandUrl | url | safe }}">
    <img 
      class="img-fluid d-block d-lg-none"
      alt="Logo"
      width="{{ brandLogoMobileWidth }}"
      src="{%- imageUrl brandLogoMobile, { fetch_format: 'auto', quality: 'auto', dpr: 2, width: brandLogoWidth } %}"
    >
    <img 
      class="img-fluid d-none d-lg-block"
      alt="Logo"
      width="{{ brandLogoWidth }}"
      src="{%- imageUrl brandLogo, { fetch_format: 'auto', quality: 'auto', dpr: 2, width: brandLogoWidth } %}"
    >
  </a>
  <ul class="navbar-nav">
    {%- for entry in navbarLinks %}
    {%- if not entry.navbar.hidden %}
    <li class="nav-item{% if entry.children | length %} dropdown{% endif %}">
      {{ entry | navbarLink(currentPage) | safe }}
      {%- if entry.children | length > 0 and not entry.navbar.hideChildren %}
        <div class="dropdown-menu dropdown-menu-dark dropdown-menu--navbar dropdown-menu-md-right" aria-labelledby="dropdown-menu-{{ entry.title | slug | safe }}">
          <a class="dropdown-item{% if entry.url == page.url %} active{% endif %}" href="{{ entry.url | url }}">
            {%- if entry.navbar.dropdownTitle %}
            <span>{{ entry.navbar.dropdownTitle | e | safe }}</span>
            {% else %}
            <span>Todos {{ entry.title | e | safe }}</span>
            {% endif %}
          </a>
          {%- if not entry.navbar.hideDivider %}
          <div class="dropdown-divider"></div>
          {% endif %}
          {%- for child in entry.children %}
            <a class="dropdown-item{% if child.url == page.url %} active{% endif %}" href="{{ child.url | url }}">{{ child.title | e | safe }}</a>
          {%- endfor %}
        </div>
      {% endif %}
    </li>
    {% endif %}
    {%- endfor %}
  </ul>
  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarExample" aria-controls="offcanvasNavbarExample">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="offcanvas offcanvas-start bg-primary" tabindex="-1" id="offcanvasNavbarExample">
    <div class="offcanvas-header">
      <div class="offcanvas-title" id="offcanvasNavbarExample-label">
        <img 
          class="img-fluid"
          alt="Logo"
          width="{{ brandLogoMobileWidth }}"
          src="{%- imageUrl brandLogoMobile, { fetch_format: 'auto', quality: 'auto', dpr: 2, width: brandLogoWidth } %}"
        >
      </div>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>