{%- if context -%}
  {% set navbarLinks = context.navbarLinks %}
  {% set navPosition = context.navPosition %}
  {% set currentPage = context.currentPage %}
  {% set brandLogo = context.brandLogo %}
  {% set brandLogoMobile = context.brandLogoMobile %}
  {% set brandUrl = context.brandUrl %}
  {% set extraNavItems = context.extraNavItems %}
  {% set extraOffcanvasContent = context.extraOffcanvasContent %}
  {%- if context.brandLogoWidth -%}
    {% set brandLogoWidth = context.brandLogoWidth %}
  {%- else -%}
    {% set brandLogoWidth = 120 %}
  {%- endif -%}
  {%- if context.brandLogoMobileWidth -%}
    {% set brandLogoMobileWidth = context.brandLogoMobileWidth %}
  {%- else -%}
    {% set brandLogoMobileWidth = 50 %}
  {%- endif -%}
  {%- if context.variant == 'light' -%}
    {% set variant = 'navbar-light' %}
  {%- else -%}
    {% set variant = 'navbar-dark' %}
  {%- endif -%}
  {%- if context.expand -%}
    {% set expand = context.expand %}
  {%- else -%}
    {% set expand = 'lg' %}
  {%- endif -%}
{%- endif -%}

<nav class="navbar {{ variant | e | safe }} navbar-expand-{{ expand | e | safe }}">
  {%- if context.brandLogo -%}
    <a class="navbar-brand" href="{{ brandUrl | url | safe }}">
      <img
        class="img-fluid d-block d-lg-none"
        alt="Logo"
        width="{{ brandLogoMobileWidth }}"
        src="{%- imageUrl brandLogoMobile, { fetch_format: 'auto', quality: 'auto', dpr: 2, width: brandLogoWidth } %}"
      >
      <img
        class="img-fluid d-none d-lg-block"
        alt="Logo"
        width="{{ brandLogoWidth }}"
        src="{%- imageUrl brandLogo, { fetch_format: 'auto', quality: 'auto', dpr: 2, width: brandLogoWidth } %}"
      >
    </a>
  {%- endif -%}
  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="offcanvas offcanvas-start" tabindex="-1">
    <div class="offcanvas-header">
      {%- if context.brandLogoMobile -%}
        <div class="offcanvas-title">
          <img
            class="img-fluid"
            alt="Logo"
            width="{{ brandLogoMobileWidth }}"
            src="{%- imageUrl brandLogoMobile, { fetch_format: 'auto', quality: 'auto', dpr: 2, width: brandLogoWidth } %}"
          >
        </div>
      {%- endif -%}
      <button type="button" class="btn-close {% if variant == 'dark' %} btn-close-white{% endif %}" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav{% if navPosition %} navbar-nav--{{ navPosition | safe }}{% endif %}">
        {%- for entry in navbarLinks %}
        {%- if not entry.navbar.hidden and not entry.extra %}
        <li class="nav-item {% if entry.children | length %}dropdown{% endif %}">
          {{ entry | navbarLink(currentPage) | safe }}
          {%- if entry.children | length > 0 and not entry.navbar.hideChildren %}
            <div class="dropdown-menu dropdown-menu-md-right{% if variant == 'dark' %} dropdown-menu-dark{% endif %}" aria-labelledby="dropdown-menu-{{ entry.title | slug | safe }}">
              {%- if entry.url %}
                <a class="dropdown-item{% if entry.url == page.url %} active{% endif %}" href="{{ entry.url | url }}">
                  {%- if entry.navbar.dropdownTitle %}
                  <span>{{ entry.navbar.dropdownTitle | e | safe }}</span>
                  {% else %}
                  <span>Todos {{ entry.title | e | safe }}</span>
                  {% endif %}
                </a>
                {%- if not entry.navbar.hideDivider %}
                  <div class="dropdown-divider"></div>
                {%- endif %}
              {%- endif %}
              {%- for child in entry.children %}
                <a class="dropdown-item{% if child.url == page.url %} active{% endif %}" href="{{ child.url | url }}">{{ child.title | e | safe }}</a>
              {%- endfor %}
            </div>
          {% endif %}
        </li>
        {% endif %}
        {%- endfor %}
        {%- if extraNavItems %}
          {% for item in extraNavItems %}
            <li class="nav-item nav-item--extra">
              {{ item | safe }}
            </li>
          {% endfor %}
        {%- endif %}
      </ul>
        <div class="offcanvas__extra-content">
          {%- if extraOffcanvasContent %}
            <div class=""></div>
            {{ extraOffcanvasContent | safe }}
          {%- endif %}
        </div>
    </div>
  </div>
</nav>
