@use '../../design-tokens' as mkui;

// Contents
//
// Navbar
// Navbar brand
// Navbar nav
// Navbar text
// Responsive navbar
// Navbar position
// Navbar themes

// Navbar
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

$padding-y: mkui.$navbar-padding-y !default;
$padding-x: mkui.$navbar-padding-x !default;

$nav-link-padding-y: mkui.$nav-link-padding-y !default;
$nav-link-padding-x: mkui.$nav-link-padding-x !default;

$brand-font-size: mkui.$font-size-lg !default;

$nav-link-height: mkui.$nav-link-height !default;
$brand-height: $brand-font-size * mkui.$line-height-base !default;
$brand-padding-y: ($nav-link-height - $brand-height) * .5 !default;
$brand-margin-end: mkui.$navbar-brand-margin-end !default;

$toggler-padding-y: mkui.$navbar-toggler-padding-y !default;
$toggler-padding-x: mkui.$navbar-toggler-padding-x !default;
$toggler-font-size: mkui.$font-size-lg !default;
$toggler-border-radius: mkui.$btn-border-radius !default;
$toggler-focus-width: mkui.$btn-focus-width !default;
$toggler-transition: mkui.$navbar-toggler-transition !default;

$dark-color: mkui.$navbar-dark-color !default;
$dark-hover-color: mkui.$navbar-dark-hover-color !default;
$dark-active-color: mkui.$navbar-dark-active-color !default;
$dark-disabled-color: mkui.$navbar-dark-disabled-color !default;
$dark-toggler-icon-bg: mkui.$navbar-dark-toggler-icon-bg !default;
$dark-toggler-border-color: mkui.$navbar-dark-toggler-border-color !default;

$light-color: mkui.$navbar-light-color !default;
$light-hover-color: mkui.$navbar-light-hover-color !default;
$light-active-color: mkui.$navbar-light-active-color !default;
$light-disabled-color: mkui.$navbar-light-disabled-color !default;
$light-toggler-icon-bg: mkui.$navbar-light-toggler-icon-bg !default;
$light-toggler-border-color: mkui.$navbar-light-toggler-border-color !default;

$light-brand-color: $light-active-color !default;
$light-brand-hover-color: $light-active-color !default;
$dark-brand-color: $dark-active-color !default;
$dark-brand-hover-color: $dark-active-color !default;

$item-extra-padding-y: $nav-link-padding-y !default;
$item-extra-padding-x: $nav-link-padding-x !default;

$offcanvas-light-bg: mkui.$light !default;
$offcanvas-dark-bg: mkui.$dark !default;

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap; // allow us to do the line break for collapsing content
  align-items: center;
  justify-content: space-between; // space out brand from logo
  padding-top: $padding-y;
  padding-right: $padding-x; // default: null
  padding-bottom: $padding-y;
  padding-left: $padding-x; // default: null
  @include mkui.gradient-bg();

  // Because flex properties aren't inherited, we need to redeclare these first
  // few properties so that content nested within behave properly.
  // The `flex-wrap` property is inherited to simplify the expanded navbars
  %container-flex-properties {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }

  > .container,
  > .container-fluid {
    @extend %container-flex-properties;
  }

  @each $breakpoint, $container-max-width in mkui.$container-max-widths {
    > .container#{mkui.breakpoint-infix($breakpoint, mkui.$container-max-widths)} {
      @extend %container-flex-properties;
    }
  }
}


// Navbar brand
//
// Used for brand, project, or site names.

.navbar-brand {
  padding-top: $brand-padding-y;
  padding-bottom: $brand-padding-y;
  margin-right: $brand-margin-end;
  @include mkui.font-size($brand-font-size);
  text-decoration: if(mkui.$link-decoration == none, null, none);
  white-space: nowrap;

  &:hover,
  &:focus {
    text-decoration: if(mkui.$link-hover-decoration == underline, none, null);
  }
}


// Navbar nav
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).

.navbar-nav {
  display: flex;
  flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .nav-link {
    padding-right: 0;
    padding-left: 0;
  }

  .dropdown-menu {
    position: static;
  }
}


// Navbar text
//
//

.navbar-text {
  padding-top: mkui.$nav-link-padding-y;
  padding-bottom: mkui.$nav-link-padding-y;
}


// Responsive navbar
//
// Custom styles for responsive collapsing and toggling of navbar contents.
// Powered by the collapse Bootstrap JavaScript plugin.

// When collapsed, prevent the toggleable navbar contents from appearing in
// the default flexbox row orientation. Requires the use of `flex-wrap: wrap`
// on the `.navbar` parent.
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  // For always expanded or extra full navbars, ensure content aligns itself
  // properly vertically. Can be easily overridden with flex utilities.
  align-items: center;
}

// Button for toggling the navbar when in its collapsed state
.navbar-toggler {
  padding: $toggler-padding-y $toggler-padding-x;
  @include mkui.font-size($toggler-font-size);
  line-height: 1;
  background-color: transparent; // remove default button style
  border: mkui.$border-width solid transparent; // remove default button style
  @include mkui.border-radius($toggler-border-radius);
  @include mkui.transition($toggler-transition);

  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 $toggler-focus-width;
  }
}

// Keep as a separate element so folks can easily override it with another icon
// or image file as needed.
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.navbar-nav-scroll {
  max-height: var(--#{mkui.$variable-prefix}scroll-height, 75vh);
  overflow-y: auto;
}

// scss-docs-start navbar-expand-loop
// Generate series of `.navbar-expand-*` responsive classes for configuring
// where your navbar collapses.
.navbar-expand {
  @each $breakpoint in map-keys(mkui.$grid-breakpoints) {
    $next: mkui.breakpoint-next($breakpoint, mkui.$grid-breakpoints);
    $infix: mkui.breakpoint-infix($next, mkui.$grid-breakpoints);

    // stylelint-disable-next-line scss/selector-no-union-class-name
    &#{$infix} {
      @include mkui.media-breakpoint-up($next) {
        flex-wrap: nowrap;
        justify-content: flex-start;

        .navbar-nav {
          flex-direction: row;

          .dropdown-menu {
            position: absolute;
          }

          .nav-link {
            padding-right: $nav-link-padding-x;
            padding-left: $nav-link-padding-x;
          }
        }

        .navbar-nav-scroll {
          overflow: visible;
        }

        .navbar-collapse {
          display: flex !important; // stylelint-disable-line declaration-no-important
          flex-basis: auto;
        }

        .navbar-toggler {
          display: none;
        }

        .offcanvas-header {
          display: none;
        }

        .offcanvas {
          position: inherit;
          bottom: 0;
          z-index: auto;
          flex-grow: 1;
          visibility: visible !important; // stylelint-disable-line declaration-no-important
          background-color: transparent !important;
          border-right: 0;
          border-left: 0;
          @include mkui.transition(none);
          transform: none;
        }
        .offcanvas-top,
        .offcanvas-bottom {
          height: auto;
          border-top: 0;
          border-bottom: 0;
        }

        .offcanvas-body {
          display: flex;
          flex-grow: 0;
          padding: 0;
          overflow-y: visible;
        }
      }
    }
  }
}
// scss-docs-end navbar-expand-loop

// Navbar themes
//
// Styles for switching between navbars with light or dark background.

// Dark links against a light background
.navbar-light {
  .navbar-brand {
    color: $light-brand-color;

    &:hover,
    &:focus {
      color: $light-brand-hover-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $light-color;

      &:hover,
      &:focus {
        color: $light-hover-color;
      }

      &.disabled {
        color: $light-disabled-color;
      }
    }

    .show > .nav-link,
    .nav-link.active {
      color: $light-active-color;
    }
  }

  .navbar-toggler {
    color: $light-color;
    border-color: $light-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: mkui.escape-svg($light-toggler-icon-bg);
  }

  .navbar-text {
    color: $light-color;

    a,
    a:hover,
    a:focus {
      color: $light-active-color;
    }
  }
}

// White links against a dark background
.navbar-dark {
  .navbar-brand {
    color: $dark-brand-color;

    &:hover,
    &:focus {
      color: $dark-brand-hover-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $dark-color;

      &:hover,
      &:focus {
        color: $dark-hover-color;
      }

      &.disabled {
        color: $dark-disabled-color;
      }
    }

    .show > .nav-link,
    .nav-link.active {
      color: $dark-active-color;
    }
  }

  .navbar-toggler {
    color: $dark-color;
    border-color: $dark-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: mkui.escape-svg($dark-toggler-icon-bg);
  }

  .navbar-text {
    color: $dark-color;
    a,
    a:hover,
    a:focus {
      color: $dark-active-color;
    }
  }
}
