{%- if context -%}
  {% set id = context.id %}
  {% set alt = context.alt %}
  {% set custom_thumbnail = context.custom_thumbnail %}
  {% set maxwidth = context.maxwidth %}
{%- endif -%}

<a
  class="video-player"
  data-video-player-id="{{ id | safe }}"
  {% if maxwidth %}
  style="max-width: {{ maxwidth }}"
  {%- endif -%}
>
  {% if custom_thumbnail %}
  <picture class="video-player__thumb">
    <img
      alt="{{ alt | e | safe }}"
      src="{{ custom_thumbnail | url | safe }}"
      loading="lazy"
      width="500"
      height="280"
    >
  </picture>
  {% else %}
  <picture class="video-player__thumb">
    <source media="(min-width: 768px)" srcset="https://i.ytimg.com/vi_webp/{{ id }}/maxresdefault.webp" type="image/webp">
    <source media="(min-width: 768px)" srcset="https://i.ytimg.com/vi/{{ id }}/maxresdefault.jpg" type="image/jpeg">
    <source srcset="https://i.ytimg.com/vi_webp/{{ id }}/hqdefault.webp" type="image/webp">
    <source srcset="https://i.ytimg.com/vi/{{ id }}/hqdefault.jpg" type="image/jpeg">
    <img
      src="https://i.ytimg.com/vi/{{ id }}/hqdefault.jpg"
      loading="lazy"
      alt="{{ alt | e | safe }}"
      width="500"
      height="280">
  </picture>
  {% endif %}
  <i class="video-player__play fas fa-play-circle"></i>
</a>

<div class="video-player-modal fade" id="{{id}}" tabindex="-1" aria-hidden="true">
  <div class="video-player-modal__content">
    <div class="video-player-modal__header">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
      <div class="video-player-modal__player modal-body"></div>
    </div>
  </div>
</div>

{# <div
  class="video-modal modal fade"
  id="video-modal-{{ id | safe }}"
  tabindex="-1"
  role="dialog"
  aria-modal="true"
>
  <div class="video-modal__dialog modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="video-modal__content modal-content bg-transparent border-0">
      <div class="video-modal__header modal-header border-0">
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
        </button>
      </div>
      <div class="video-modal__player modal-body bg-dark mb-0 p-0" data-videoid="{{ id | safe }}"></div>
    </div>
  </div>
</div> #}
