{%- if context -%}
  {% set id = context.id %}
  {% set alt = context.alt %}
  {% set custom_thumbnail = context.custom_thumbnail %}
  {% set maxwidth = context.maxwidth %}
{%- endif -%}

<a
  class="video-player"
  data-video-player-id="{{ id | safe }}"
  {% if maxwidth %}
  style="max-width: {{ maxwidth }}"
  {% endif %}
>
  {% if custom_thumbnail %}
  <picture>
    <source
      media="(min-width: 768px)"
      srcset="{% imageUrl custom_thumbnail, { fetch_format: 'auto', quality: 'auto', width: '1280', height: '720', crop: 'thumb' } %}"
    >
    <source
      srcset="{% imageUrl custom_thumbnail, { fetch_format: 'auto', quality: 'auto', width: '480', height: '360', crop: 'thumb' } %}"
    >
    <img
      alt="{{ alt | e | safe }}"
      src="{% imageUrl custom_thumbnail, { fetch_format: 'auto', quality: 'auto', width: '1280', height: '720', crop: 'thumb' } %}"
      class="video-player__thumb"
      loading="lazy"
      width="500"
      height="280"
    >
  </picture>
  {% else %}
  <picture>
    <source media="(min-width: 768px)" srcset="https://i.ytimg.com/vi_webp/{{ id }}/maxresdefault.webp" type="image/webp">
    <source media="(min-width: 768px)" srcset="https://i.ytimg.com/vi/{{ id }}/maxresdefault.jpg" type="image/jpeg">
    <source srcset="https://i.ytimg.com/vi_webp/{{ id }}/hqdefault.webp" type="image/webp">
    <source srcset="https://i.ytimg.com/vi/{{ id }}/hqdefault.jpg" type="image/jpeg">
    <img
      src="https://i.ytimg.com/vi/{{ id }}/hqdefault.jpg"
      class="video-player__thumb"
      loading="lazy"
      alt="{{ alt | e | safe }}"
      width="500"
      height="280"
    >
  </picture>
  {% endif %}
  <i class="video-player__play fas fa-play-circle"></i>
</a>
