{% if context %}
  {% set text = context.text %}
  {% set link = context.link %}
  {% set outline = context.outline %}
{% endif %}

{% if link %}
  <a class="chip{% if outline %} chip--outline{% endif %}" href="{{ link | url }}">{{ text | e | safe }}</a>
{% else %}
  <div class="chip{% if outline %} chip--outline{% endif %}">{{ text | e | safe }}</div>
{% endif %}
