//
// Chip styles
//

@use '../../design-tokens' as mkui;

$background: mkui.$gray-500 !default;
$hover-background: darken($background, 10%) !default;
$active-background: lighten(mkui.$primary, 40%) !default;

$color: mkui.$gray-800 !default;
$hover-color: darken($color, 10%) !default;
$active-color: mkui.$primary !default;

$padding-x: 0.75rem !default;
$padding-y: 0.25rem !default;
$font-size: 0.8rem !default;

// Outline
$outline-background: transparent !default;
$outline-hover-background: mkui.$gray-200 !default;
$outline-active-background: lighten(mkui.$primary, 30%) !default;

$outline-color: $color !default;
$outline-hover-color: darken($color, 10%) !default;
$outline-active-color: mkui.$primary !default;

.chip {
  display: inline-block;
  text-decoration: none;
  border: solid 1px transparent;
  margin: 0;
  border-radius: 50rem;
  font-size: $font-size;
  background: $background;
  color: $color;
  padding-left: $padding-x;
  padding-right: $padding-x;
  padding-top: $padding-y;
  padding-bottom: $padding-y;

  &--outline {
    background: $outline-background;
    color: $outline-color;
    border-color: $outline-color;
  }
}

a.chip {
  transition: mkui.$transition-base;

  &:hover,
  &:focus {
    background: $hover-background;
    color: $hover-color;
  }

  &:active,
  &.active {
    background: $active-background;
    color: $active-color;
  }

  &--outline {
    &:hover,
    &:focus {
      background: $outline-hover-background;
      color: $outline-hover-color;
    }

    &:active,
    &.active {
      background: $outline-active-background;
      color: $outline-active-color;
      border-color: $outline-active-color;
    }
  }
}
