{% if context %}
  {% set buttons = context.buttons %}
  {% set value = context.value %}
  {% set name = context.name %}
  {% set id = context.id %}
  {% set required = context.required %}
  {% set label = context.label %}
  {% set invalidText = context.invalidText %}
  {% if context.isInvalid %}
    {% set isInvalid = context.isInvalid %}
  {% else %}
    {% set isInvalid = false %}
  {% endif %}
{% endif %}

{%- set content %}
  {%- if label %}
  {% set context = {
    content: label,
    forName: name,
    overrideClasses: ['input-label--radio-group'],
    elTag: 'legend'
  } %}
  {% include "../input-label/input-label.njk" %}
  {%- endif %}
  <div class="
    radio-group
    {% if isInvalid %}is-invalid{% endif %}
  ">
  {%- for button in buttons %}
    {% set context = {
      value: button.value,
      label: button.label,
      name: name,
      id: id + '-button-' + loop.index,
      invalidText: '',
      isInvalid: isInvalid
    } %}
    {% include "radio/radio.njk" %}
  {%- endfor %}
  </div>
  {%- if invalidText %}
  {% set context = {
    content: invalidText,
    variant: 'tooltip',
    state: 'invalid'
  } %}
  {% include "../helper-text/helper-text.njk" %}
  {%- endif %}
{%- endset %}

{% set context = {
  content: content,
  overrideClasses: ['form-control--radio-group'],
  elTag: 'fieldset'
} %}
{% include "../form-control/form-control.njk" %}
