{% if context %}
  {% set title = context.title %}
  {% set description = context.description %}
  {% set highlight = context.highlight %}
  {% set image = context.image %}
  {% set isReverse = context.isReverse %}
{% endif %}

{% if title.tag %}
  {% set titleTag = (title.tag | e | safe) %}
{% else %}
  {% set titleTag = 'h2' %}
{% endif %}

{% if title.html %}
  {% set titleContent = (title.html | markdown | safe) %}
{% else %}
  {% set titleContent = (title.text | e | safe) %}
{% endif %}

{% if image.width %}
  {% set imageWidth = image.width %}
{% else %}
  {% set imageWidth = 500 %}
{% endif %}

{% if image.height %}
  {% set imageHeight = image.height %}
{% else %}
  {% set imageHeight = 500 %}
{% endif %}

{% if image.crop %}
  {% set imageCrop = image.crop %}
{% else %}
  {% set imageCrop = 'thumb' %}
{% endif %}

{% if image.classes %}
  {% set imageClasses = image.classes | join(" ") %}
{% endif %}

{% if isReverse %}
  {% set order = "row-reverse" %}
{% else %}
  {% set order = "row" %}
{% endif %}

<section class="py-4 py-lg-5">
  <div class="container">
    <div class="row align-items-center flex-lg-{{order}} flex-column-reverse">
      <div class="col-12 col-lg-6">
        {% if highlight %}
          {% set context = { title: highlight } %}
          {% include '../../components/highlight/highlight.njk' %}
        {% endif %}
        {% if title %}
          <{{ titleTag }}>{{ titleContent }}</{{ titleTag }}>
        {% endif %}
        {% if description %}
          {{ description | markdown | safe }}
        {% endif %}
      </div>
      <div class="col-12 col-lg-6">
          <img
            src="{% imageUrl image.src, { fetch_format: 'auto', quality: 'auto', width: imageWidth, height: imageHeight, crop: imageCrop} %}"
            srcset="
              {% imageUrl image.src, { fetch_format: 'auto', quality: 'auto', width: imageWidth, height: imageHeight, crop: imageCrop } %},
              {% imageUrl image.src, { fetch_format: 'auto', quality: 'auto', width: imageWidth, height: imageHeight, crop: imageCrop, drp: 2 } %} 2x"
            alt="{{ image.alt | e | safe }}"
            width="{{ imageWidth }}"
            height="{{ imageHeight }}"
            class="img-fluid {{imageClasses}}"
          >
      </div>
    </div>
  </div>
</section>
