---
eleventyNavigation:
  key: accordion
  title: Accordion
metadata:
  title: Accordion
  description: Usado para mostrar várias informações em cards diferentes, o Accordion permite que o usuário abra uma aba por vez, podendo ser usado numa sessão de perguntas e respostas.
mock:
  id: accordion-exemplo
  id2: accordion-exemplo2
  items:
    - title: Item 1
      tag: h3
      content: >-
        ### H3

        Lorem ipsum **dollor**
    - title: Item 2
      tag: h3
      content: >-
        #### H4

        - foo

        - bar
    - title: Item 3
      tag: h3
      content: >-
        ### H3

        Lorem ipsum **dollor**

        #### H4

        - foo

        - bar
---
<h1>{{ metadata.title | e | safe }}</h1>
<p>{{ metadata.description | e | safe }}</p>
<section class="py-4">
  <h4>Exemplo</h4>
  {% Accordion { id: mock.id, items: mock.items } %}{% endAccordion %}
</section>
<section class="py-4">
  <h4>Sem bordas</h4>
  {% Accordion { id: mock.id2, items: mock.items, flush: true } %}{% endAccordion %}
</section>

