---
eleventyNavigation:
  key: actionbar
  title: Actionbar
  order: 2
metadata:
  title: Actionbar
  description: Use a actionbar para disponibilizar liks e informações de contato do site.
props:
  - name: startItems
    type: Array
    desc: Lista dos items renderizados a esquerda do Actionbar.
  - name: endItems
    type: Array
    desc: Lista dos items renderizados a direita do Actionbar.
  - name: theme
    type: String
    desc: Cor dos itens.
  - name: fontSize
    type: Number
    desc: Tamanho da fonte dos itens.
  - name: gap
    type: Number
    desc: Distância entre os itens.
  - name: classes
    type: Array
    desc: Array de classes adicionais, inseridas na tag pai.
mock:
  startItems:
    - text: (51) 9999-9999
      icon: fa-brands fa-whatsapp
      href: '#'
  endItems:
    - text:
      href: '#'
      icon: fa-brands fa-facebook
    - text:
      href: '#'
      icon: fa-solid fa-envelope
    - html: <span>Tellus rutrum</span>

---

<h1>{{ metadata.title | e | safe }}</h1>
<p>{{ metadata.description | e | safe }}</p>
<section class="py-4">
  <h4>Exemplo</h4>
  <div class="p-3">
    {% Actionbar { startItems: mock.startItems, endItems: mock.endItems, theme: 'primary' } %}{% endActionbar %}
  </div>
</section>
<section class="py-4">
  <h4>Em seção escura</h4>
  <div class="bg-dark p-3">
    {% Actionbar { startItems: mock.startItems, endItems: mock.endItems, theme: 'light' } %}{% endActionbar %}
  </div>
</section>
{% include 'partials/props-table.njk' %}
