---
eleventyNavigation:
  key: breadcrumb
  title: Breadcrumb
metadata:
  title: Breadcrumb
  description: O Breadcrumb permite a exibição de forma ordenada da hierarquia das páginas e subpáginas de sessões do site.
props:
  - name: eleventyBreadcrumbs
    type: Array
    desc: >-
      Um Array de breadcrumbs no formato padrão do 11ty. Mais detalhes nos [docs](https://www.11ty.dev/docs/plugins/navigation/#example-breadcrumbs)
  - name: currentPageUrl
    type: String
    desc: A URL da página atual.
---

<h1>{{ metadata.title | e | safe }}</h1>
<p>{{ metadata.description | e | safe }}</p>
<section class="py-4">
  <h2>Exemplo</h2>
  {% set navPages = collections.all | eleventyNavigationBreadcrumb(page.fileSlug, { includeSelf: true }) %}
  {% Breadcrumb { eleventyBreadcrumbs: navPages, currentPageUrl: page.url } %}{% endBreadcrumb %}
</section>
{% include 'partials/props-table.njk' %}
