---
eleventyNavigation:
  key: button
  title: Button
metadata:
  title: Buttons
  description: Os Botões podem ser personalizados com diversos parêmtros para acomodar as necessidades do projeto.
---

<h1>{{ metadata.title | e | safe }}</h1>
<p>{{ metadata.description | e | safe }}</p>

{% Button { size: 'sm', href: '#', theme: 'primary', classes: ['text-danger'] } %}Lorem{% endButton %}

{% Button { href: '#', theme: 'secondary' } %}Lorem{% endButton %}
