---
eleventyNavigation:
  key: card
  title: Card
metadata:
  title: Cards
  description: Use cards para criar componentes que necessitam ser contidos em um único lugar, podendo inserir links, imagens e descrições.
props:
  - name: content
    type: String
    desc: Conteúdo do card.
  - name: img
    type: Object
    desc: Imagem do card.
  - name: header
    type: String
    desc: Conteúdo no topo do card.
  - name: footer
    type: String
    desc: Conteúdo no fim do card.
  - name: classes
    type: Array
    desc: Array de classes adicionais.
  - name: overlay
    type: Boolean
    desc: Define se tem imagem de fundo ou não.
mock:
  title: Dui sapien eget mi
  text: Lectus sit amet est placerat. Massa vitae tortor condimentum lacinia quis. Risus viverra adipiscing at in tellus integer feugiat.
  header: Enim lobortis
  footer: Magna eget
  btn:
    content: Pretium
  image:
    url: https://res.cloudinary.com/webmaster-marke/image/upload/v1659640851/vantagens-de-trabalhar-com-marketing-digital.png
    alt: Lorem ipsum
    width: 300
    height: 200
  image2:
    url: https://res.cloudinary.com/webmaster-marke/image/upload/v1659640851/vantagens-de-trabalhar-com-marketing-digital.png
    alt: Lorem ipsum
    width: 300
    height: 100
    transformations:
      fetch_format: auto
      quality: 'auto:best'
      effect: "blur:300"
---
<h1>{{ metadata.title | e | safe }}</h1>
<p>{{ metadata.description | e | safe }}</p>
<section class="py-4">
  <h4>Exemplo</h4>
  <div class="row">
    <div class="col-5">
      {% Card %}
        <h5 class="card-title">{{ mock.title }}</h5>
        <p class="card-text">{{ mock.text }}</p>
        {% Button { theme: 'primary', href: '#' } %}{{ mock.btn.content }}{% endButton %}
      {% endCard %}
    </div>
  </div>
</section>
<section class="py-4">
  <h4>Imagem no topo</h4>
  <div class="row">
    <div class="col-5">
      {% Card { img: mock.image } %}
        <h5 class="card-title">{{ mock.title }}</h5>
        <p class="card-text">{{ mock.text }}</p>
        {% Button { theme: 'primary', href: '#' } %}{{ mock.btn.content }}{% endButton %}
      {% endCard %}
    </div>
  </div>
</section>
<section class="py-4">
  <h4>Header e Footer</h4>
  <div class="row">
    <div class="col-5">
      {% Card { header: mock.header, footer: mock.footer } %}
        <h5 class="card-title">{{ mock.title }}</h5>
        <p class="card-text">{{ mock.text }}</p>
      {% endCard %}
    </div>
  </div>
</section>
<section class="py-4">
  <h4>Imagem de fundo</h4>
  <div class="row">
    <div class="col-5">
      {% Card { img: mock.image, overlay: true } %}
        <h5 class="card-title">{{ mock.title }}</h5>
        <p class="card-text">{{ mock.text }}</p>
      {% endCard %}
    </div>
  </div>
</section>
<section class="py-4">
  <h4>Link em todo Card</h4>
  <div class="row">
    <div class="col-5">
      {% Card %}
        <h5 class="card-title">{{ mock.title }}</h5>
        <p class="card-text">{{ mock.text }}</p>
        {% Button { theme: 'primary', href: '#', classes: ['stretched-link'] } %}{{ mock.btn.content }}{% endButton %}
      {% endCard %}
    </div>
  </div>
</section>
{% include 'partials/props-table.njk' %}
