---
eleventyNavigation:
  key: disqus-comments
  title: Disqus Comments
metadata:
  title: Disqus Comments
  description: Widget de comentários do DisqUs
props:
  - name: url
    type: String
    desc: URL da página.
  - name: id
    type: String
    desc: Um identificador único da página.
  - name: title
    type: String
    desc: O meta-title da página.
  - name: forumName
    type: String
    desc: O shortname do forum do Disqus.
mock:
  url: 'https://marke.com.br'
  forumName: 'marke'
---

<h1>{{ metadata.title | e | safe }}</h1>
<p>{{ metadata.description | e | safe }}</p>
<section class="py-4">
  <h2>Exemplo</h2>
  {% DisqusComments { url: mock.url, id: page.filePathStem, title: metadata.title, forumName: mock.forumName } %}{% endDisqusComments %}
</section>
{% include 'partials/props-table.njk' %}
