---
eleventyNavigation:
  key: form
  title: Form
  order: 8
metadata:
  title: Form
  description: Um componente para criar formulários.
props:
  - name: fields
    type: Array
    desc: Os campos.
  - name: redirect
    type: String
    desc: URL de redirecionamento após sucesso no envio.
  - name: integration
    type: String
    desc: URL de redirecionamento após sucesso no envio.
---

<h1>{{ metadata.title | e | safe }}</h1>
<p>{{ metadata.description | e | safe }}</p>

<div class="alert alert-secondary" role="alert">
<p>O componente Form utiliza por padrão o <a href="https://github.com/team-marke/marke-forms">Marke Forms</a>, para assegurar o correto funcionamento do componente, é preciso configurar essas variáveis ambiente:</p>
{% highlight "text" %}
FORM_SUBMIT_URL=https://us-central1-marke-forms.cloudfunctions.net/v2/submit
FORM_SUBMIT_TO=teste@teste.com
FORM_SUBMIT_SUBJECT=Assunto do email
SENDGRID_API_KEY=xxxxxxxxx
{% endhighlight %}
</div>

<section id="standard" class="py-4">
  <h2>Exemplo</h2>
  {% set fields = [
    {
      type: 'text',
      placeholder: 'Primeiro Nome',
      id: 'firstname',
      label: 'Primeiro Nome',
      col: 6
    },
    {
      type: 'text',
      placeholder: 'Último Nome',
      id: 'lastname',
      label: 'Último Nome',
      col: 6
    },
    {
      type: 'email',
      placeholder: 'Email',
      id: 'email',
      label: 'Email',
      col: 6
    },
    {
      type: 'tel',
      placeholder: 'Telefone',
      id: 'phone',
      label: 'Phone',
      col: 6
    },
    {
      type: 'select',
      id: 'animal',
      label: 'Animal',
      options: [
        { text: 'Selecione um animal', value: '', selected: true, disabled: true },
        { text: 'Gato', value: 'cat' },
        { text: 'Cachorro', value: 'dog' }
      ],
      col: 12
    },
    {
      type: 'checkbox',
      options: [
        { text: 'Filmes', value: 'movies', id: 'moviesField' },
        { text: 'Músicas', value: 'musics', id: 'musicsField' }
      ],
      col: 12
    },
    {
      type: 'radio',
      name: 'radioExample',
      options: [
        { text: 'Sim', value: 'yes', id: 'yesId', checked: true },
        { text: 'Não', value: 'no', id: 'noId' }
      ],
      col: 12
    },
    {
      type: 'submit',
      id: 'submit',
      text: 'Enviar',
      theme: 'primary',
      col: 12
    }
  ] %}
  {% Form { fields: fields, redirect: 'https://marke.com.br' } %}{% endForm %}
</section>

<h2>Integrações</h2>

<section id="integrations-hubspot" class="py-4">
<h3>Hubspot</h3>
<div class="alert alert-secondary" role="alert">
<p>Para integrar o formulário com o Hubspot, passe o seguinte objeto para o campo <span class="text-primary">integration</span> do componente.</p>
{% highlight "javascript" %}
{
  type: "hubspot",
  options: {
    "form-id": "xxxxxx",
    "portal-id": "xxxxxx"
  }
}
{% endhighlight %}
<p>Adicionalmente, configure a seguinte propriedade no dataset de cada campo.</p>
{% highlight "javascript" %}
{
  "hubspot-field": "xxxxxx"
}
{% endhighlight %}
</div>

  {% set fields = [
    {
      type: 'text',
      placeholder: 'Primeiro Nome',
      id: 'firstname',
      label: 'Primeiro Nome',
      required: true,
      col: 6,
      dataset: {
        "hubspot-field": "firstname"
      }
    },
    {
      type: 'text',
      placeholder: 'Último Nome',
      id: 'lastname',
      label: 'Último Nome',
      required: true,
      col: 6,
      dataset: {
        "hubspot-field": "lastname"
      }
    },
    {
      type: 'email',
      placeholder: 'Email',
      id: 'email',
      label: 'Email',
      required: true,
      col: 6,
      dataset: {
        "hubspot-field": "email"
      }
    },
    {
      type: 'tel',
      placeholder: 'Phone',
      id: 'phone',
      label: 'Phone',
      required: true,
      col: 6,
      dataset: {
        "hubspot-field": "phone"
      }
    },
    {
      type: 'submit',
      id: 'submit',
      text: 'Enviar',
      theme: 'primary',
      col: 12
    }
  ] %}
  {% Form { fields: fields} %}{% endForm %}
</section>

<section id="integrations-mailchimp" class="py-4">
<h3>Mailchimp</h3>
<div class="alert alert-secondary" role="alert">
<p>Para integrar o formulário com o Mailchimp, passe o seguinte objeto para o campo <span class="text-primary">integration</span> do componente.</p>
{% highlight "javascript" %}
{
  type: "mailchimp"
}
{% endhighlight %}
<p>Adicionalmente, configure a seguinte propriedade no dataset de cada campo.</p>
{% highlight "javascript" %}
{
  "mailchimp-field": "xxxxx"
}
{% endhighlight %}
</div>

  {% set fields = [
    {
      type: 'text',
      placeholder: 'Primeiro Nome',
      id: 'firstname',
      label: 'Primeiro Nome',
      required: true,
      col: 6,
      dataset: {
        "mailchimp-field": "NOME"
      }
    },
    {
      type: 'text',
      placeholder: 'Último Nome',
      id: 'lastname',
      label: 'Último Nome',
      required: true,
      col: 6,
      dataset: {
        "mailchimp-field": "SOBRENOME"
      }
    },
    {
      type: 'email',
      placeholder: 'Email',
      id: 'email',
      label: 'Email',
      required: true,
      col: 6,
      dataset: {
        "mailchimp-field": "email"
      }
    },
    {
      type: 'submit',
      id: 'submit',
      text: 'Enviar',
      theme: 'primary',
      col: 12
    }
  ] %}
  {% Form { fields: fields} %}{% endForm %}
</section>

<section id="integrations-gsheets" class="py-4">
<h3>Google Sheets</h3>
<div class="alert alert-secondary" role="alert">
<p>Para integrar o formulário com o Google Sheets, passe o seguinte objeto para o campo <span class="text-primary">integration</span> do componente.</p>
{% highlight "javascript" %}
{
  type: "gsheets",
  options: {
    "fileId": "xxxxxx"
  }
}
{% endhighlight %}
<p>Adicionalmente, configure a seguinte propriedade no dataset de cada campo.</p>
{% highlight "javascript" %}
{
  "gsheet-field": "xxxxx"
}
{% endhighlight %}
</div>

  {% set fields = [
    {
      type: 'text',
      placeholder: 'Nome',
      id: 'firstname',
      label: 'Nome',
      required: true,
      col: 6,
      dataset: {
        "gsheet-field": "firstname"
      }
    },
    {
      type: 'email',
      placeholder: 'Email',
      id: 'email',
      label: 'Email',
      required: true,
      col: 6,
      dataset: {
        "gsheet-field": "email"
      }
    },
    {
      type: 'select-location-state',
      id: 'state',
      label: 'Estado',
      col: 12,
      required: true
    },
    {
      type: 'select-location-city',
      id: 'city',
      label: 'Cidade',
      col: 12,
      required: true
    },
    {
      type: 'submit',
      id: 'submit',
      text: 'Enviar',
      theme: 'primary',
      col: 12
    }
  ] %}
  {% set integration = {
    type: "gsheets",
    options: {
      "fileId": "xxxxxx"
    }
  } %}
  {% Form { fields: fields, integration: integration } %}{% endForm %}
</section>
{% include 'partials/props-table.njk' %}
