---
eleventyNavigation:
  key: masthead
  title: Masthead
  order: 13
metadata:
  title: Masthead
  description: Use cards para criar componentes que necessitam ser contidos em um único lugar, podendo inserir links, imagens e descrições.
props:
  - name: content
    type: String
    desc: O conteúdo masthead.
  - name: image
    type: Object
    desc: A imagem do masthead.
  - name: imageMobile
    type: Object
    desc: A imagem para mobile do masthead.
mock:
  title: Nulla ut pellentesque
  desc: Donec lorem orci, pulvinar eget massa ac, vehicula volutpat lorem. Maecenas purus felis, auctor sed justo.
  btn:
    href: '#'
    content: Donec
    theme: outline-light
  image:
    src: https://res.cloudinary.com/webmaster-marke/image/upload/v1659728051/livros-de-marketing-digital.jpg
    alt: Lorem Ipsum Dollor
    width: 1920
    height: 450
  imageMobile:
    src: https://res.cloudinary.com/webmaster-marke/image/upload/v1659728051/livros-de-marketing-digital.jpg
    alt: Lorem Ipsum Dollor
    width: 400
    height: 200
---
<h1>{{ metadata.title | e | safe }}</h1>
<p>{{ metadata.description | e | safe }}</p>
<section class="py-4">
  <h4>Exemplo</h4>
  <div class="p-3">
    <div class="bg-dark">
      {% Masthead { image: mock.image, imageMobile: mock.imageMobile, overlay: '#00000047' } %}
        <div class="container text-white">
          <div class="row">
            <div class="col-6">
              <h2>{{ mock.title }}</h2>
              <p>{{ mock.desc }}</p>
              {% Button { theme: mock.btn.theme, href: mock.btn.href } %}{{ mock.btn.content }}{% endButton %}
            </div>
          </div>
        </div>
      {% endMasthead %}
    </div>
  </div>
</section>
<section class="py-4">
  <h4>Exemplo sem imagem</h4>
  <div class="p-3">
    <div class="bg-dark">
      {% Masthead { image: false, imageMobile: false } %}
        <div class="container text-white">
          <div class="row">
            <div class="col-6">
              <h2>{{ mock.title }}</h2>
              <p>{{ mock.desc }}</p>
              {% Button { theme: mock.btn.theme, href: mock.btn.href } %}{{ mock.btn.content }}{% endButton %}
            </div>
            <div class="col-6">
              <h2>{{ mock.title }}</h2>
              <p>{{ mock.desc }}</p>
              {% Button { theme: mock.btn.theme, href: mock.btn.href } %}{{ mock.btn.content }}{% endButton %}
            </div>
          </div>
        </div>
      {% endMasthead %}
    </div>
  </div>
</section>
{% include 'partials/props-table.njk' %}
