---
eleventyNavigation:
  key: pagination
  title: Pagination
  order: 16
metadata:
  title: Pagination
  description: Componente para organização dos posts em páginas.
permalink: 'components/pagination/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}'
pagination:
  data: testdata
  size: 2
testdata:
 - item1
 - item2
 - item3
 - item4
 - item5
 - item6
 - item7
 - item8
props:
  - name: eleventyPagination
    type: Object
    desc: Objeto contendo as páginas com o conteúdo do site
---
<h1>{{ metadata.title | e | safe }}</h1>
<p>{{ metadata.description | e | safe }}</p>
<section id="standard" class="py-4">
  <h2>Exemplo</h2>
  {% Pagination { eleventyPagination: pagination } %}{% endPagination %}
</section>
{% include "partials/props-table.njk" %}
