---
eleventyNavigation:
  key: socialbar
  title: Socialbar
  order: 19
metadata:
  title: Socialbar
  description: Use o Socialbar para listar todos os links de redes sociais ou pontos de contato.
props:
  - name: items
    type: Array
    desc: Array de itens com icon e href.
  - name: theme
    type: String
    desc: Tema do Socialbar.
  - name: fontSize
    type: Number
    desc: Tamanho da fonte do ícones.
  - name: classes
    type: Array
    desc: Array de classes opcionais.
mock:
  items:
    - icon: fa-brands fa-whatsapp
      href: '#'
    - icon: fa-brands fa-facebook
      href: '#'
    - icon: fa-brands fa-instagram
      href: '#'
---

<h1>{{ metadata.title | e | safe }}</h1>
<p>{{ metadata.description | e | safe }}</p>
<section class="py-4">
  <h4>Exemplo</h4>
  <div class="p-3">
    {% Socialbar { items: mock.items, theme: 'primary', fontSize: 4 } %}{% endSocialbar %}
  </div>
</section>
<section class="py-4">
  <h4>Em seção escura</h4>
  <div class="bg-dark p-3">
    {% Socialbar { items: mock.items, theme: 'light', fontSize: 4, classes: ['text-white'] } %}{% endSocialbar %}
  </div>
</section>
{% include 'partials/props-table.njk' %}
