---
eleventyNavigation:
  key: tab
  title: Tab
metadata:
  title: Tabs
  description: Um widget do Google Maps direto no site.
items:
  - title: Lorem ipsum
    content: >-
      ## This is a h2

      hello **world**
  - title: Lorem ipsum 2
    content: texto diferente
---
<h1>{{ metadata.title | e | safe }}</h1>
<p>{{ metadata.decription | e | safe }}</p>

{% Tabs { id: 'tabTest', items: items } %}{% endTabs %}
