---
eleventyNavigation:
  key: whatsapp-button
  title: Whatsapp Button
metadata:
  title: Whatsapp Button
  description: Botão flutuante para o contato.
props:
  - name: content
    type: String
    desc: Link do Whatsapp
  - name: position
    type: String
    desc: A posição do botão no canto inferior. Padrão é end.
mock:
  href: '#'
---

<h1>{{ metadata.title | e | safe }}</h1>
<p>{{ metadata.description | e | safe }}</p>
<style>
  .whatsapp-button {
    position: relative !important;
  }
</style>
<section class="py-4">
  <h2>Exemplo</h2>
  {% WhatsappButton %}{{ mock.href }}{% endWhatsappButton %}
</section>
{% include 'partials/props-table.njk' %}
