---
eleventyNavigation:
  key: ytvideo
  title: YTVideo
  order: 23
metadata:
  title: YTVideo
  description: Utilize o YTVideo como player de vídeos responsivo do Youtube.
props:
  - name: id
    type: String
    desc: ID do vídeo no Youtube.
  - name: alt
    type: String
    desc: Texto alternativo do vídeo.
  - name: customThumbnail
    type: String
    desc: Uma imagem customizada para a thumbnail do vídeo.
  - name: maxwidth
    type: Number
    desc: Número em px da largura máxima da thumbnail.
mock:
  id: Gs069dndIYk
  alt: Interdum velit laoreet id donec ultrices
---
<h1>{{ metadata.title | e | safe }}</h1>
<p>{{ metadata.description | e | safe }}</p>

<div class="alert alert-primary" role="alert">
<p>Para assegurar o funcionamento correto do componente você precisa baixar:</p>
{% highlight "bash" %}
yarn add yt-player@3.6.1
{% endhighlight %}
</div>

<section class="py-4">
  <h4>Exemplo</h4>
  {% YTVideo { id: mock.id, maxwidth: 480 } %}{% endYTVideo %}
</section>
{% include 'partials/props-table.njk' %}

