{%- if context %}
  {% set content = context.content %}
  {% set state = context.state %}
  {% set variant = context.variant %}
{%- endif %}

<div
  class="
    helper-text
    {% if variant %}helper-text--{{ variant | e | safe }}{% endif %}
    {% if state %}helper-text--{{ state | e | safe }}{% endif %}
  "
>{{ content | safe }}</div>
