@use '../../design-tokens' as mkui;

//
// Action bar
//

$font-size: 0.875rem !default;
$padding-y: 0.15rem !default;
$padding-x: 0 !default;
$link-decoration: none !default;
$link-hover-decoration: underline !default;
$link-transition: none !default;
$item-padding-y: 0.25rem !default;
$item-padding-x: 0.5rem !default;

$dark-color: mkui.$white !default;
$dark-icon-color: mkui.$white !default;

$light-color: mkui.$black !default;
$light-icon-color: mkui.$black !default;

.actionbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: $padding-y;
  padding-right: $padding-x;
  padding-bottom: $padding-y;
  padding-left: $padding-x;
  font-size: $font-size;
  a {
    text-decoration: $link-decoration;
    transition: $link-transition;
    &:hover {
      text-decoration: $link-hover-decoration;
    }
  }

  &__start-items,
  &__center-items,
  &__end-items {
    display: flex;
  }

  &__start-items {
    grid-column: 1 / 2;
    justify-content: flex-start;
  }

  &__center-items {
    grid-column: 2 / 3;
    justify-content: center;
  }

  &__end-items {
    grid-column: 3 / 4;
    justify-content: flex-end;
  }

  &__item,
  &__link {
    display: grid;
    grid-gap: 0.33rem;
    grid-auto-flow: column;
    align-items: center;
  }

  &__item {
    line-height: 1;
    padding-top: $item-padding-y;
    padding-right: $item-padding-x;
    padding-bottom: $item-padding-y;
    padding-left: $item-padding-x;
  }

  &__icon.svg-inline--fa {
    height: 1.25em;
    vertical-align: -0.275em;
    width: 1em;
  }

  &--light {
    color: $light-color;
    .actionbar__link {
      color: rgba($color: $light-color, $alpha: 0.75);
      &:hover {
        color: $light-color;
        .actionbar__icon{
          color: $light-icon-color;
        }
      }
    }
    .actionbar__icon{
      color: rgba($color: $light-icon-color, $alpha: 0.75);
    }
  }

  &--dark {
    color: $dark-color;
    .actionbar__link {
      color: rgba($color: $dark-color, $alpha: 0.75);
      &:hover {
        color: $dark-color;
        .actionbar__icon{
          color: $dark-icon-color;
        }
      }
    }
    .actionbar__icon{
      color: rgba($color: $dark-icon-color, $alpha: 0.75);
    }
  }
}


