//
// Video teaser with thumbnail toggler
//

$toggler-border-radius: .25rem !default;
$transition: all .2s ease-in-out !default;
$icon-color: $light !default;
$icon-hover-color: $primary !default;

.video-teaser {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: $toggler-border-radius;
  overflow: hidden;
  img {
    object-fit: cover;
    aspect-ratio: 16/9;
    max-width: 100%;
  }
  &__thumb {
    filter: brightness(0.8);
    transition: $transition;
  }
  &__play {
    position: absolute;
    height: 3em;
    width: 3em !important;
    color: $icon-color;
    transition: $transition;
  }
  &:hover {
    .video-teaser__thumb {
      filter: brightness(1);
    }
    .video-teaser__play {
      color: $icon-hover-color
    }
  }
}