{% if context %}
  {% set theme = context.theme %}
  {% set logoWidth = context.logoWidth %}
  {% set align = context.align %}
  {% set links = context.links %}
  {% set socials = context.socials %}
{% endif %}

{% if theme == "light" %}
  {% set logoTheme = site.logoDark %}
{% else  %}
  {% set logoTheme = site.logo %}
{% endif %}

{% if align == "start" %}
  {% set barAlign = "justify-content-start" %}
{% endif %}
{% if align == "center" %}
  {% set barAlign = "justify-content-center" %}
{% endif %}
{% if align == "end" %}
  {% set barAlign = "justify-content-end" %}
{% endif %}

<header class="page-header">
  <div class="container">
    {% set children %}
      {%- set context = {
          variant: theme,
          items: socials
        } %}
        {% include "socialbar/socialbar.njk" %}
      {% endset %}
    {% set context = {
      id: "main-nav",
      currentPageUrl: page.url,
      links: links,
      children: children,
      brandLogo: logoTheme,
      brandLogoMobile: logoTheme,
      brandLogoWidth: logoWidth,
      brandUrl: global.site_absolute_url,
      variant: theme,
      nav_override_classes: ['w-100', barAlign ]
    } %}
    {% include "navbar/navbar.njk" %}
  </div>
</header>
