{%- if context %}
  {% set content = context.content %}
  {% set forId = context.forId %}
  {% set overrideAtts = context.overrideAtts %}
  {% set overrideClasses = context.overrideClasses %}
  {% if context.elTag %}
    {% set elTag = context.elTag %}
  {% else %}
    {% set elTag = 'label' %}
  {% endif %}
{%- endif %}

<{{elTag}}
  class="
    input-label
    {% if overrideClasses %} {{ overrideClasses | join(' ') }} {% endif %}
  "
  {% if forId %} for="{{ forId | e | safe }}" {% endif %}
  {%- if overrideAtts %}
    {%- for att, value in overrideAtts %}
      {{ att | e | safe }}="{{ value | e | safe }}"
    {%- endfor %}
  {%- endif %}
>{{ content | safe }}</{{elTag}}>
