---
eleventyNavigation:
  key: faq
  title: Accordion
  order: 0
metadata:
  title: Accordion
  description: Usado para mostrar várias informações em cards diferentes, o Accordion permite que o usuário abra uma aba por vez, podendo ser usado numa sessão de perguntas e respostas.
---

<h1>{{metadata.title}}</h1>
<p>{{metadata.description}}</p>

<section id="=accordion">
  <h2>Exemplo</h2>
  <div class="docs-example">
    {%
      set context = {
        id: 'example',
        headerTag: 'div',
        items: [
          {
            header: "Pergunta exemplo?",
            body: "Permite que a resposta só apareça após abertura do accordion."
          },
          {
            header: "Pode ser usado em qualquer sessão do site?",
            body: "Sim, mas é ideal para conteúdos que necessitam de FAQ."
          },
          {
            header: "Podem ser inseridos mais de um parágrafo?",
            body: "Sim.\nUsando quebra de texto possível de se usar mais de um parágrafo."
          }
        ]
      }
    %}
    {% include "accordion/accordion.njk" %}
  </div>
</section>

<section id="accordion-flush">
  <h2 class="pt-4">Flush</h2>
  <div class="docs-example bg-light">
    {%
      set context = {
        id: 'flush',
        headerTag: 'div',
        items: [
          {
            header: "Pergunta exemplo?",
            body: "Permite que a resposta só apareça após abertura do accordion."
          },
          {
            header: "Pode ser usado em qualquer sessão do site?",
            body: "Sim, mas é ideal para conteúdos que necessitam de FAQ."
          },
          {
            header: "Podem ser inseridos mais de um parágrafo?",
            body: "Sim.\nUsando quebra de texto possível de se usar mais de um parágrafo."
          }
        ],
        flush: true
      }
    %}
    {% include "accordion/accordion.njk" %}
  </div>
</section>
