---
tags:
  - navbar
eleventyNavigation:
  key: action-bar
  title: Action Bar
  order: 2
  parent: docs
metadata:
  title: 
  description:
---

<h1>Action Bar</h1>
<p>Lorem ipsum dolor sit amet, stet intellegat cu mei, pertinax oportere at sea. Eos an mutat blandit. Nec at nisl volumus appellantur, an his brute quodsi. Sit ceteros contentiones at, te summo discere pro.</p>
<section class="py-5">
  <div class="row">
    <div class="col col-12">
      <h2>Action Bar</h2>
      <div class="container bg-primary">
        {%- set context = {
          "startItems": [
            {
              "text": 'lukeiamyourfather@gmail.com',
              "href": "mailto:" + 'lukeiamyourfather@gmail.com'
            }
          ],
          "endItems": [
            {
              "text": '(88) 9999-999',
              "href": '889999999'
            },
            {
              "text": '(77) 5555-555',
              "href": '775555555'
            },
            {
              "icon": "facebook",
              "href": 'https://facebook.com'
            },
            {
              "icon": "linkedin",
              "href": 'https://linkedin.com'
            },
            {
              "icon": "youtube",
              "href": 'https://youtube.com'
            },
            {
              "icon": "instagram",
              "href": 'https://instagram.com'
            }
          ]
        } %}
        {% include "action-bar/action-bar.njk" %}
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="row">
    <div class="col col-12">
      <h2>Dark</h2>
      <div class="container bg-primary">
        {%- set context = {
          "variant": "dark",
          "startItems": [
            {
              "text": '(88) 9999-999',
              "href": '889999999'
            }
          ],
          "endItems": [
            {
              "icon": "youtube",
              "href": 'https://youtube.com'
            },
            {
              "icon": "instagram",
              "href": 'https://instagram.com'
            }
          ]
        } %}
        {% include "action-bar/action-bar.njk" %}
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="row">
    <div class="col col-12">
      <h2>Light</h2>
      <div class="container bg-light">
        {%- set context = {
          "variant": "light",
          "startItems": [
            {
              "text": '(88) 9999-999',
              "href": '889999999'
            }
          ],
          "endItems": [
            {
              "icon": "youtube",
              "href": 'https://youtube.com'
            },
            {
              "icon": "instagram",
              "href": 'https://instagram.com'
            }
          ]
        } %}
        {% include "action-bar/action-bar.njk" %}
      </div>
    </div>
  </div>
</section>
