---
tags:
  - navbar
eleventyNavigation:
  key: carousel
  title: Carousel
  order: 7
metadata:
  title: Carousel
  description: Lorem ipsum, dolor sit amet consectetur adipisicing elit. In modi, amet, atque soluta illum, a distinctio.
items:
  - title: Lorem ipsum dollor 1
    description: Perspiciatis facilis quisquam ex impedit dolor voluptate culpa eligendi quibusdam corporis provident.
  - title: Lorem ipsum dollor 2 
    description: Perspiciatis facilis quisquam ex impedit dolor voluptate culpa eligendi quibusdam corporis provident.
  - title: Lorem ipsum dollor 3
    description: Perspiciatis facilis quisquam ex impedit dolor voluptate culpa eligendi quibusdam corporis provident.
  - title: Lorem ipsum dollor 3
    description: Perspiciatis facilis quisquam ex impedit dolor voluptate culpa eligendi quibusdam corporis provident.
---
<h1>Carousel</h1>
<p>Lorem ipsum dolor sit amet, stet intellegat cu mei, pertinax oportere at sea. Eos an mutat blandit. Nec at nisl volumus appellantur, an his brute quodsi. Sit ceteros contentiones at, te summo discere pro.</p>
<h2>Exemplo</h2>

<div class="docs-example">
  {% set arr = [] %}
  {% for item in items %}
    {% set renderedItem %}
    <figure class="carousel__item-wrapper p-3">
      <figcaption class="carousel__info d-flex justify-content-center align-items-center flex-column">
        <img src="https://res.cloudinary.com/sunlux-marke/image/upload/c_thumb,dpr_2,f_auto,g_faces,h_75,q_auto,w_75/Marcos-Roberto-Ize_iv66ob.jpg" alt="Foto de Marcos Roberto Ize" class="carousel__avatar" height="75" loading="lazy" width="75">
        <span class="carousel__title" title="Marcos Roberto Ize">{{ item.title }}</cite>
      </figcaption>
      <blockquote class="carousel__blockquote blockquote text-center">
        <p>{{ item.description }}</p>
      </blockquote>
    </figure>
    {% endset %}
    {% set arr = (arr.push(renderedItem), arr) %}
  {% endfor %}
  {%- set context = {
    "minSlidesPerView": 1,
    "maxSlidesPerView": 2,
    "total": (items | length),
    "items": arr,
    "visibleOverflow": false,
    "showNavs": true
  } %}
  {% include "carousel/carousel.njk" %}
</div>

<hr class="my-4"></hr>

<div class="docs-example">
  {% set arr = [] %}
  {% for item in items %}
    {% set renderedItem %}
    <figure class="carousel__item-wrapper p-2">
      <figcaption class="carousel__info d-flex justify-content-center align-items-center flex-column">
        <img src="https://res.cloudinary.com/sunlux-marke/image/upload/c_thumb,dpr_2,f_auto,g_faces,h_75,q_auto,w_75/Marcos-Roberto-Ize_iv66ob.jpg" alt="Foto de Marcos Roberto Ize" class="carousel__avatar" height="75" loading="lazy" width="75">
        <span class="carousel__title" title="Marcos Roberto Ize">{{ item.title }}</cite>
      </figcaption>
      <blockquote class="carousel__blockquote blockquote text-center">
        <p>{{ item.description }}</p>
      </blockquote>
    </figure>
    {% endset %}
    {% set arr = (arr.push(renderedItem), arr) %}
  {% endfor %}
  {%- set context = {
    "minSlidesPerView": 1,
    "maxSlidesPerView": 3,
    "total": (items | length),
    "items": arr,
    "visibleOverflow": false,
    "showNavs": true
  } %}
  {% include "carousel/carousel.njk" %}
</div>