---
eleventyNavigation:
  key: chip
  title: Chip
metadata:
  title: Chips
  description: Os chips podem ser usados para representar uma ação ou listar diferentes tipos de dados
---

<h1>{{ metadata.title | e | safe }}</h1>
<p>{{ metadata.description | e | safe }}</p>

<h2>Exemplo</h2>
<div class="docs-example">
  {% set context = {
    text: 'Duis aute'
  } %}
  {% include "chip/chip.njk" %}
  {% set context = {
    text: 'Excepteur'
  } %}
  {% include "chip/chip.njk" %}
  {% set context = {
    text: 'Cupidatat'
  } %}
  {% include "chip/chip.njk" %}
</div>
<div class="docs-highlight">
{% highlight 'liquid' %}{% raw %}
{% set context = {
  text: 'Duis aute'
} %}
{% include "chip/chip.njk" %}
{% set context = {
  text: 'Excepteur'
} %}
{% include "chip/chip.njk" %}
{% set context = {
  text: 'Cupidatat'
} %}
{% include "chip/chip.njk" %}
{% endraw %}{% endhighlight %}
</div>

<h2>Outline</h2>
<div class="docs-example">
  {% set context = {
    text: 'Duis aute',
    outline: true
  } %}
  {% include "chip/chip.njk" %}
  {% set context = {
    text: 'Excepteur',
    outline: true
  } %}
  {% include "chip/chip.njk" %}
  {% set context = {
    text: 'Cupidatat',
    outline: true
  } %}
  {% include "chip/chip.njk" %}
</div>
<div class="docs-highlight">
{% highlight 'liquid' %}{% raw %}
{% set context = {
  text: 'Duis aute',
  outline: true
} %}
{% include "chip/chip.njk" %}
{% set context = {
  text: 'Excepteur',
  outline: true
} %}
{% include "chip/chip.njk" %}
{% set context = {
  text: 'Cupidatat',
  outline: true
} %}
{% include "chip/chip.njk" %}
{% endraw %}{% endhighlight %}
</div>

<h2>Com link</h2>
<div class="docs-example">
  {% set context = {
    text: 'Duis aute',
    link: '#'
  } %}
  {% include "chip/chip.njk" %}
  {% set context = {
    text: 'Excepteur',
    outline: true,
    link: '#'
  } %}
  {% include "chip/chip.njk" %}
</div>
<div class="docs-highlight">
{% highlight 'liquid' %}{% raw %}
{% set context = {
  text: 'Duis aute',
  outline: true
} %}
{% include "chip/chip.njk" %}
{% set context = {
  text: 'Excepteur',
  outline: true
} %}
{% include "chip/chip.njk" %}
{% set context = {
  text: 'Cupidatat',
  outline: true
} %}
{% include "chip/chip.njk" %}
{% endraw %}{% endhighlight %}
</div>
