---
eleventyNavigation:
  key: copyrightbar
  title: Copyright Bar
metadata:
  title: Copyright Bar
  description: Aquela barra com a informação de desenvolvimento da Marke.
---
<h1>{{metadata.title}}</h1>
<p>{{metadata.description}}</p>

<h2>Exemplo</h2>
<div class="docs-example p-3">
  <div class="bg-primary">
    {%- set context = {
      variant: "dark",
      signUrl: "https://marke.com.br/servicos-de-marketing-digital/consultoria-seo/",
      signLogo: "https://res.cloudinary.com/webmaster-marke/image/upload/v1625684943/Marke_Marketing_Digital_light.png",
      signAltText: "Consultoria SEO",
      copyrightText: "© MarkeUI. Todos os Direitos Reservados."
    } %}
    {% include "copyrightbar/copyrightbar.njk" %}
  </div>
</div>

{% highlight 'liquid' %}
  {% raw %}
<div class="docs-example p-3">
  <div class="bg-primary">
  {%- set context = {
    variant: "dark",
    signUrl: "https://marke.com.br/servicos-de-marketing-digital/consultoria-seo/",
    signLogo: "https://res.cloudinary.com/webmaster-marke/image/upload/v1625684943/Marke_Marketing_Digital_light.png",
    signAltText: "Consultoria SEO",
    copyrightText: "© MarkeUI. Todos os Direitos Reservados."
  } %}
  {% include "copyrightbar/copyrightbar.njk" %}
  </div>
</div>
  {% endraw %}
{% endhighlight %}

<h2>Variação clara</h2>
<div class="docs-example p-3">
  <div class="bg-light">
    {%- set context = {
      variant: "light",
      signUrl: "https://marke.com.br/servicos-de-marketing-digital/consultoria-seo/",
      signLogo: "https://res.cloudinary.com/webmaster-marke/image/upload/v1625683764/Marke_Marketing_Digital.svg",
      signAltText: "Consultoria SEO",
      copyrightText: "© MarkeUI. Todos os Direitos Reservados."
    } %}
    {% include "copyrightbar/copyrightbar.njk" %}
  </div>
</div>

{% highlight 'liquid' %}
  {% raw %}
<div class="docs-example p-3">
  <div class="bg-light">
    {%- set context = {
      variant: "light",
      signUrl: "https://marke.com.br/servicos-de-marketing-digital/consultoria-seo/",
      signLogo: "https://res.cloudinary.com/webmaster-marke/image/upload/v1625683764/Marke_Marketing_Digital.svg",
      signAltText: "Consultoria SEO",
      copyrightText: "© MarkeUI. Todos os Direitos Reservados."
    } %}
    {% include "copyrightbar/copyrightbar.njk" %}
  </div>
</div>
  {% endraw %}
{% endhighlight %}


<section id="scss">
  <h2 class="pt-4">Scss</h2>
  <h4>Variáveis</h4>
  {% highlight 'scss' %}
$thumb-border-radius: .25rem;
$transition: all .2s ease-in-out;
  {% endhighlight %}
</section>
