---
eleventyNavigation:
  key: grid-responsive-slider
  title: Grid Responsive Slider
metadata:
  title: Grid Responsive Slider
  description: Grid em telas maiores que tem responsividade em telas menores, tornando-se um [Carousel](/docs/components/carousel/)
items:
  - title: Item 1
    description: O conteúdo em telas maiores aparece todo junto, porém em telas menores cria-se um slider para melhor legibilidade.
  - title: Item 2
    description: O conteúdo em telas maiores aparece todo junto, porém em telas menores cria-se um slider para melhor legibilidade.
  - title: Item 3
    description: O conteúdo em telas maiores aparece todo junto, porém em telas menores cria-se um slider para melhor legibilidade.nt.
---
<h1>{{metadata.title}}</h1>
<p>{{metadata.description | markdown | safe}}</p>

<h2>Exemplo</h2>
<div class="docs-example gx-lg-4">
  {% set arr = [] %}
  {% for item in items %}
    {% set renderedItem %}
    <div>
      <h3>{{ item.title }}</h3>
      <p>{{ item.description }}</p>
    </div>
    {% endset %}
    {% set arr = (arr.push(renderedItem), arr) %}
  {% endfor %}
  {%- set context = {
    "minColumns": 1,
    "maxColumns": 3,
    "total": (items | length),
    "items": arr,
    "showPagination": true
  } %}
  {% include "grid-responsive-slider/grid-responsive-slider.njk" %}
</div>
