---
eleventyNavigation:
  key: maps
  title: Maps
metadata:
  title: Maps no site
  description: Usando o Google Maps, adicione um localização diretamente na página
---

<h1>{{metadata.title}}</h1>
<p>{{metadata.description}}</p>

<h2>Exemplo</h2>
<div class="docs-example">
  {% set context = {
    query: 'Feevale Techpark - Hub One Novo Hamburgo'
  } %}
  {% include "maps/maps.njk" %}
</div>

<h2>Zoom aumentado</h2>
<div class="docs-example">
  {% set context = {
    options: {
      zoom: 18
    },
    query: 'Feevale Techpark - Hub One Novo Hamburgo'
  } %}
  {% include "maps/maps.njk" %}
</div>

<h2>Tamanho específico</h2>
<div class="docs-example">
  {% set context = {
    width: 600,
    height: 350,
    query: 'Feevale Techpark - Hub One Novo Hamburgo'
  } %}
  {% include "maps/maps.njk" %}
</div>

<h2>Estilo personalizado</h2>
<div class="docs-example">
  {% set context = {
    query: 'Feevale Techpark - Hub One Novo Hamburgo',
    override_styles: {
      'border': '3px solid #b7485d',
      'max-width': '450px'
    }
  } %}
  {% include "maps/maps.njk" %}
</div>
