---
eleventyNavigation:
  key: masthead-slider
  title: Masthead Slider
masthead:
  items:
    - image: https://res.cloudinary.com/webmaster-marke/image/upload/v1625060481/MarkeUI/golden-gate-bridge.jpg
      bgColor: '#3c3c3c'
      title: Lorem ipsum dolor
      description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, nihil.
    - image: https://res.cloudinary.com/webmaster-marke/image/upload/v1625060742/MarkeUI/golden-gate-bridge-2.jpg
      bgColor: '#1fd2a7'
      title: Sit amet consectetur
      description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, necessitatibus?
    - image: https://res.cloudinary.com/webmaster-marke/image/upload/v1625060740/MarkeUI/golden-gate-bridge-3.jpg
      bgColor: '#b7485d'
      title: Alias fugit
      description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, repudiandae?
---
<h1>Masthead Slider</h1>
<p>Lorem ipsum dolor sit amet, stet intellegat cu mei, pertinax oportere at sea. Eos an mutat blandit. Nec at nisl volumus appellantur, an his brute quodsi. Sit ceteros contentiones at, te summo discere pro.</p>
<h2>Exemplo</h2>
<div class="docs-example">

  {% set slides = [] %}
  {% for item in masthead.items %}

    {# Renderiza um masthead #}
    {% set renderedMasthead %}
      {% set content %}
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
              <div class="p-3 bg-light rounded-3" style="--bs-bg-opacity: .5;">
                <h1>{{ item.title }}</h1>
                <p>{{ item.description }}</p>
                {% set context = { theme: 'primary', text: 'Ex cibo putent' } %}
                {% include "button/button.njk" %}
              </div>
            </div>
          </div>
        </div>
      {% endset %}
      {%- set context = {
        image: item.image,
        bgColor: item.bgColor,
        classes: ['pb-4', 'pb-lg-0'],
        children: content
      } %}
      {% include "masthead/masthead.njk" %}
    {% endset %}

    {# Insere o masthead já renderizado no array de slides #}
    {% set slides = (slides.push(renderedMasthead), slides) %}
  {% endfor %}

  {%- set context = {
    slides: slides
  } %}
  {% include "masthead-slider/masthead-slider.njk" %}
</div>

<h2>Com autoplay</h2>
<div class="docs-example">

  {% set slides = [] %}
  {% for item in masthead.items %}

    {# Renderiza um masthead #}
    {% set renderedMasthead %}
      {% set content %}
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
              <div class="p-3 bg-light rounded-3" style="--bs-bg-opacity: .5;">
                <h1>{{ item.title }}</h1>
                <p>{{ item.description }}</p>
                {% set context = { theme: 'primary', text: 'Ex cibo putent' } %}
                {% include "button/button.njk" %}
              </div>
            </div>
          </div>
        </div>
      {% endset %}
      {%- set context = {
        image: item.image,
        bgColor: item.bgColor,
        classes: ['pb-4', 'pb-lg-0'],
        children: content
      } %}
      {% include "masthead/masthead.njk" %}
    {% endset %}

    {# Insere o masthead já renderizado no array de slides #}
    {% set slides = (slides.push(renderedMasthead), slides) %}
  {% endfor %}

  {%- set context = {
    slides: slides,
    autoplay: 3000
  } %}
  {% include "masthead-slider/masthead-slider.njk" %}
</div>


<h2>Cor de navegação customizada</h2>
<div class="docs-example">

  {% set slides = [] %}
  {% for item in masthead.items %}

    {# Renderiza um masthead #}
    {% set renderedMasthead %}
      {% set content %}
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
              <div class="p-3 bg-light rounded-3" style="--bs-bg-opacity: .5;">
                <h1>{{ item.title }}</h1>
                <p>{{ item.description }}</p>
                {% set context = { theme: 'primary', text: 'Ex cibo putent' } %}
                {% include "button/button.njk" %}
              </div>
            </div>
          </div>
        </div>
      {% endset %}
      {%- set context = {
        image: item.image,
        bgColor: item.bgColor,
        classes: ['pb-4', 'pb-lg-0'],
        children: content
      } %}
      {% include "masthead/masthead.njk" %}
    {% endset %}

    {# Insere o masthead já renderizado no array de slides #}
    {% set slides = (slides.push(renderedMasthead), slides) %}
  {% endfor %}

  {%- set context = {
    slides: slides,
    navColor: '#ffc107'
  } %}
  {% include "masthead-slider/masthead-slider.njk" %}
</div>
