---
tags:
  - navbar
eleventyNavigation:
  key: navbar
  title: Nav Bar
---
<h1>Nav Bar</h1>
<p>Lorem ipsum dolor sit amet, stet intellegat cu mei, pertinax oportere at sea. Eos an mutat blandit. Nec at nisl volumus appellantur, an his brute quodsi. Sit ceteros contentiones at, te summo discere pro.</p>

<h2>Exemplo</h2>
<div class="docs-example p-3">
  <div class="bg-primary px-3">
    {%- set navbarLinks = [
      {
        "key": "link-1",
        "url": "#link-1",
        "title": "Link 1"
      },
      {
        "key": "link-2",
        "url": "#sample-id",
        "title": "Link scrollSpy",
        "navbar": {
          "scrollSpy": true
        }
      },
      {
        "key": "link-3",
        "url": "#link-3",
        "title": "Link 3"
      }
    ] %}
    {%- set context = {
      navbarLinks: navbarLinks,
      currentPage: page,
      brandLogo: 'https://res.cloudinary.com/webmaster-marke/image/upload/v1620931656/Logo_Marke_dt6azg_pthlhj.svg',
      brandLogoMobile: 'https://res.cloudinary.com/webmaster-marke/image/upload/v1620931656/Logo_Marke_dt6azg_pthlhj.svg',
      brandLogoMobileWidth: 70,
      brandUrl: "#inicio",
      variant: "dark",
      offcanvasColor: "dark"
    } %}
    {% include "navbar/navbar.njk" %}
  </div>
</div>

<h2>Variação clara</h2>
<div class="docs-example p-3">
  <div class="bg-light px-3">
    {%- set navbarLinks = [
      {
        "key": "link-1",
        "url": "#link-1",
        "title": "Link 1"
      },
      {
        "key": "link-2",
        "url": "#link-2",
        "title": "Link 2",
        "navbar": {
          "scrollSpy": true
        }
      },
      {
        "key": "link-3",
        "url": "#link-3",
        "title": "Link 3"
      }
    ] %}
    {%- set context = {
      navbarLinks: navbarLinks,
      currentPage: page,
      brandLogo: 'https://res.cloudinary.com/webmaster-marke/image/upload/v1626289554/Marke_logo_dark.svg',
      brandLogoMobile: 'https://res.cloudinary.com/webmaster-marke/image/upload/v1626289554/Marke_logo_dark.svg',
      brandLogoMobileWidth: 70,
      brandUrl: "#inicio",
      variant: "light",
      offcanvasColor: 'light'
    } %}
    {% include "navbar/navbar.njk" %}
  </div>
</div>

<h2>Com hierarquia e dropdowns</h2>
<div class="docs-example p-3">
  <div class="bg-dark px-3">
    {%- set navbarLinks = [
      {
        "key": "link-1",
        "url": "#link-1",
        "title": "Link 1",
        "children": [
          {
            "key": "children-link-1", 
            "url": "#children-link-1",
            "title": "Children 1"
          },
          {
            "key": "children-link-2", 
            "url": "#children-link-2",
            "title": "Children 2"
          }
        ]
      },
      {
        "key": "link-2",
        "url": "#link-2",
        "title": "Link 2",
        "navbar": {
          "scrollSpy": true
        }
      },
      {
        "key": "link-3",
        "url": "#link-3",
        "title": "Link 3"
      }
    ] %}
    {%- set context = {
      navbarLinks: navbarLinks,
      currentPage: page,
      brandLogo: 'https://res.cloudinary.com/webmaster-marke/image/upload/v1620931656/Logo_Marke_dt6azg_pthlhj.svg',
      brandLogoMobile: 'https://res.cloudinary.com/webmaster-marke/image/upload/v1620931656/Logo_Marke_dt6azg_pthlhj.svg',
      brandLogoMobileWidth: 70,
      brandUrl: "#inicio",
      variant: "dark",
      offcanvasColor: "dark"
    } %}
    {% include "navbar/navbar.njk" %}
  </div>
</div>

<h2 id="sample-id">Com navegação extra</h2>
<div class="docs-example p-3">
  <div class="bg-dark px-3">
    {%- set navbarLinks = [
      {
        "key": "link-1",
        "url": "#link-1",
        "title": "Link 1"
      },
      {
        "key": "link-2",
        "url": "#link-2",
        "title": "Link 2",
        "extra": true,
        "navbar": {
          "scrollSpy": true
        }
      },
      {
        "key": "link-3",
        "url": "#link-3",
        "title": "Link 3",
        "extra": true
      }
    ] %}

    {% set arr = [] %}
    {%- for item in navbarLinks %}
      {%- if item.extra %}
        {% set renderedItem %}
          <div class="d-flex h-100 align-items-center">
            <a class="btn btn-success" href="{{ item.url | url }}">{{ item.title | e | safe }}</a>
          </div>
        {% endset %}
      {% set arr = (arr.push(renderedItem), arr) %}
      {%- endif %}
    {% endfor %}

    {%- set context = {
      navbarLinks: navbarLinks,
      currentPage: page,
      brandLogo: 'https://res.cloudinary.com/webmaster-marke/image/upload/v1620931656/Logo_Marke_dt6azg_pthlhj.svg',
      brandLogoMobile: 'https://res.cloudinary.com/webmaster-marke/image/upload/v1620931656/Logo_Marke_dt6azg_pthlhj.svg',
      brandLogoMobileWidth: 70,
      brandUrl: "#inicio",
      offcanvasColor: "dark",
      variant: "dark",
      extraNavItems: arr
    } %}
    {% include "navbar/navbar.njk" %}
  </div>
</div>

<h2>Conteúdo extra somente no mobile</h2>
<p>Conteúdo será colocado do body do offcanvas e só aparecerá no mobile</p>
<div class="docs-example p-3">
  <div class="bg-dark px-3">
    {%- set navbarLinks = [
      {
        "key": "link-1",
        "url": "#link-1",
        "title": "Link 1"
      },
      {
        "key": "link-2",
        "url": "#link-2",
        "title": "Link 2",
        "extra": true,
        "navbar": {
          "scrollSpy": true
        }
      },
      {
        "key": "link-3",
        "url": "#link-3",
        "title": "Link 3",
        "extra": true
      }
    ] %}

    {%- set extraContent %}
      <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    {%- endset %}
    {%- set context = {
      navbarLinks: navbarLinks,
      currentPage: page,
      brandLogo: 'https://res.cloudinary.com/webmaster-marke/image/upload/v1620931656/Logo_Marke_dt6azg_pthlhj.svg',
      brandLogoMobile: 'https://res.cloudinary.com/webmaster-marke/image/upload/v1620931656/Logo_Marke_dt6azg_pthlhj.svg',
      brandLogoMobileWidth: 70,
      brandUrl: "#inicio",
      offcanvasColor: "dark",
      extraOffcanvasContent: extraContent,
      variant: "dark"
    } %}
    {% include "navbar/navbar.njk" %}
  </div>
</div>

<h2>Navegação central sem imagem</h2>
<div class="docs-example p-3">
  <div class="bg-dark px-3">
    {%- set navbarLinks = [
      {
        "key": "link-1",
        "url": "#link-1",
        "title": "Link 1"
      },
      {
        "key": "link-2",
        "url": "#link-2",
        "title": "Link 2",
        "extra": true,
        "navbar": {
          "scrollSpy": true
        }
      },
      {
        "key": "link-3",
        "url": "#link-3",
        "title": "Link 3",
        "extra": true
      }
    ] %}

    {% set arr = [] %}
    {%- for item in navbarLinks %}
      {%- if item.extra %}
        {% set renderedItem %}
          <div class="d-flex h-100 align-items-center">
            <a class="btn btn-success" href="{{ item.url | url }}">{{ item.title | e | safe }}</a>
          </div>
        {% endset %}
      {% set arr = (arr.push(renderedItem), arr) %}
      {%- endif %}
    {% endfor %}
    {%- set context = {
      navbarLinks: navbarLinks,
      navPosition: "between",
      currentPage: page,
      brandUrl: "#inicio",
      offcanvasColor: "dark",
      variant: "dark",
      extraNavItems: arr
    } %}
    {% include "navbar/navbar.njk" %}
  </div>
</div>
