---
tags:
  - navbar
eleventyNavigation:
  key: offcanvas-menu
  title: Offcanvas Menu
metadata:
  title: 
  description:
---

<h1>Offcanvas Menu</h1>
<p>Lorem ipsum dolor sit amet, stet intellegat cu mei, pertinax oportere at sea. Eos an mutat blandit. Nec at nisl volumus appellantur, an his brute quodsi. Sit ceteros contentiones at, te summo discere pro.</p>
<h2>Offcanvas Menu</h2>
<div class="docs-example">
  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-menu">
    <span class="navbar-toggler-icon"></span>
  </button>
  {%- set context = {
    "navbarLinks": collections.navbar | eleventyNavigation,
    "currentPage": page,
    "brandLogo": site.logo,
    "brandLogoMobile": site.logoMobile,
    "brandUrl": global.site_absolute_url,
    "offcanvasId": "offcanvas-menu"
  } %}
  {% include "offcanvas-menu/offcanvas-menu.njk" %}
</div>