---
eleventyNavigation:
  key: photos-gallery
  title: Photos Gallery
---
<h1>Photos Gallery</h1>
<p>Lorem ipsum dolor sit amet, stet intellegat cu mei, pertinax oportere at sea. Eos an mutat blandit. Nec at nisl volumus appellantur, an his brute quodsi. Sit ceteros contentiones at, te summo discere pro.</p>

<h2>Exemplo</h2>
<div class="docs-example">
{% set context = {
    "isDynamic": false,
    "width": 200,
    "gallery": [
      {
        "url": "https://picsum.photos/1920/1080?random=1",
        "description": "Photo 1"
      },
      {
        "url": "https://picsum.photos/1920/1080?random=2",
        "description": "Photo 2",
        "title": "Golden Gate"
      },
      {
        "url": "https://picsum.photos/1920/1080?random=3",
        "description": "Photo 3"
      }
    ]
  }
%}
{% include "photo-gallery/photo-gallery.njk" %}
</div>

<h2>Dinâmica sem thumbnail</h2>
<div class="docs-example">
  {% set context = {
      "isDynamic": true,
      "title": "Golden Gate Bridge",
      "gallery": [
        {
          "url": "https://picsum.photos/1920/1080?random=1",
          "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        },
        {
          "url": "https://picsum.photos/1920/1080?random=2",
          "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        }
      ]
    }
  %}
  {% include "photo-gallery/photo-gallery.njk" %}
</div>

<h2>Dinâmica com thumbnail</h2>
<div class="docs-example">
  {% set context = {
      "isDynamic": true,
      "thumbnail": {
        "url": "https://picsum.photos/1920/1080?random=1",
        "alt": "Golden Gate Bridge"
      },
      "title": "Golden Gate Bridge",
      "gallery": [
        {
          "url": "https://picsum.photos/1920/1080?random=2",
          "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        },
        {
          "url": "https://picsum.photos/1920/1080?random=3",
          "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        }
      ]
    }
  %}
  {% include "photo-gallery/photo-gallery.njk" %}
</div>
