---
tags:
  - navbar
eleventyNavigation:
  key: photos-gallery
  title: Photos Gallery
  order: 1
  parent: docs
metadata:
  title: 
  description:
---

<h1>Photos Gallery</h1>
<p>Lorem ipsum dolor sit amet, stet intellegat mei, pertinax oportere at sea. Eos an mutat blandit. Nec at nisl volumus appellantur, an his brute quodsi. Sit ceteros contentiones at, te summo discere pro.</p>
<div class="row">
  <div class="col col-12 col-lg-6">
    <h3>A nice gallery!</h3>
  </div>
</div>