---
eleventyNavigation:
  key: post-preview
  title: Post Preview
metadata:
  title: Post Preview
  description: Usando o Post Preview é possível dar uma ideia dos post do blog do seu site, usando características atrativas para que o usuário clique no link da postagem.
---
<h1>{{ metadata.title | e | safe}}</h1>
<p>{{ metadata.description | e | safe }}</p>

<h2>Exemplo</h2>
<div class="docs-example">
  {% set context = {
    title: "Título do Card",
    titleTag: "h3",
    excerpt: "Pequeno trecho do post",
    date: "2021-08-18T09:00:00.000Z",
    variant: 'dark',
    categories: [
      {
        "title": "Categoria A",
        "url": ""
      },
      {
        "title": "Categoria B",
        "url": ""
      }
    ]
  } %}
  {% include "post-preview/post-preview.njk" %}
</div>
<div class="docs-highlight">
{% highlight 'liquid' %}{% raw %}
{% set context = {
  title: "Título do Card",
  titleTag: "h3",
  excerpt: "Pequeno trecho do post",
  date: "2021-08-18T09:00:00.000Z",
  variant: 'dark',
  categories: [
    {
      "title": "Categoria A",
      "url": ""
    },
    {
      "title": "Categoria B",
      "url": ""
    }
  ]
} %}
{% include "post-preview/post-preview.njk" %}
{% endraw %}{% endhighlight %}
</div>

<h2>Variante Light</h2>
<div class="docs-example bg-dark">
  {% set context = {
    title: "Título do Card",
    titleTag: "h3",
    excerpt: "Pequeno trecho do post",
    date: "2021-08-18T09:00:00.000Z",
    variant: 'light',
    categories: [
      {
        "title": "Categoria A",
        "url": ""
      },
      {
        "title": "Categoria B",
        "url": ""
      }
    ]
  } %}
  {% include "post-preview/post-preview.njk" %}
</div>
<div class="docs-highlight">
{% highlight 'liquid' %}{% raw %}
{% set context = {
  title: "Título do Card",
  titleTag: "h3",
  excerpt: "Pequeno trecho do post",
  date: "2021-08-18T09:00:00.000Z",
  variant: 'light',
  categories: [
    {
      "title": "Categoria A",
      "url": ""
    },
    {
      "title": "Categoria B",
      "url": ""
    }
  ]
} %}
{% include "post-preview/post-preview.njk" %}
{% endraw %}{% endhighlight %}
</div>

<h2>Contido em um Card</h2>
<div class="docs-example">
  {% set body %}
    {% set context = {
      title: "Título do Card",
      titleTag: "h3",
      excerpt: "Pequeno trecho do post",
      date: "2021-08-18T09:00:00.000Z",
      variant: 'dark',
      categories: [
        {
          "title": "Categoria A",
          "url": ""
        },
        {
          "title": "Categoria B",
          "url": ""
        }
      ]
    } %}
    {% include "post-preview/post-preview.njk" %}
  {% endset %}
  {% set context = {
    body: body
  } %}
  {% include 'card/card.njk' %}
</div>
<div class="docs-highlight">
{% highlight 'liquid' %}{% raw %}
{% set body %}
  {% set context = {
    title: "Título do Card",
    titleTag: "h3",
    excerpt: "Pequeno trecho do post",
    date: "2021-08-18T09:00:00.000Z",
    variant: 'dark',
    categories: [
      {
        "title": "Categoria A",
        "url": ""
      },
      {
        "title": "Categoria B",
        "url": ""
      }
    ]
  } %}
  {% include "post-preview/post-preview.njk" %}
{% endset %}
{% set context = {
  body: body
} %}
{% include 'card/card.njk' %}
{% endraw %}{% endhighlight %}
</div>
