---
tags:
  - navbar
eleventyNavigation:
  key: post-preview
  title: Post preview
  order: 0
  parent: docs
metadata:
  title: 
  description:
---

<h1>Post preview</h1>
<p>Lorem ipsum dolor sit amet, stet intellegat mei, pertinax oportere at sea. Eos an mutat blandit. Nec at nisl volumus appellantur, an his brute quodsi. Sit ceteros contentiones at, te summo discere pro.</p>
<div class="row">
    {% set context = {
        titleTag: "h3",
        items: [
            {
                title: "Quem foi Santo Ambrósio de Milão?",
                excerpt: "S. Ambrósio, como muitos sabem, foi elevado ao episcopado de forma extraordinária.",
                thumbnail: 'https://arquivos.padrepauloricardo.org/uploads/episodio/frame/3381/1650-memoria-de-santo-ambrosio-de-milao-frame.jpg',
                url: 'https://padrepauloricardo.org/episodios/memoria-de-santo-ambrosio-de-milao-bispo-e-doutor-mmxx',
                categories: [{title: 'História', slug:'historia', url: 'https://exemplo.com.br/categoria/historia'}, {title: 'Teologia', slug:'teologia', url: 'https://exemplo.com.br/categoria/teologia'}],
                date: "25 de dezembro de 2021",
                author: 'Santo Ambrósio'
            }, {
                title: "Quem foi Santo Agostinho?",
                excerpt: "Tomando as Cartas de São Paulo lê: “Não é nos prazeres da vida, mas em seguir a Cristo que se encontra a felicidade”",
                thumbnail: 'https://media.gazetadopovo.com.br/2019/06/11200040/Saint_Augustine_by_Philippe_de_Champaigne-660x372.jpg',
                url: 'https://agostinianos.org.br/santo-agostinho/vida/',
                categories: [{title: 'Teologia', slug:'teologia', url: 'https://exemplo.com.br/categoria/teologia'}, {title: 'Filosofia', slug:'filosofia', url: 'https://exemplo.com.br/categoria/filosofia'}],
                date: "25 de dezembro de 2021",
                author: 'Santo Agostinho'
            }, {
                title: "Podemos conhecer Deus apenas com a luz da razão?",
                excerpt: "A partir da criação, isto é, do mundo e da pessoa humana, o homem pode, só pela razão...",
                thumbnail: 'https://educacaopublica.cecierj.edu.br/012020/23644d44367ba32fca766572511165fe.jpg',
                url: 'https://www.vatican.va/archive/cathechism_po/index_new/p1s1c2_50-141_po.html',
                categories: [{title: 'Teologia', slug:'teologia', url: 'https://exemplo.com.br/categoria/teologia'}, {title: 'Filosofia', slug:'filosofia', url: 'https://exemplo.com.br/categoria/filosofia'}],
                date: "25 de dezembro de 2021",
                author: 'Santo Tomás'
            }
        ]
    } %}
    {% include "post-preview/post-preview.njk" %}
    <div class="my-4"></div>

</div>