---
eleventyNavigation:
  key: socialbar
  title: Social Bar
metadata:
  title: Social Bar
  description: Social bar com redes sociais que deseja incluir no site.
---
<h1>{{metadata.title}}</h1>
<p>{{metadata.description}}</p>

<section id="social-bar">
  <h2>Exemplo de Social Bar com fundo escuro</h2>
  <div class="docs-example">
    <div class="bg-primary p-3">
      {%- set context = {
        variant: 'dark',
        items: {
          instagram: 'https://instagram.com',
          facebook: 'https://facebook.com',
          youtube: 'https://youtube.com',
          linkedin: 'https://linkedin.com'
        }
      } %}
      {% include "socialbar/socialbar.njk" %}
    </div>
  </div>
</section>

<section id="social-square">
  <h2 class="pt-4">Fundo escuro e ícones quadrados</h2>
  <div class="docs-example">
    <div class="bg-primary p-3">
      {%- set context = {
        variant: 'dark',
        squareIcons: true,
        items: {
          instagram: 'https://instagram.com',
          facebook: 'https://facebook.com',
          youtube: 'https://youtube.com',
          linkedin: 'https://linkedin.com'
        }
      } %}
      {% include "socialbar/socialbar.njk" %}
    </div>
  </div>
</section>

<section id="social-white">
  <h2 class="pt-4">Social Bar com fundo claro e ícones escuros</h2>
  <div class="docs-example">
    <div class="bg-light p-3">
      {%- set context = {
        variant: 'light',
        items: {
          instagram: 'https://instagram.com',
          facebook: 'https://facebook.com',
          youtube: 'https://youtube.com',
          linkedin: 'https://linkedin.com'
        }
      } %}
      {% include "socialbar/socialbar.njk" %}
    </div>
  </div>
</section>
