---
tags:
  - navbar
eleventyNavigation:
  key: tabs-slider
  title: Tabs Slider
items:
  - title: Integer enim neque
    description: Perspiciatis facilis quisquam ex impedit dolor voluptate culpa eligendi quibusdam corporis provident.
  - title: Consectetur adipiscing
    description: Sed no autem nostro. Sea eu habeo mutat summo, dicam delicata mel te.
  - title: Habitant morbi
    description: Per saperet tincidunt id, qui natum consul tempor ad. Te pri graecis principes conceptam.
  - title: Cursus turpis
    description: Perspiciatis facilis quisquam ex impedit dolor voluptate culpa eligendi quibusdam corporis provident.
  - title: Pellentesque dignissim
    description: Sed no autem nostro. Sea eu habeo mutat summo, dicam delicata mel te.
  - title: Sed lectus vestibulum
    description: Per saperet tincidunt id, qui natum consul tempor ad. Te pri graecis principes conceptam.
---
<h1>Tabs Slider</h1>
<p>Lorem ipsum dolor sit amet, stet intellegat cu mei, pertinax oportere at sea. Eos an mutat blandit. Nec at nisl volumus appellantur, an his brute quodsi. Sit ceteros contentiones at, te summo discere pro.</p>

<h2>Exemplo</h2>
<div class="docs-example px-0 px-lg-4 px-xl-5 gx-lg-4">


  {% set arr = [] %}
  {% for item in items %}
    {% set renderedItem %}
    <div class="d-flex justify-content-center align-items-center flex-column gap-3 text-center">
      <img class="img-fluid" height="75" width="75" loading="lazy" src="https://via.placeholder.com/75" alt="{{ item.title | e | safe }}">
      <h4 class="mb-0">{{ item.title | e | safe }}</h4>
      <div>{{ item.description | e | safe }}</div>
    </div>
    {% endset %}
    {% set arr = (arr.push({ slide: renderedItem, tabTitle: item.title }), arr) %}
  {% endfor %}


  {%- set context = {
    items: arr,
    visibleOverflow: false,
    showNavs: true
  } %}
  {% include "tabs-slider/tabs-slider.njk" %}
</div>