---
tags:
  - navbar
eleventyNavigation:
  key: tabs-panel
  title: Tabs Panel
  order: 0
  parent: docs
metadata:
  title: 
  description:
---

<h1>Tabs Panel</h1>
<p>Lorem ipsum dolor sit amet, stet intellegat mei, pertinax oportere at sea. Eos an mutat blandit. Nec at nisl volumus appellantur, an his brute quodsi. Sit ceteros contentiones at, te summo discere pro.</p>
<div class="row">
  {% set context = { id:'', items: [{ title: "Exemplo 1", content: "Tet intellegat mei, pertinax oportere at sea. Eos an mutat blandit. Eos an mutat blandit. Nec at nisl volumus appellantur, an his brute quodsi. Sit ceteros contentiones at, te summo discere pro." }, { title: "Exemplo 2", content: "Eos an mutat blandit. Nec at nisl volumus appellantur, an his brute quodsi. Eos an mutat blandit. Nec at nisl volumus appellantur, an his brute quodsi. Sit ceteros contentiones at, te summo discere pro." }, { title: "Exemplo 3", content: "Nec at nisl volumus appellantur, an his brute quodsi. Sit ceteros contentiones at, te summo discere pro. Eos an mutat blandit. Nec at nisl volumus appellantur, an his brute quodsi. Sit ceteros contentiones at, te summo discere pro." }] } %}
  {% include "tabs-panel/tabs-panel.njk" %}
  {% set context = { id:'tab2', items: [{ title: "Exemplo 1", content: "Tet intellegat mei, pertinax oportere at sea. Eos an mutat blandit. Eos an mutat blandit. Nec at nisl volumus appellantur, an his brute quodsi. Sit ceteros contentiones at, te summo discere pro." }, { title: "Exemplo 2", content: "Eos an mutat blandit. Nec at nisl volumus appellantur, an his brute quodsi. Eos an mutat blandit. Nec at nisl volumus appellantur, an his brute quodsi. Sit ceteros contentiones at, te summo discere pro." }, { title: "Exemplo 3", content: "Nec at nisl volumus appellantur, an his brute quodsi. Sit ceteros contentiones at, te summo discere pro. Eos an mutat blandit. Nec at nisl volumus appellantur, an his brute quodsi. Sit ceteros contentiones at, te summo discere pro." }] } %}
  {% include "tabs-panel/tabs-panel.njk" %}
</div>