---
tags:
  - navbar
eleventyNavigation:
  key: toast-stack
  title: Toast Stack
---
<h1>Toast Stack</h1>
<p>Lorem ipsum dolor sit amet, stet intellegat mei, pertinax oportere at sea. Eos an mutat blandit. Nec at nisl volumus appellantur, an his brute quodsi. Sit ceteros contentiones at, te summo discere pro.</p>

<div
  class="toast-stack-example"
  data-toast-stack-anchor-v="bottom"
  data-toast-stack-anchor-h="right"
>
  <h2 class="docs-section-title">Exemplo</h2>
  <div class="docs-example">
    <button
      type="button"
      class="btn btn-primary toast-stack-example-button"
      data-toast-message="Exemplo de notificação."
      data-toast-variant="primary"
      data-toast-auto-hide-duration="3000"
      data-toast-closebutton="false"
    >Exibir toast</button>
  </div>
  <h2 class="docs-section-title">Exemplo de toast com ação</h2>
  <div class="docs-example">
    <button
      type="button"
      class="btn btn-primary toast-stack-example-button"
      data-toast-message="Você pode me fechar."
      data-toast-variant="primary"
    >Exibir toast</button>
  </div>
  <h2 class="docs-section-title">Usando variações de cores</h2>
  <div class="docs-example">
    <button
      type="button"
      class="btn btn-danger toast-stack-example-button"
      data-toast-message="Perigo!"
      data-toast-variant="danger"
    >Danger</button>
    <button
      type="button"
      class="btn btn-warning toast-stack-example-button"
      data-toast-message="Aviso!"
      data-toast-variant="warning"
    >Warning</button>
    <button
      type="button"
      class="btn btn-success toast-stack-example-button"
      data-toast-message="Sucesso!"
      data-toast-variant="success"
    >Success</button>
  </div>
  <h2 class="docs-section-title">Definindo tempos de expiração</h2>
  <div class="docs-example">
    <button
      type="button"
      class="btn btn-primary toast-stack-example-button"
      data-toast-message="Notificação de 5 segundos."
      data-toast-variant="primary"
      data-toast-auto-hide-duration="5000"
      data-toast-closebutton="false"
    >Exibir toast</button>
  </div>
  <h2 class="docs-section-title">Prevenindo duplicações</h2>
  <div class="docs-example">
    <button
      type="button"
      class="btn btn-primary toast-stack-example-button"
      data-toast-message="Você só pode me ver uma vez."
      data-toast-variant="primary"
      data-toast-auto-hide-duration="3000"
      data-toast-closebutton="false"
      data-toast-id="false"
    >Exibir toast</button>
  </div>
</div>
<h2>Escolhendo posições</h2>
<div class="docs-example">
  <span
    class="toast-stack-example"
    data-toast-stack-anchor-v="bottom"
    data-toast-stack-anchor-h="center"
  >
    <button
      type="button"
      class="btn btn-primary toast-stack-example-button"
      data-toast-message="Estou abaixo e centralizado."
      data-toast-variant="primary"
    >Exibir no centro horizontal e abaixo</button>
  </span>
  <span
    class="toast-stack-example"
    data-toast-stack-anchor-v="top"
    data-toast-stack-anchor-h="right"
  >
    <button
      type="button"
      class="btn btn-primary toast-stack-example-button"
      data-toast-message="Estou no topo na direita."
      data-toast-variant="primary"
    >Exibir na direita e topo vertical</button>
  </span>
</div>