---
tags:
  - navbar
eleventyNavigation:
  key: toaststack
  title: Toast Stack
---
<h1>Toast Stack</h1>
<p>Lorem ipsum dolor sit amet, stet intellegat mei, pertinax oportere at sea. Eos an mutat blandit. Nec at nisl volumus appellantur, an his brute quodsi. Sit ceteros contentiones at, te summo discere pro.</p>

<h2>Exemplo</h2>
<div class="docs-example">
  {% 
    set context = { 
      items: [
      { 
        id: 1,
        message: "Mensagem enviado com sucesso",
        type: "success",
        vertical: "bottom",
        horizontal: "center",
        extraclass: "",
        autohide: false
      },
      { 
        id: 2,
        message: "Preencha todos os campos",
        type: "warning",
        vertical: "bottom",
        horizontal: "left",
        extraclass: "",
        autohide: false
      },
      { 
        id: 3,
        message: "Houve um erro no envio do formulário",
        type: "danger",
        vertical: "bottom",
        horizontal: "right",
        extraclass: "",
        autohide: false
      }
    ] 
    } 
  %}
  {% include "toaststack/toaststack.njk" %}
</div>