---
tags:
  - navbar
eleventyNavigation:
  key: toast-stack
  title: Toast Stack
metadata:
  title: Toast Stack
  description: Notificações push para melhorar a comunicação com o usuário do site.
---
<h1>{{metadata.title}}</h1>
<p>{{metadata.description}}</p>

<div
  class="toast-stack-example"
  data-toast-stack-anchor-v="bottom"
  data-toast-stack-anchor-h="right"
>
<section id="toast-example">
    <h2 class="docs-section-title">Exemplo de Toast simples</h2>
    <P>Na sua versão mais simples a notificação aparece por tempo determinado e depois desaparece.</p>
    <li>Recomendamos por padrão o uso do canto inferior direito.</li>

    <div class="docs-example">
      {% set context = {
        theme: 'primary',
        text: 'Exibir toast',
        override_classes: ['toast-stack-example-button'],
        override_atts: {
          'data-toast-message': 'Exemplo de notificação.',
          'data-toast-variant': 'primary',
          'data-toast-auto-hide-duration': '3000',
          'data-toast-closebutton': 'false'
        }
      } %}
      {% include "button/button.njk" %}
  </div>
</section>

<section id="toast-action">
  <h2 class="docs-section-title">Exemplo de toast com ação</h2>
  <p>Toast com opção de fechar</p>
  <div class="docs-example">
    {% set context = {
      theme: 'primary',
      text: 'Exibir toast',
      override_classes: ['toast-stack-example-button'],
      override_atts: {
        'data-toast-message': 'Você pode me fechar.',
        'data-toast-variant': 'primary'
      }
    } %}
    {% include "button/button.njk" %}
  </div>
</section>
<section id="toast-colors">
  <h2 class="docs-section-title">Usando variações de cores</h2>
  <div class="docs-example">
    {% set context = {
      theme: 'danger',
      text: 'Exibir toast',
      override_classes: ['toast-stack-example-button'],
      override_atts: {
        'data-toast-message': 'Perigo!',
        'data-toast-variant': 'danger'
      }
    } %}
    {% include "button/button.njk" %}
    {% set context = {
      theme: 'warning',
      text: 'Exibir toast',
      override_classes: ['toast-stack-example-button'],
      override_atts: {
        'data-toast-message': 'Aviso!',
        'data-toast-variant': 'warning'
      }
    } %}
    {% include "button/button.njk" %}
    {% set context = {
      theme: 'success',
      text: 'Exibir toast',
      override_classes: ['toast-stack-example-button'],
      override_atts: {
        'data-toast-message': 'Sucesso!',
        'data-toast-variant': 'success'
      }
    } %}
    {% include "button/button.njk" %}
  </div>
</section>
<section id="toast-time-defined">
  <h2 class="docs-section-title">Definindo tempos de expiração</h2>
  <div class="docs-example">
    {% set context = {
      theme: 'primary',
      text: 'Exibir toast',
      override_classes: ['toast-stack-example-button'],
      override_atts: {
        'data-toast-message': 'Notificação de 5 segundos.',
        'data-toast-variant': 'primary',
        'data-toast-auto-hide-duration': '5000',
        'data-toast-closebutton': 'false'
      }
    } %}
    {% include "button/button.njk" %}
  </div>
</section>
<section id="toast-no-dup">
  <h2 class="docs-section-title">Prevenindo duplicações</h2>
  <p>Usando essa opção é garantido que apenas um toast por botão apareça por vez, evitando mensagens duplicadas</p>
  <div class="docs-example">
    {% set context = {
      theme: 'primary',
      text: 'Exibir toast',
      override_classes: ['toast-stack-example-button'],
      override_atts: {
        'data-toast-message': 'Você só pode me ver uma vez.',
        'data-toast-variant': 'primary',
        'data-toast-auto-hide-duration': '3000',
        'data-toast-closebutton': 'false',
        'data-toast-id': 'false'
      }
    } %}
    {% include "button/button.njk" %}
  </div>
</div>
</section>

<section id="toast-choose-position">
  <h2 class="pt-3">Escolhendo posições</h2>
  <p>Quando for necessário alterar a posição do toast</p>
  <div class="docs-example">
    <span
      class="toast-stack-example"
      data-toast-stack-anchor-v="bottom"
      data-toast-stack-anchor-h="center"
    >
      {% set context = {
        theme: 'primary',
        text: 'Exibir no centro horizontal e abaixo',
        override_classes: ['toast-stack-example-button'],
        override_atts: {
          'data-toast-message': 'Estou abaixo e centralizado.',
          'data-toast-variant': 'primary'
        }
      } %}
      {% include "button/button.njk" %}
    </span>
    <span
      class="toast-stack-example"
      data-toast-stack-anchor-v="top"
      data-toast-stack-anchor-h="right"
    >
      {% set context = {
        theme: 'primary',
        text: 'Exibir na direita e topo vertical',
        override_classes: ['toast-stack-example-button'],
        override_atts: {
          'data-toast-message': 'Estou no topo na direita.',
          'data-toast-variant': 'primary'
        }
      } %}
      {% include "button/button.njk" %}
    </span>
  </div>
</section>
