---
tags:
  - navbar
eleventyNavigation:
  key: toast-stack
  title: Toast Stack
---
<h1>Toast Stack</h1>
<p>Lorem ipsum dolor sit amet, stet intellegat mei, pertinax oportere at sea. Eos an mutat blandit. Nec at nisl volumus appellantur, an his brute quodsi. Sit ceteros contentiones at, te summo discere pro.</p>

<div
  class="toast-stack-example"
  data-toast-stack-anchor-v="bottom"
  data-toast-stack-anchor-h="right"
>
  <h2 class="docs-section-title">Exemplo</h2>
  <div class="docs-example">
    {% set context = { 
      theme: 'primary', 
      text: 'Exibir toast',
      override_classes: ['toast-stack-example-button'],
      override_atts: {
        'data-toast-message': 'Exemplo de notificação.',
        'data-toast-variant': 'primary',
        'data-toast-auto-hide-duration': '3000',
        'data-toast-closebutton': 'false'
      }
    } %}
    {% include "button/button.njk" %}
  </div>
  <h2 class="docs-section-title">Exemplo de toast com ação</h2>
  <div class="docs-example">
    {% set context = { 
      theme: 'primary', 
      text: 'Exibir toast',
      override_classes: ['toast-stack-example-button'],
      override_atts: {
        'data-toast-message': 'Você pode me fechar.',
        'data-toast-variant': 'primary'
      }
    } %}
    {% include "button/button.njk" %}
  </div>
  <h2 class="docs-section-title">Usando variações de cores</h2>
  <div class="docs-example">
    {% set context = { 
      theme: 'danger', 
      text: 'Exibir toast',
      override_classes: ['toast-stack-example-button'],
      override_atts: {
        'data-toast-message': 'Perigo!',
        'data-toast-variant': 'danger'
      }
    } %}
    {% include "button/button.njk" %}
    {% set context = { 
      theme: 'warning', 
      text: 'Exibir toast',
      override_classes: ['toast-stack-example-button'],
      override_atts: {
        'data-toast-message': 'Aviso!',
        'data-toast-variant': 'warning'
      }
    } %}
    {% include "button/button.njk" %}
    {% set context = { 
      theme: 'success', 
      text: 'Exibir toast',
      override_classes: ['toast-stack-example-button'],
      override_atts: {
        'data-toast-message': 'Sucesso!',
        'data-toast-variant': 'success'
      }
    } %}
    {% include "button/button.njk" %}
  </div>
  <h2 class="docs-section-title">Definindo tempos de expiração</h2>
  <div class="docs-example">
    {% set context = { 
      theme: 'primary', 
      text: 'Exibir toast',
      override_classes: ['toast-stack-example-button'],
      override_atts: {
        'data-toast-message': 'Notificação de 5 segundos.',
        'data-toast-variant': 'primary',
        'data-toast-auto-hide-duration': '5000',
        'data-toast-closebutton': 'false'
      }
    } %}
    {% include "button/button.njk" %}
  </div>
  <h2 class="docs-section-title">Prevenindo duplicações</h2>
  <div class="docs-example">
    {% set context = { 
      theme: 'primary', 
      text: 'Exibir toast',
      override_classes: ['toast-stack-example-button'],
      override_atts: {
        'data-toast-message': 'Você só pode me ver uma vez.',
        'data-toast-variant': 'primary',
        'data-toast-auto-hide-duration': '3000',
        'data-toast-closebutton': 'false',
        'data-toast-id': 'false'
      }
    } %}
    {% include "button/button.njk" %}
  </div>
</div>
<h2>Escolhendo posições</h2>
<div class="docs-example">
  <span
    class="toast-stack-example"
    data-toast-stack-anchor-v="bottom"
    data-toast-stack-anchor-h="center"
  >
    {% set context = { 
      theme: 'primary', 
      text: 'Exibir no centro horizontal e abaixo',
      override_classes: ['toast-stack-example-button'],
      override_atts: {
        'data-toast-message': 'Estou abaixo e centralizado.',
        'data-toast-variant': 'primary'
      }
    } %}
    {% include "button/button.njk" %}
  </span>
  <span
    class="toast-stack-example"
    data-toast-stack-anchor-v="top"
    data-toast-stack-anchor-h="right"
  >
    {% set context = { 
      theme: 'primary', 
      text: 'Exibir na direita e topo vertical',
      override_classes: ['toast-stack-example-button'],
      override_atts: {
        'data-toast-message': 'Estou no topo na direita.',
        'data-toast-variant': 'primary'
      }
    } %}
    {% include "button/button.njk" %}
  </span>
</div>