---
tags:
  - navbar
eleventyNavigation:
  key: toaststack
  title: Toast Stack
---
<h1>Toast Stack</h1>
<p>Lorem ipsum dolor sit amet, stet intellegat mei, pertinax oportere at sea. Eos an mutat blandit. Nec at nisl volumus appellantur, an his brute quodsi. Sit ceteros contentiones at, te summo discere pro.</p>

<h2>Exemplo</h2>
<div class="docs-example">
  <div id="toast-1" class="toast toast-stack show"></div>
</div>