---
tags:
  - navbar
eleventyNavigation:
  key: toastarea
  title: Toast Area
---
<h1>Toast Area</h1>
<p>Lorem ipsum dolor sit amet, stet intellegat mei, pertinax oportere at sea. Eos an mutat blandit. Nec at nisl volumus appellantur, an his brute quodsi. Sit ceteros contentiones at, te summo discere pro.</p>

<h2>Exemplo</h2>
<div class="docs-example">
  {% include "toastarea/toastarea.njk" %}
</div>