---
eleventyNavigation:
  key: video-modal
  title: Video Modal
metadata:
  title:
  description:
---
<h1>Video Modal</h1>
<p>Lorem ipsum dolor sit amet, stet intellegat cu mei, pertinax oportere at sea. Eos an mutat blandit. Nec at nisl volumus appellantur, an his brute quodsi. Sit ceteros contentiones at, te summo discere pro.</p>

<h2>Exemplo acionado por um Video Teaser</h2>
<div class="docs-example">
  <div style="max-width: 500px;">
    {% set context = {
      "id": "FTQbiNvZqaY",
      "alt": "Toto Africa",
      "toggles_modal": true
    } %}
    {% include "video-teaser/video-teaser.njk" %}
  </div>
</div>

<h2>Video Teaser com Thumbnail personalizada</h2>
<div class="docs-example">
  <div style="max-width: 500px;">
    {% set context = {
      "id": "Gs069dndIYk",
      "alt": "Toto Africa",
      "toggles_modal": true,
      "custom_thumbnail": "https://res.cloudinary.com/webmaster-marke/image/upload/v1625060740/golden-gate-bridge-3.jpg"
    } %}
    {% include "video-teaser/video-teaser.njk" %}
  </div>
</div>
