---
tags:
  - navbar
eleventyNavigation:
  key: video-modal
  title: Video Modal
  order: 0
  parent: docs
metadata:
  title: 
  description:
---
<h1>Video Modal</h1>
<h2>Acionado por um Video Teaser</h2>
<div class="docs-example">
  <div class="w-lg-50">
    {% set context = {
      "id": "FTQbiNvZqaY",
      "alt": "Toto Africa",
      "toggles_modal": true
        }
    %}
    {% include "video-teaser/video-teaser.njk" %}
  </div>
</div>