{% if context %}
  {% set title = context.title %}
  {% set description = context.description %}
  {% set highlight = context.highlight %}
  {% set items = context.items %}
{% endif %}

{% if title.tag %}
  {% set titleTag = (title.tag | e | safe) %}
{% else %}
  {% set titleTag = 'h2' %}
{% endif %}

{% if title.html %}
  {% set titleContent = (title.html | markdown | safe) %}
{% else %}
  {% set titleContent = (title.text | e | safe) %}
{% endif %}

<section class="py-4 py-lg-5 text-center">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12 col-lg-9 col-xl-8 mx-auto">
        {% if highlight %}
          {% set context = { title: highlight } %}
          {% include '../../components/highlight/highlight.njk' %}
        {% endif %}
        {% if title %}
          <{{ titleTag }}>{{ titleContent }}</{{ titleTag }}>
        {% endif %}
        {% if description %}
          {{ description | markdown | safe }}
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% set arr = [] %}
        {% for item in items %}
          {% if item.width %}
            {% set itemWidth = item.width %}
          {% else %}
            {% set itemWidth = 60 %}
          {% endif %}
          {% set renderedItem %}
            <div>
              <img
                src="{% imageUrl item.image.src, { fetch_format: 'auto', quality: 'auto', width: itemWidth, aspect_ratio: '1:1', crop: 'pad' } %}"
                srcset="
                  {% imageUrl item.image.src, { fetch_format: 'auto', quality: 'auto', width: itemWidth, aspect_ratio: '1:1', crop: 'pad' } %},
                  {% imageUrl item.image.src, { fetch_format: 'auto', quality: 'auto', width: itemWidth, aspect_ratio: '1:1', crop: 'pad', drp: 2 } %} 2x"
                alt="{{ item.image.alt | e | safe }}"
                width="{{ itemWidth }}"
                height="{{ itemWidth }}"
                class="img-fluid mb-3"
              >
              <h3>{{ item.title | e | safe }}</h3>
              <p>{{ item.description | e | safe }}</p>
            </div>
          {% endset %}
          {% set arr = (arr.push(renderedItem), arr) %}
        {% endfor %}
        {% set context = {
          minColumns: 1,
          maxColumns: 3,
          total: (items | length),
          items: arr,
          showPagination: true
        } %}
        {% include "../../components/grid-responsive-slider/grid-responsive-slider.njk" %}
      </div>
    </div>
  </div>
</section>
