{%- if context -%}
  {% set navbarLinks = context.navbarLinks %}
  {% set currentPage = context.currentPage %}
  {% set brandLogo = context.brandLogo %}
  {% set brandLogoMobile = context.brandLogoMobile %}
  {% set brandUrl = context.brandUrl %}
  {%- if context.brandLogoWidth -%}
    {% set brandLogoWidth = context.brandLogoWidth %}
  {%- else -%}
    {% set brandLogoWidth = 120 %}
  {%- endif -%}
  {% set offcanvasId = context.offcanvasId %}
{%- endif -%}

<div class="offcanvas offcanvas-start offcanvas-menu" tabindex="-1" id="{{ offcanvasId | slug | safe }}" aria-labelledby="{{ offcanvasId | slug | safe }}-label">
  <div class="offcanvas-header">
    <div class="offcanvas-title" id="{{ offcanvasId | slug | safe }}-label">
      <img 
        class="img-fluid d-block d-lg-none"
        alt="Logo"
        width="30"
        src="{%- imageUrl brandLogoMobile, { fetch_format: 'auto', quality: 'auto', dpr: 2, width: brandLogoWidth } %}"
      >
      <img 
        class="img-fluid d-none d-lg-block"
        alt="Logo"
        width="{{ brandLogoWidth }}"
        src="{%- imageUrl brandLogo, { fetch_format: 'auto', quality: 'auto', dpr: 2, width: brandLogoWidth } %}"
      >
    </div>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body px-0">
    <ul class="list-group list-group-flush border-top border-bottom">
    {%- for home in navbarLinks %}
    {%- for entry in home.children %}
      <a class="list-group-item list-group-item-action" href="{{ entry.url | url | safe }}">{{ entry.title | e | safe }}</a>
    {%- endfor %}
    {%- endfor %}
    </ul>
  </div>
</div>