{%- if context -%}
  {% set items = context.items %}
  {% set showNavs = context.showNavs %}
  {% set visibleOverflow = context.visibleOverflow %}
{%- endif -%}

<div
  class="tabs-slider{% if visibleOverflow %} tabs-slider--visible-overflow{% endif %}"
>
  <div class="tabs-slider__container swiper-container">
    <div class="tabs-slider__wrapper swiper-wrapper">
      {% for item in items %}
        <div class="tabs-slider__slide swiper-slide" data-tab-title="{{ item.tabTitle | e | safe }}">
          {{ item.slide | safe }}
        </div>
      {% endfor %}
    </div>
    <div class="tabs-slider__pagination swiper-pagination"></div>
  </div>
  {% if showNavs %}
    <div class="tabs-slider__button-prev swiper-button-prev"></div>
    <div class="tabs-slider__button-next swiper-button-next"></div>
  {% endif %}
</div>