//
// Carousel component styles.
//

@use '../../design-tokens' as mkui;
@use '../../design-tokens/sliders.scss' as sliders;

$navigation-size: 1rem !default;
$theme-color: mkui.$primary !default;

$pagination-padding-bottom: 1rem !default;
$pagination-flex-order: 0 !default;
$pagination-color: mkui.$primary !default;
$pagination-hover-color: mkui.$secondary !default;

$bullet-border-top: none !default;
$bullet-border-bottom: solid 2px mkui.$border-color !default;
$bullet-padding-x: 0 !default;
$bullet-padding-y: 1rem !default;
$bullet-margin-x: .5rem !default;
$bullet-margin-y: 0 !default;

.tabs-slider {
  --swiper-pagination-color: #{$pagination-color};
  --swiper-pagination-hover-color: #{$pagination-hover-color};
  --swiper-theme-color: #{$theme-color};
  --swiper-navigation-size: #{$navigation-size};
  margin-right: calc(var(--mkui-gutter-x) / -2);
  margin-left: calc(var(--mkui-gutter-x) / -2);
  position: relative;
  &__container {
    padding-bottom: 2rem;
    @include mkui.media-breakpoint-up(lg) {
      display: flex;
      flex-direction: column;
    }
  }
  &__wrapper {
    order: 1;
  }
  &__button-prev,
  &__button-next {
    display: none;
    background-color: mkui.$white;
    box-shadow: mkui.$box-shadow;
    border-radius: 100%;
    padding: 0.75rem;
    width: var(--swiper-navigation-size);
    box-sizing: content-box;
    transition: mkui.$transition-base;
    color: mkui.$primary;
    &:hover {
      box-shadow: mkui.$box-shadow-lg;
      color: mkui.$secondary;
    }
    @include mkui.media-breakpoint-up(lg) {
      display: block;
    }
    &::after {
      display: block;
      position: relative;
      left: 50%;
      transform: translateX(-25%);
      font-weight: bolder;
    }
    &.swiper-button-disabled {
      opacity: 0.15;
    }
  }
  &__button-prev {
    left: calc(var(--swiper-navigation-size) * -1 - 0.75rem - var(--mkui-gutter-x) / 2);
  }
  &__button-next {
    right: calc(var(--swiper-navigation-size) * -1 - 0.75rem - var(--mkui-gutter-x) / 2);
  }
  &__slide {
    height: auto;
    padding-top: 0.75rem;
    padding-right: calc(var(--mkui-gutter-x) / 2);
    padding-bottom: 0.75rem;
    padding-left: calc(var(--mkui-gutter-x) / 2);
    @include mkui.media-breakpoint-down(lg) {
      &:first-child {
        margin-left: 10vw;
      }
      &:last-child {
        margin-right: 10vw;
      }
    }
  }
  .swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
    scroll-snap-align: center center;
    scroll-snap-stop: always;
  }
  &__pagination {
    @include mkui.media-breakpoint-up(lg) {
      position: static;
      display: flex;
      justify-content: center;
      order: $pagination-flex-order;
      padding-bottom: $pagination-padding-bottom;
    }
  }
  &__tab {
    width: auto;
    height: auto;
    background: none;
    &.swiper-pagination-bullet {
      opacity: 1;
      flex-grow: 1;
      justify-content: center;
      border-bottom: $bullet-border-bottom;
      border-top: $bullet-border-top;
      padding-right: $bullet-padding-x;
      padding-left: $bullet-padding-x;
      padding-top: $bullet-padding-y;
      padding-bottom: $bullet-padding-y;
      margin-right: $bullet-margin-x !important;
      margin-left: $bullet-margin-x !important;
      margin-top: $bullet-margin-y !important;
      margin-bottom: $bullet-margin-y !important;
      border-radius: 0;
      transition: mkui.$transition-base;
      position: relative;
      &.swiper-pagination-bullet-active {
        color: var(--swiper-pagination-color);
        border-color: var(--swiper-pagination-color);
      }
      &:hover {
        color: var(--swiper-pagination-hover-color);
        border-color: var(--swiper-pagination-hover-color);
      }
    }
  }
}

// Visible overflow variant
.tabs-slider--visible-overflow {
  @include mkui.media-breakpoint-up(lg) {
    .tabs-slider__container {
      overflow: visible;
    }
    .tabs-slider__slide {
      transition: mkui.$transition-base;
      &:not(.swiper-slide-active) {
        opacity: 0.666;
        pointer-events: none;
        user-select: none;
      }
    }
  }
}
