.carousel {
  --swiper-navigation-size: 1rem;
  --swiper-theme-color: #{$dark};
  --swiper-navigation-color: #{$dark};

  @include media-breakpoint-up(lg) {
    position: relative;
    overflow: visible;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  &__container {
    @include media-breakpoint-up(lg) {
      overflow: hidden;
    }
  }

  &__wrapper {
    margin-bottom: 2rem;
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }

  &__slide {
    height: auto !important;
  }

  &__button-prev,
  &__button-next {
    display: none;
    @include media-breakpoint-up(lg) {
      display: flex;
      padding: 1rem;
      transform: translateY(-0.5rem);
      background: $white;
      border: $border-width $border-color $border-style;
      border-radius: 50%;
      transition: $transition-base;

      &:hover {
        background: darken($white, 10%);
      }
    }
  }

  &__button-prev {
    left: -2.5rem !important;
    &::after {
      left: 0;
    }
  }

  &__button-next {
    right: -2.5rem !important;
    &::after {
      right: 0;
    }
  }

  &__pagination {
    display: block;
    bottom: 0 !important;
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}
