{%- if context -%}
  {%- set id = context.id %}
  {%- set items = context.items %}
  {%- if context.headerTag %}
    {%- set headerTag = context.headerTag %}
  {%- else %}
    {%- set headerTag = 'div' %}
  {%- endif %}
  {%- if context.flush %}
    {%- set flush = context.flush %}
  {%- else %}
    {%- set flush = false %}
  {%- endif -%}
{%- endif %}

<div class="accordion{% if flush %} accordion--flush{%- endif %}" id="{{ id | e | safe }}">
  {%- for item in items %}
  <div class="accordion__item">
    <{{ headerTag | e | safe }} 
      class="accordion__header"
      id="{{ id | e | safe }}-heading-{{ loop.index0 | e | safe }}"
    >
      <button
        class="accordion__button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#{{ id | safe }}-collapse-{{ loop.index0 | safe }}"
        aria-expanded="false"
        aria-controls="{{ id | safe }}-collapse-{{ loop.index0 | safe }}"
      >{{ item.header | e | safe }}
      </button>
    </{{ headerTag | e | safe }}>
    <div
      id="{{ id | e | safe }}-collapse-{{ loop.index0 }}"
      class="accordion__collapse collapse"
      aria-labelledby="{{ id | e | safe }}-heading-{{ loop.index0 }}"
      data-bs-parent="#{{ id | e | safe }}">
      <div class="accordion__body">{{ item.body | markdown | safe }}</div>
    </div>
  </div>
  {%- endfor %}
</div>