{% if context %}
  {% set id = context.id %}
  {% set title = context.title %}
  {% set size = context.size %}
  {% set static = context.static %}
  {% set centered = context.centered %}
  {% set scrollable = context.scrollable %}
  {% set body = context.body %}
  {% set footer = context.footer %}
{% endif %}

{% if not size %}
  {% set size = "md" %}
{% endif %}


<div class="modal fade" id="{{id}}" tabindex="-1" aria-hidden="true">
  <div class="
    modal-dialog modal-{{size}}
    {%if centered %} modal-dialog-centered{% endif %}
    {% if scrollable %} modal-dialog-scrollable{% endif %}
  ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{title | e | safe}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{body | safe }}
      </div>
      {% if footer %}
        <div class="modal-footer">
          {{footer | safe }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
