// 
// Design Tokens / Base
// 

@use 'marke-ui' as mkui;
@use '~swiper/swiper' with (
  $themeColor: mkui.$primary,
);

// 
// Components
// 

@use '~lightgallery/scss/lightgallery' as lightgallery with (
  $lg-path-fonts: '~lightgallery/fonts',
  $lg-path-images: '~lightgallery/images',
);

// Swiper
@use '~swiper/components/pagination/pagination';
@use '~swiper/components/navigation/navigation';
@use '~swiper/components/effect-fade/effect-fade';

// Marke UI
@use '../../../../components/accordion';
@use '../../../../components/actionbar';
@use '../../../../components/card';
@use '../../../../components/carousel';
@use '../../../../components/copyrightbar';
@use '../../../../components/grid-responsive-slider';
@use '../../../../components/masthead';
@use '../../../../components/masthead-slider';
@use '../../../../components/navbar';
@use '../../../../components/photo-gallery';
@use '../../../../components/post-preview';
@use '../../../../components/socialbar';
@use '../../../../components/tabs';
@use '../../../../components/video-modal';
@use '../../../../components/video-teaser' with (
  $icon-color: mkui.$primary,
  $icon-hover-color: mkui.$light,
);

// 
// Layouts
// 

@use 'layouts/docs';
