
@use '../../../../scss/youtube-modal';

// Abstracts
@import '~bootstrap/scss/functions';
@import 'abstracts/variables';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

// Dependencies
// @import 'swiper';

// Base
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/root';

// Components
@import '~bootstrap/scss/accordion';
@import '~bootstrap/scss/containers';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/forms/labels';
@import '~bootstrap/scss/forms/form-text';
@import '~bootstrap/scss/forms/form-control';
@import '~bootstrap/scss/close';
@import '~bootstrap/scss/modal';
@import '~bootstrap/scss/spinners';
@import '~bootstrap/scss/toasts';
@import 'components/images';

// Layouts
@import 'layouts/docs';

// Utils
@import '~bootstrap/scss/helpers';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/utilities/api';