@use 'marke-ui' as mkui;
@use '~lightgallery/scss/lightgallery' as lightgallery with (
  $lg-path-fonts: '~lightgallery/fonts',
  $lg-path-images: '~lightgallery/images',
);
@use '~swiper/swiper' with (
  $themeColor: mkui.$primary,
);
@use '~swiper/components/pagination/pagination';
@use '~swiper/components/navigation/navigation';
@use '~swiper/components/effect-fade/effect-fade';

// Components
@use '../../../../components/video-teaser' with (
  $icon-color: mkui.$primary,
  $icon-hover-color: mkui.$light,
);
@use '../../../../components/video-modal';
@use '../../../../components/photo-gallery';
@use '../../../../components/action-bar';
@use '../../../../components/copyrightbar';
@use '../../../../components/masthead-slider';
@use '../../../../components/grid-responsive-slider';
@use '../../../../components/navbar';

// Layouts
@use 'layouts/docs';
