// 
// Masthead component styles.
// 

@use '../../design-tokens' as mkui;

$height: 450px !default;
$children-padding-y: 1rem; 
$children-padding-x: 0; 

.masthead {
  position: relative;
}

.masthead__image {
  object-fit: cover;
  aspect-ratio: 21 / 9;
  width: 100%;
  height: auto;

  @include mkui.media-breakpoint-up(lg) {
    aspect-ratio: auto;
    height: $height;
  }
}

.masthead__children {  
  padding-left: $children-padding-x;
  padding-right: $children-padding-x;
  padding-top: $children-padding-y;
  padding-bottom: $children-padding-y;
  
  @include mkui.media-breakpoint-up(lg) {
    padding: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
  }
}