{%- if context -%}
  {% set image = context.image %}
  {%- if context.imgAr %}
    {% set imgAr = context.imgAr %}
  {%- else %}
    {% set imgAr = '21:9' %}
  {%- endif %}
  {% set bgColor = context.bgColor %}
  {% set classes = context.classes %}
  {% set children = context.children %}
{%- endif -%}

<div
  class="masthead{% if classes %} {{ classes | join(" ") | safe }}{% endif %}"
  style="{% if bgColor %}background:{{ bgColor | safe }};{% endif %}"
>
  {%- if image %}
    <picture>
      <source
        media="(max-width: 768px)"
        srcset="
          {% imageUrl image, { fetch_format: 'auto', quality: 'auto', width: 768, aspect_ratio: imgAr, crop: 'thumb', gravity: 'auto' } %},
          {% imageUrl image, { fetch_format: 'auto', quality: 'auto', width: 768, aspect_ratio: imgAr, crop: 'thumb', gravity: 'auto', dpr: 2 } %} 2x"
      />
      <source
        media="(max-width: 992px)"
        srcset="
          {% imageUrl image, { fetch_format: 'auto', quality: 'auto', width: 992, aspect_ratio: imgAr, crop: 'thumb', gravity: 'auto' } %},
          {% imageUrl image, { fetch_format: 'auto', quality: 'auto', width: 992, aspect_ratio: imgAr, crop: 'thumb', gravity: 'auto', dpr: 2 } %} 2x"
      />
      <source
        media="(max-width: 1280px)"
        srcset="
          {% imageUrl image, { fetch_format: 'auto', quality: 'auto', width: 1280, aspect_ratio: imgAr, crop: 'thumb', gravity: 'auto' } %},
          {% imageUrl image, { fetch_format: 'auto', quality: 'auto', width: 1280, aspect_ratio: imgAr, crop: 'thumb', gravity: 'auto', dpr: 2 } %} 2x"
      />
      <img
        class="masthead__image"
        alt="{{ title | e | safe }}"
        loading="lazy"
        width="1920"
        height="450"
        src="{%- imageUrl image, { fetch_format: 'auto', quality: 'auto', width: 1920, aspect_ratio: imgAr, crop: 'thumb', gravity: 'auto' } %}"
      >
    </picture>
  {%- endif %}
  {%- if children %}
    <div class="masthead__children">
      {{ children | safe }}
    </div>
  {%- endif %}
</div>
