{% if context %}
  {% set image = context.image %}
  {% set alt = context.alt %}
  {% set darkened = context.darkened %}
  {% set background_color = context.background_color %}
  {% set override_classes = context.classes %}
  {% set children = context.children %}
  {% if context.crop %}
    {% set crop = context.crop %}
  {% else %}
    {% set crop = 'thumb' %}
  {% endif %}
  {% if context.height %}
    {% set height = context.height %}
  {% else %}
    {% set height = 450 %}
  {% endif %}
{% endif %}

<div
  class="
    masthead
    {% if darkened %}masthead--darkened{% endif %}
    {% if override_classes %} {{ override_classes | join(" ") | safe }}{% endif %}
  "
  {% if background_color %}style="background: {{ background_color }};"{% endif %}
>
  {% if image %}
    <picture>
      <source
        media="(max-width: 768px)"
        srcset="
          {% imageUrl image, { fetch_format: 'auto', quality: 'auto', width: 768, height: height, crop: crop, gravity: 'auto' } %},
          {% imageUrl image, { fetch_format: 'auto', quality: 'auto', width: 768, height: height, crop: crop, gravity: 'auto', dpr: 2 } %} 2x"
      />
      <source
        media="(max-width: 992px)"
        srcset="
          {% imageUrl image, { fetch_format: 'auto', quality: 'auto', width: 992, height: height, crop: crop, gravity: 'auto' } %},
          {% imageUrl image, { fetch_format: 'auto', quality: 'auto', width: 992, height: height, crop: crop, gravity: 'auto', dpr: 2 } %} 2x"
      />
      <source
        media="(max-width: 1280px)"
        srcset="
          {% imageUrl image, { fetch_format: 'auto', quality: 'auto', width: 1280, height: height, crop: crop, gravity: 'auto' } %},
          {% imageUrl image, { fetch_format: 'auto', quality: 'auto', width: 1280, height: height, crop: crop, gravity: 'auto', dpr: 2 } %} 2x"
      />
      <img
        class="masthead__image"
        style="--masthead-height: {{ height + 'px' }};"
        alt="{{ alt | e | safe }}"
        loading="lazy"
        width="1920"
        height="{{ height }}"
        src="{% imageUrl image, { fetch_format: 'auto', quality: 'auto', width: 1920, height: height, crop: crop, gravity: 'auto' } %}"
      >
    </picture>
  {% endif %}
  {% if children %}
    <div class="masthead__children">
      {{ children | safe }}
    </div>
  {% endif %}
</div>
