{% if context %}
  {% set value = context.value %}
  {% set name = context.name %}
  {% set id = context.id %}
  {% set checked = context.checked %}
  {% set required = context.required %}
  {% set disabled = context.disabled %}
  {% set label = context.label %}
  {% set helperText = context.helperText %}
  {% set invalidText = context.invalidText %}
  {% if context.isInvalid %}
    {% set isInvalid = context.isInvalid %}
  {% else %}
    {% set isInvalid = false %}
  {% endif %}
{% endif %}

{%- set content %}
  <input
    class="
      radio
      {% if isInvalid %}is-invalid{% endif %}
    "
    type="radio"
    {%- if name %} name="{{ name | e | safe }}" {%- endif %}
    {%- if id %} id="{{ id | e | safe }}" {%- endif %}
    {%- if checked %} checked {%- endif %}
    {%- if required %} required {%- endif %}
    {%- if disabled %} disabled {%- endif %}
    {%- if value %} value="{{ value | e | safe }}" {%- endif %}
  >
  {%- if label %}
  {% set context = {
    content: label,
    forId: id,
    overrideClasses: ['input-label--radio']
  } %}
  {% include "../input-label/input-label.njk" %}
  {%- endif %}
  {%- if helperText %}
  {% set context = {
    content: helperText
  } %}
  {% include "../helper-text/helper-text.njk" %}
  {%- endif %}
  {%- if invalidText %}
  {% set context = {
    content: invalidText,
    variant: 'tooltip',
    state: 'invalid'
  } %}
  {% include "../helper-text/helper-text.njk" %}
  {%- endif %}
{%- endset %}

{% set context = {
  content: content,
  overrideClasses: ['form-control--radio']
} %}
{% include "../form-control/form-control.njk" %}
