{%- if context -%}
    {% set cols = context.cols %}

    {%- if context.children -%}
        {% set children = context.children %}
    {%- endif -%}
    
    {%- if context.titleTag %}
        {% set titleTag = context.titleTag %}
    {%- else %}
        {% set titleTag = 'h2' %}
    {%- endif %}

    {%- if context.subtitleTag %}
        {% set subtitleTag = context.subtitleTag %}
    {%- else %}
        {% set subtitleTag = 'h4' %}
    {%- endif %}
{%- endif -%}

{%- if cols %}
    {% for col in cols %}
        <div class="{{ col.class }}">
            {%- if col.classInternal %}
                <div class="{{ col.classInternal }}">
                {%- endif %}

                {%- if children -%}
                    {{ children | safe }}
                {%- endif -%}

                {%- if col.classInternal %}
                </div>
            {%- endif %}
        </div>
    {% endfor %}
{%- endif %}