---
eleventyNavigation:
  key: checkbox
  title: Checkbox
  order: 0
metadata:
  title: Checkbox
  description: Uma caixa de escolha para um ou mais opções.
---
<h1>{{metadata.title}}</h1>
<p>{{metadata.description}}</p>

<h2>Exemplos</h2>
<div class="docs-example d-flex flex-column gap-3">
  {% set context = {
    value: 1,
    name: 'sample-check-1',
    id: 'sample-check-1',
    label: 'Checkbox'
  } %}
  {% include "checkbox/checkbox.njk" %}
  {% set context = {
    value: 1,
    name: 'sample-check-2',
    id: 'sample-check-2',
    label: 'Checkbox pré marcado',
    checked: true
  } %}
  {% include "checkbox/checkbox.njk" %}
  <div class="mb-4">
    {% set context = {
      value: 1,
      name: 'sample-check-3',
      id: 'sample-check-3',
      label: 'Checkbox com erro',
      required: true,
      isInvalid: true,
      invalidText: 'Este checkbox é obrigatório! Aceite a opção.'
    } %}
    {% include "checkbox/checkbox.njk" %}
  </div>
  {% set context = {
    value: 1,
    name: 'sample-check-4',
    id: 'sample-check-4',
    label: 'Checkbox desabilitado',
    disabled: true
  } %}
  {% include "checkbox/checkbox.njk" %}
</div>
