---
eleventyNavigation:
  key: radio
  title: Radio Button
  order: 1
metadata:
  title: Radio Button
  description: Botão de seleção para o seu site, pode ser agrupado com outros para que apenas um seja válido.
---

<h1>{{metadata.title}}</h1>
<p>{{metadata.description}}</p>

<section id="radio-button">
  <h2>Exemplos</h2>
  <div class="docs-example d-flex flex-column gap-3">
    {% set context = {
      value: 1,
      name: 'sample-radio-1',
      id: 'sample-radio-1',
      label: 'Botão radio'
    } %}
    {% include "radio/radio.njk" %}
    {% set context = {
      value: 1,
      name: 'sample-radio-2',
      id: 'sample-radio-2',
      label: 'Botão radio pré marcado',
      checked: true
    } %}
    {% include "radio/radio.njk" %}
    {% set context = {
      value: 1,
      name: 'sample-radio-3',
      id: 'sample-radio-3',
      label: 'Botão radio desabilitado',
      disabled: true
    } %}
    {% include "radio/radio.njk" %}
    {% set context = {
      value: 1,
      name: 'sample-radio-4',
      id: 'sample-radio-4',
      label: 'Botão radio com texto de ajuda',
      helperText: 'Este é um texto de ajuda.'
    } %}
    {% include "radio/radio.njk" %}
  </div>

{% highlight 'liquid' %}
  {% raw %}
<div class="docs-example d-flex flex-column gap-3">
  {% set context = {
    value: 1,
    name: 'sample-radio-1',
    id: 'sample-radio-1',
    label: 'Botão radio'
  } %}
  {% include "radio/radio.njk" %}
  {% set context = {
    value: 1,
    name: 'sample-radio-2',
    id: 'sample-radio-2',
    label: 'Botão radio pré marcado',
    checked: true
  } %}
  {% include "radio/radio.njk" %}
  {% set context = {
    value: 1,
    name: 'sample-radio-3',
    id: 'sample-radio-3',
    label: 'Botão radio desabilitado',
    disabled: true
  } %}
  {% include "radio/radio.njk" %}
  {% set context = {
    value: 1,
    name: 'sample-radio-4',
    id: 'sample-radio-4',
    label: 'Botão radio com texto de ajuda',
    helperText: 'Este é um texto de ajuda.'
  } %}
  {% include "radio/radio.njk" %}
</div>
  {% endraw %}
{% endhighlight %}
</section>

<section id="radio-group">
  <h2 class="pt-4">Exemplos de grupo</h2>
  <div class="docs-example d-flex flex-column gap-3">
    {% set context = {
      buttons:
      [
        {
          value: 1,
          label: 'Opção 1'
        },
        {
          value: 2,
          label: 'Opção 2'
        },
        {
          value: 3,
          label: 'Opção 3'
        }
      ],
      label: 'Grupo de botões radio',
      name: 'sample-radio-group-1',
      id: 'sample-radio-group-1'
    } %}
    {% include "radio-group/radio-group.njk" %}
    <div class="mb-4">
    {% set context = {
      buttons:
      [
        {
          value: 1,
          label: 'Opção 1'
        },
        {
          value: 2,
          label: 'Opção 2'
        },
        {
          value: 3,
          label: 'Opção 3'
        }
      ],
      label: 'Grupo de botões radio com erro',
      name: 'sample-radio-group-2',
      id: 'sample-radio-group-2',
      required: true,
      isInvalid: true,
      invalidText: 'Este campo é obrigatório! Selecione uma opção.'
    } %}
    {% include "radio-group/radio-group.njk" %}
    </div>
  </div>

{% highlight 'liquid' %}
  {% raw %}
  <div class="docs-example d-flex flex-column gap-3">
    {% set context = {
      buttons:
      [
        {
          value: 1,
          label: 'Opção 1'
        },
        {
          value: 2,
          label: 'Opção 2'
        },
        {
          value: 3,
          label: 'Opção 3'
        }
      ],
      label: 'Grupo de botões radio',
      name: 'sample-radio-group-1',
      id: 'sample-radio-group-1'
    } %}
    {% include "radio-group/radio-group.njk" %}
    <div class="mb-4">
    {% set context = {
      buttons:
      [
        {
          value: 1,
          label: 'Opção 1'
        },
        {
          value: 2,
          label: 'Opção 2'
        },
        {
          value: 3,
          label: 'Opção 3'
        }
      ],
      label: 'Grupo de botões radio com erro',
      name: 'sample-radio-group-2',
      id: 'sample-radio-group-2',
      required: true,
      isInvalid: true,
      invalidText: 'Este campo é obrigatório! Selecione uma opção.'
    } %}
    {% include "radio-group/radio-group.njk" %}
    </div>
  </div>
  {% endraw %}
{% endhighlight %}
</section>

<section id="scss">
  <h2 class="pt-4">Scss</h2>
  <h4>Variáveis</h4>
  {% highlight 'scss' %}
$input-width:                  1em !default;
$min-height:                   mkui.$font-size-base * mkui.$line-height-base !default;
$padding-start:                $input-width + .5em !default;
$margin-bottom:                .125rem !default;
$cursor:                       pointer !default;
$label-color:                  null !default;
$label-cursor:                 $cursor !default;
$transition:                   null !default;

$input-active-filter:          brightness(90%) !default;

$input-bg:                     mkui.$input-bg !default;
$input-border:                 1px solid rgba(mkui.$black, .25) !default;
$border-radius:                50% !default;
$input-focus-border:           mkui.$input-focus-border-color !default;
$input-focus-box-shadow:       mkui.$input-btn-focus-box-shadow !default;

$input-checked-color:          mkui.$component-active-color !default;
$input-checked-bg-color:       mkui.$component-active-bg !default;
$input-checked-border-color:   $input-checked-bg-color !default;
$checked-bg-image:             url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$input-checked-color}'/></svg>") !default;

$input-indeterminate-color:          mkui.$component-active-color !default;
$input-indeterminate-bg-color:       mkui.$component-active-bg !default;
$input-indeterminate-border-color:   $input-indeterminate-bg-color !default;
$input-indeterminate-bg-image:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$input-indeterminate-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/></svg>") !default;

$input-disabled-opacity:        .5 !default;
$label-disabled-opacity:        $input-disabled-opacity !default;
$btn-check-disabled-opacity:    mkui.$btn-disabled-opacity !default;

$inline-margin-end:    1rem !default;
  {% endhighlight %}
</section>
