---
eleventyNavigation:
  key: select
  title: Select
  order: 2
metadata:
  title:
  description: Caixas de seleção, podendo conter um valor padrão, obrigatório e mais.
---

<h1>{{metadata.title}}</h1>
<p>{{metadata.description}}</p>

<h2>Exemplos</h2>
<div class="docs-example d-flex flex-column gap-3 pb-5 mb-5">
  {% set context = {
    label: 'Seleção',
    name: 'sample-select-1',
    id: 'sample-select-1',
    placeholder: 'Selecione',
    options: {
      'Opção Um': 1,
      'Opção Dois': 2,
      'Opção Três': 3
    }
  } %}
  {% include "select/select.njk" %}
  {% set context = {
    label: 'Seleção com label flutuante',
    name: 'sample-select-2',
    id: 'sample-select-2',
    placeholder: 'Selecione',
    variant: 'floating',
    options: {
      'Opção Um': 1,
      'Opção Dois': 2,
      'Opção Três': 3
    }
  } %}
  {% include "select/select.njk" %}
  {% set context = {
    size: 'lg',
    label: 'Seleção grande',
    name: 'sample-select-3',
    id: 'sample-select-3',
    placeholder: 'Selecione',
    options: {
      'Opção Um': 1,
      'Opção Dois': 2,
      'Opção Três': 3
    }
  } %}
  {% include "select/select.njk" %}
  {% set context = {
    size: 'sm',
    label: 'Seleção pequena',
    name: 'sample-select-4',
    id: 'sample-select-4',
    placeholder: 'Selecione',
    options: {
      'Opção Um': 1,
      'Opção Dois': 2,
      'Opção Três': 3
    }
  } %}
  {% include "select/select.njk" %}
  <div class="mb-4">
  {% set context = {
    label: 'Seleção com erro',
    name: 'sample-select-5',
    id: 'sample-select-5',
    placeholder: 'Selecione',
    required: true,
    isInvalid: true,
    invalidText: 'Esta seleção é obrigatória! Selecione uma opção.',
    options: {
      'Opção Um': 1,
      'Opção Dois': 2,
      'Opção Três': 3
    }
  } %}
  {% include "select/select.njk" %}
  </div>
  <div class="mb-5">
  {% set context = {
    label: 'Seleção com valor inicial',
    name: 'sample-select-6',
    id: 'sample-select-6',
    placeholder: 'Selecione',
    value: '2',
    options: {
      'Opção Um': 1,
      'Opção Dois': 2,
      'Opção Três': 3
    }
  } %}
  {% include "select/select.njk" %}
  </div>
</div>

{% highlight 'liquid' %}
  {% raw %}
<div class="docs-example d-flex flex-column gap-3 pb-5 mb-5">
  {% set context = {
    label: 'Seleção',
    name: 'sample-select-1',
    id: 'sample-select-1',
    placeholder: 'Selecione',
    options: {
      'Opção Um': 1,
      'Opção Dois': 2,
      'Opção Três': 3
    }
  } %}
  {% include "select/select.njk" %}
  {% set context = {
    label: 'Seleção com label flutuante',
    name: 'sample-select-2',
    id: 'sample-select-2',
    placeholder: 'Selecione',
    variant: 'floating',
    options: {
      'Opção Um': 1,
      'Opção Dois': 2,
      'Opção Três': 3
    }
  } %}
  {% include "select/select.njk" %}
  {% set context = {
    size: 'lg',
    label: 'Seleção grande',
    name: 'sample-select-3',
    id: 'sample-select-3',
    placeholder: 'Selecione',
    options: {
      'Opção Um': 1,
      'Opção Dois': 2,
      'Opção Três': 3
    }
  } %}
  {% include "select/select.njk" %}
  {% set context = {
    size: 'sm',
    label: 'Seleção pequena',
    name: 'sample-select-4',
    id: 'sample-select-4',
    placeholder: 'Selecione',
    options: {
      'Opção Um': 1,
      'Opção Dois': 2,
      'Opção Três': 3
    }
  } %}
  {% include "select/select.njk" %}
  <div class="mb-4">
  {% set context = {
    label: 'Seleção com erro',
    name: 'sample-select-5',
    id: 'sample-select-5',
    placeholder: 'Selecione',
    required: true,
    isInvalid: true,
    invalidText: 'Esta seleção é obrigatória! Selecione uma opção.',
    options: {
      'Opção Um': 1,
      'Opção Dois': 2,
      'Opção Três': 3
    }
  } %}
  {% include "select/select.njk" %}
  </div>
  <div class="mb-5">
  {% set context = {
    label: 'Seleção com valor inicial',
    name: 'sample-select-6',
    id: 'sample-select-6',
    placeholder: 'Selecione',
    value: '2',
    options: {
      'Opção Um': 1,
      'Opção Dois': 2,
      'Opção Três': 3
    }
  } %}
  {% include "select/select.njk" %}
  </div>
</div>
  {% endraw %}
{% endhighlight %}


<section id="scss">
  <h2 class="pt-4">Scss</h2>
  <h4>Variáveis</h4>
  {% highlight 'scss' %}
$padding-y:             mkui.$input-padding-y !default;
$padding-x:             mkui.$input-padding-x !default;
$font-family:           mkui.$input-font-family !default;
$font-size:             mkui.$input-font-size !default;
$indicator-padding:     $padding-x * 3 !default; // Extra padding for background-image
$font-weight:           mkui.$input-font-weight !default;
$line-height:           mkui.$input-line-height !default;
$color:                 mkui.$input-color !default;
$bg:                    mkui.$input-bg !default;
$disabled-color:        null !default;
$disabled-bg:           mkui.$gray-200 !default;
$disabled-border-color: mkui.$input-disabled-border-color !default;
$bg-position:           right $padding-x center !default;
$bg-size:               16px 12px !default; // In pixels because image dimensions
$indicator-color:       mkui.$gray-800 !default;
$indicator:             url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$indicator-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>") !default;

$feedback-icon-padding-end: $padding-x * 2.5 + $indicator-padding !default;
$feedback-icon-position:    center right $indicator-padding !default;
$feedback-icon-size:        mkui.$input-height-inner-half mkui.$input-height-inner-half !default;

$border-width:        mkui.$input-border-width !default;
$border-color:        mkui.$input-border-color !default;
$border-radius:       mkui.$border-radius !default;
$box-shadow:          mkui.$box-shadow-inset !default;

$focus-border-color:  mkui.$input-focus-border-color !default;
$focus-width:         mkui.$input-focus-width !default;
$focus-box-shadow:    0 0 0 $focus-width mkui.$input-btn-focus-color !default;

$padding-y-sm:        mkui.$input-padding-y-sm !default;
$padding-x-sm:        mkui.$input-padding-x-sm !default;
$font-size-sm:        mkui.$input-font-size-sm !default;

$padding-y-lg:        mkui.$input-padding-y-lg !default;
$padding-x-lg:        mkui.$input-padding-x-lg !default;
$font-size-lg:        mkui.$input-font-size-lg !default;

$transition:          mkui.$input-transition !default;
  {% endhighlight %}
</section>
