---
eleventyNavigation:
  key: text-field
  title: Text Field
  order: 3
metadata:
  title: Text Field
  description: Campos de texto que aceitam diversas configurações como obrigatório, texto de ajuda e mais.
---
<h1>{{metadata.title}}</h1>
<p>{{metadata.description}}</p>

<h2>Exemplos</h2>
<div class="docs-example d-flex flex-column gap-3">
  {% set context = {
      placeholder: 'Digite algo',
      label: 'Campo de texto',
      name: 'sample-input',
      id: 'sample-id'
    } %}
  {% include "text-field/text-field.njk" %}
  {% set context = {
      multiline: true,
      placeholder: 'Digite algo',
      label: 'Campo de área de texto',
      name: 'sample-input-2',
      id: 'sample-id-2'
    } %}
  {% include "text-field/text-field.njk" %}
  {% set context = {
      variant: 'floating',
      label: 'Campo de texto com label flutuante',
      name: 'sample-input-3',
      id: 'sample-id-3',
      required: true
    } %}
  {% include "text-field/text-field.njk" %}
  {% set context = {
      label: 'Campo de texto grande',
      name: 'sample-input-4',
      id: 'sample-id-4',
      size: 'lg'
    } %}
  {% include "text-field/text-field.njk" %}
  {% set context = {
      label: 'Campo de texto com ajuda',
      name: 'sample-input-5',
      id: 'sample-id-5',
      helperText: 'Este é um texto de ajuda.'
    } %}
  {% include "text-field/text-field.njk" %}
  <div class="mb-4">
  {% set context = {
      label: 'Campo de texto inválido',
      name: 'sample-input-5',
      id: 'sample-id-5',
      required: true,
      invalidText: 'Este campo de texto é obrigatório! Digite um valor.',
      isInvalid: true
    } %}
  {% include "text-field/text-field.njk" %}
  </div>
</div>
