@use '../../design-tokens' as mkui;

//
// Social bar icons
//

$light-color: mkui.$black !default;
$light-hover-color: mkui.$white;

$dark-color: mkui.$white !default;
$dark-hover-color: mkui.$black;

.socialbar {
  display: flex;
  @include mkui.font-size(1.5rem);
  margin-left: -0.25em;
  margin-right: -0.25em;

  &__item {
    display: block;
    padding-right: 0.25em;
    padding-left: 0.25em;
    text-decoration: none;
  }

  &--light{
    .socialbar__item{
      color: rgba($color: $light-color, $alpha: 0.75);
      &:hover {
        color: $light-color;
      }
    }
  }

  &--dark{
    .socialbar__item{
      color: rgba($color: $dark-color, $alpha: 0.75);
      &:hover {
        color: $dark-color;
      }
    }
  }
}
