{%- if context %}
  {% set items = context.items %}
  {% set squareIcons = context.squareIcons %}
  {%- if context.variant == "dark" -%}
    {% set variant = "socialbar--dark" %}
  {%- endif -%}
  {%- if context.variant == "light" -%}
    {% set variant = "socialbar--light" %}
  {%- endif -%}
  {%- if context.componentClasses %}
    {% set componentClasses = context.componentClasses %}
  {%- else %}
    {% set componentClasses = [] %}
  {%- endif %}
{%- endif %}

{% macro addItem(item) %}
{%- if item.href or item.text %}
<div class="socialbar__item">
  {% if item.href %}
    <a
      class="socialbar__link"
      href="{{ item.href | url | safe }}"
      {%- if item.external -%}
      target="__blank"
      rel="noopener"
      {%- endif -%}
    >
  {% endif %}
  {%- if item.icon == "facebook" %}
    <i class="fab fa-facebook{% if squareIcons %}-square{% endif %}"></i>
  {%- endif %}
  {%- if item.icon == "instagram" %}
    <i class="fab fa-instagram{% if squareIcons %}-square{% endif %}"></i>
  {%- endif %}
  {%- if item.icon == "linkedin" %}
    <i class="fab fa-linkedin{% if not squareIcons %}-in{% endif %}"></i>
  {%- endif %}
  {%- if item.icon == "youtube" %}
    <i class="fab fa-youtube{% if squareIcons %}-square{% endif %}"></i>
  {%- endif %}
  {%- if item.icon == "whatsapp" %}
    <i class="fab fa-whatsapp{% if squareIcons %}-square{% endif %}"></i>
  {% endif %}
  {%- if item.icon == "phone" %}
    <i class="fas fa-phone{% if squareIcons %}-square{% endif %}"></i>
  {% endif %}
  {%- if item.icon == "email" %}
    <i class="fas fa-envelope{% if squareIcons %}-square{% endif %}"></i>
  {% endif %}
</div>
{%- elif item.html %}
<div class="socialbar__item">
  {{ item.html | safe }}
</div>
{%- endif %}
{% endmacro %}

<div class="socialbar {{ variant | safe }} {{ componentClasses | join(" ") | safe }}">
  <div class="socialbar_items">
    {%- for item in items -%}
      {{ addItem(item) }}
    {%- endfor -%}
  </div>
</div>
