// Abas
ul.ui-tabs-nav {
    background: #d7e0f1 !important;
}

li.ui-state-default {
    border-color: #bac4d8 !important;
    &.ui-state-active a.ui-tabs-anchor {
        h2 {
            color: #000000 !important;
        }
    }
    a.ui-tabs-anchor {
        background: #d7e0f1;
        background-image: inherit !important;
        padding: 14px 14px !important;
        h2 {
            @media only screen and (min-width: 768px) {
                font-size: 15px !important;
            }
            line-height: 1.25 !important;
            font-weight: 500 !important;
            letter-spacing: 0px !important;
            color: #000000 !important;
            margin: 0 !important;
        }
    }
}

.tabs_vertical.ui-tabs .ui-tabs-panel {
    border: 1px solid rgb(197, 205, 221) !important;
    border-radius: 0px 5px 5px 0px !important;
}

@media only screen and (min-width: 768px) {
    .jq-tabs.tabs_vertical {
        display: flex;
        flex-wrap: wrap;
    }
    ul.ui-tabs-nav {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
    }
    .ui-tabs-panel.ui-widget-content {
        box-shadow: 1px -2px 7px -5px #cccccc;
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
    }
}