{%- extends 'base.njk' %}
{%- block content %}
  <div class="docs-grid container">
    {% include './partials/aside-nav.njk' %}
    <main class="docs-main overflow-hidden">
      {{ content | safe }}
    </main>
  </div>
{%- endblock %}
{{ content | safe }}