{%- extends 'base.njk' %}
{%- block content %}
  <div class="docs-grid container">
    <aside class="docs-sidebar">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Youtube Modal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Componente 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Componente 3</a>
        </li>
      </ul>
    </aside>
    <main class="docs-main">
      <h1>Youtube Modal</h1>
      <p>Lorem ipsum dolor sit amet, stet intellegat cu mei, pertinax oportere at sea. Eos an mutat blandit. Nec at nisl volumus appellantur, an his brute quodsi. Sit ceteros contentiones at, te summo discere pro.</p>
      <div class="row">
        <div class="col col-12 col-lg-6">
          {% set context = {
              "id": "FTQbiNvZqaY",
              "alt": "Toto Africa",
              "toggles_modal": true
            }
          %}
          {% include "video-teaser/video-teaser.njk" %}
        </div>
      </div>
    </main>
  </div>
{%- endblock %}
{{ content | safe }}