{%- extends 'base.njk' %}
{%- block content %}
  <main class="home-main">
    <div class="container">
      <div class="row">
        <div class="col col-12 text-center py-lg-5">
          <h1>Marke UI</h1>
        </div>
      </div>
    </div>
  </main>
{%- endblock %}
{{ content | safe }}