// 
// Documentation layout styles
//

.docs-grid {
  display: grid;
  padding-top: 2rem;
  padding-bottom: 2rem;
  grid-gap: 3rem;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    'sidebar main';
}

.docs-sidebar {
  grid-area: sidebar;
}

.docs-main {
  grid-area: main;
  h2 {
    margin-top: $spacer * 3;
  }
}

.docs-example {
  position: relative;
  padding: $spacer;
  margin-top: $spacer;
  border: solid $border-color;
  border-color: $border-color;
  border-width: $border-width;
  border-radius: $border-radius;
}