//
// Documentation layout styles
//

@use '../marke-ui' as mkui;

.docs-grid {
  display: grid;
  padding-top: 1rem;
  padding-bottom: 1rem;
  grid-gap: 1rem;
  grid-template-areas:
    'docs-menu'
    'main'
    'page-menu';
  @include mkui.media-breakpoint-up(lg) {
    display: grid;
    padding-top: 2rem;
    padding-bottom: 2rem;
    grid-gap: 2rem;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 'docs-menu main page-menu';
  }
  @include mkui.media-breakpoint-up(xl) {
    grid-gap: 3rem;
  }
}

.docs-menu {
  grid-area: docs-menu;
  @include mkui.media-breakpoint-up(lg) {
    overflow-y: auto;
    position: sticky;
    top: 1rem;
    height: calc(100vh - 7rem);
  }
}

.docs-main {
  grid-area: main;
}

.docs-main > h2,
.docs-section-title {
  margin-top: mkui.$spacer * 3;
}

.docs-page-menu {
  grid-area: page-menu;
}

.docs-example {
  position: relative;
  padding: mkui.$spacer;
  margin-top: mkui.$spacer;
  border: solid mkui.$border-color;
  border-color: mkui.$border-color;
  border-width: mkui.$border-width;
  border-radius: mkui.$border-radius;

  .card {
    max-width: 18rem;
  }
}

.docs-highlight {
  margin-top: mkui.$spacer * 0.75;
  border: solid mkui.$border-color;
  border-color: mkui.$border-color;
  border-width: mkui.$border-width;
  border-radius: mkui.$border-radius;

  & > * {
    margin: 0 !important;
    border-radius: inherit;
  }
}
