{%- if context %}
  {%- set content = context.content %}
  {%- if context.floatingLabel %}
    {%- set floatingLabel = context.floatingLabel %}
  {%- else %}
    {%- set floatingLabel = false %}
  {%- endif %}
  {%- set overrideAtts = context.overrideAtts %}
  {%- set overrideClasses = context.overrideClasses %}
  {%- if context.elTag %}
    {%- set elTag = context.elTag %}
  {%- else %}
    {%- set elTag = 'div' %}
  {%- endif %}
{%- endif %}

<{{ elTag }}
  class="
    form-control
    {%- if floatingLabel %} form-control--floating-label{%- endif %}
    {%- if overrideClasses %} {{ overrideClasses | join(' ') }} {%- endif %}
  "
  {%- if overrideAtts %}
    {%- for att, value in overrideAtts %}
      {{ att | e | safe }}="{{ value | e | safe }}"
    {%- endfor %}
  {%- endif %}
>{{ content | safe }}</{{ elTag }}>
