{%- if context %}
  {%- set signUrl = context.signUrl %}
  {%- set signLogo = context.signLogo %}
  {%- set signAltText = context.signAltText %}
  {%- set signTitleText = context.signTitleText %}
  {%- if context.signWidth %}
    {%- set signWidth = context.signWidth %}
  {%- else %}
    {%- set signWidth = 60 %}
  {%- endif %}
  {%- if context.signHeight %}
    {%- set signHeight = context.signHeight %}
  {%- else %}
    {%- set signHeight = 15 %}
  {%- endif %}
  {%- set copyrightText = context.copyrightText %}
  {%- if context.variant %}
    {%- set variant = context.variant %}
  {%- else %}
    {%- set variant = "" %}
  {%- endif %}
{%- endif %}

<div class="
  copyrightbar
  {% if variant %}copyrightbar--{{ variant | safe }}{% endif %}
">
  <div class="copyrightbar__text">{{ copyrightText | e | safe }}</div>
  <a class="copyrightbar__signature" href="{{ signUrl | url | safe }}" target="_blank" title="{{ signAltText | e | safe }}">
    <img
      class="copyrightbar__signature-image"
      alt="{{ signAltText | e | safe }}"
      title="{{ signTitleText | e | safe }}"
      loading="lazy"
      width="{{ signWidth | e | safe }}"
      height="{{ signHeight | e | safe }}"
      src="
        {%- 
          imageUrl signLogo, { 
            fetch_format: 'auto',
            quality: 'auto',
            width: signWidth,
            height: signHeight,
            crop: 'scale'
          } 
        %}
      "
      srcset="
        {%- 
          imageUrl signLogo, { 
            fetch_format: 'auto',
            quality: 'auto',
            width: signWidth,
            height: signHeight,
            crop: 'scale',
            dpr: 2
          } 
        %} 2x
      "
    >
  </a>
</div>