@use '../../design-tokens' as mkui;

//
// Copyrightbar component for footers.
//

$font-size: 0.875rem !default;
$gap: 0.5rem !default;
$padding-y: 1rem !default;
$padding-x: 1rem !default;

$dark-color: mkui.$white !default;

$light-color: mkui.$black !default;

.copyrightbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: $gap;
  padding-top: $padding-y;
  padding-bottom: $padding-y;
  padding-left: $padding-x;
  padding-right: $padding-x;

  @include mkui.media-breakpoint-up(lg) {
    flex-direction: row;
  }

  &__text {
    @include mkui.font-size($font-size);
  }

  &__signature {
    display: block;
    line-height: 1;
  }

  &__signature-image {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    vertical-align: inherit;
  }

  &--dark {
    color: $dark-color;
  }

  &--light {
    color: $light-color;
  }
}
