// 
// Copyrightbar component for footers.
//

$padding-y: 1rem !default;
$gap: .5rem !default;
$font-size: 0.875rem !default;

// dark styles
$dark-color: #f8f9fa !default;

// light styles
$light-color: #212529 !default;

.copyrightbar {
  padding-top: $padding-y;
  padding-bottom: $padding-y;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: $gap;
  @media (min-width: 992px) {
    flex-direction: row;
  }
}

.copyrightbar__text {
  font-size: $font-size;
}

.copyrightbar__signature {
  display: block;
  line-height: 1;
}

.copyrightbar__signature-image {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.copyrightbar--dark {
  color: $dark-color;
}

.copyrightbar--light {
  color: $light-color;
}

