<aside class="docs-sidebar">
  <h4>Componentes</h4>
  <ul class="nav ms-3 flex-column align-items-start">
    {% for entry in collections.page | eleventyNavigation("components") %}
    <li class="nav-item">
      <a 
        class="nav-link px-0 py-1 link-secondary small{% if entry.url == page.url %} active{% endif %}"
        {% if entry.url == page.url %} aria-current="page"{% endif %}
        href="{{ entry.url | url | safe }}"
      >
        <span {% if entry.url == page.url %}class="fw-bolder"{% endif %}>{{ entry.title | e | safe }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</aside>