{% set navbarLinks = collections.navbar | eleventyNavigation %}
<aside class="docs-sidebar">
  <ul class="nav flex-column">
    {% for home in navbarLinks %}
      {% if home.key == 'docs' %}
        {% for child in home.children %}
        {{ page.url | log }}
          <li class="nav-item">
            <a class="nav-link{% if child.url == page.url %} active{% endif %}"
              {% if child.url == page.url %} aria-current="page"{% endif %}
              href="{{ child.url | safe }}">{{ child.title }}
            </a>
          </li>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </ul>
</aside>