<header class="bg-dark">
  <div class="container">
    {% set navbarLinks = collections.navbar | eleventyNavigation("home") %}
    {% set context = {
      id: 'mkui-navbar',
      links: navbarLinks,
      children: navbarChildren,
      brandLogo: 'https://res.cloudinary.com/webmaster-marke/image/upload/v1620931656/Logo_Marke_dt6azg_pthlhj.svg',
      brandLogoMobile: 'https://res.cloudinary.com/webmaster-marke/image/upload/v1620931656/Logo_Marke_dt6azg_pthlhj.svg',
      brandUrl: "/"
    } %}
    {% include "navbar/navbar.njk" %}
  </div>
</header>
