<header class="page-header navbar navbar-dark bg-primary navbar-expand-lg">
  <div class="container-xxl">
    <a class="navbar-brand" href="{{ global.site_absolute_url | url | safe }}">
      <picture>
        <img 
          class="navbar-brand-logo"
          alt="Logo"
          width="100"
          src="https://marke.com.br/wp-content/uploads/2018/08/marke-consultoria-seo-marketing-digital-logo-negativo.svg"
        >
      </picture> 
    </a>
    <div class="collapse navbar-collapse" id="top-navbar-collapse">
      <ul class="navbar-nav">
      </ul>
    </div>
    <button id="navbar-site-menu-mobile-toggler" class="navbar-toggler site-menu-toggle" type="button" data-target="navbar-site-menu-mobile-overlay">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</header>